Repository space-sunrise/sunrise-station, pull requests merged in 2024-12, with the labels that each got.

#748 This is a temporary measure and will be reverted once the DMCA counterclaim process is completed.
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Standing/LayingDownSystem.cs
  Content.Client/Telescope/TelescopeSystem.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Server/Standing/LayingDownSystem.cs
  Content.Server/Telescope/TelescopeSystem.cs
  Content.Server/_Sunrise/Footprints/FootPrintsSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Camera/SharedCameraRecoilSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Standing/LayingDownComponent.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Telescope/SharedTelescopeSystem.cs
  Content.Shared/Telescope/TelescopeComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Locale/ru-RU/_strings/_sunrise/laying/laying.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/keybinds.yml
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Статус: Несортированный, Изменения: Локализация

#720 Теперь проще убирать следы
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/Options/UI/Tabs/SunriseTab.xaml.cs
  Content.Client/_Sunrise/Footprints/FootPrintsVisualizerSystem.cs
  Content.Server/Chemistry/TileReactions/CleanDecalsReaction.cs
  Content.Server/Chemistry/TileReactions/CleanTileReaction.cs
  Content.Server/_Sunrise/Cleaning/FoorprintAreaCleaningSystem.cs
  Content.Server/_Sunrise/Cleaning/FootprintAreaCleanerComponent.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Locale/ru-RU/_strings/_sunrise/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Статус: Несортированный, Изменения: Локализация, size/M

#746 Фикс валидатора локале
  Resources/Prototypes/_Sunrise/Recipes/Crafting/storagecanister.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/XS

#745 Хотфикс патологоанатома
  Resources/Prototypes/_Sunrise/Roles/Jobs/Medical/pathologist.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#741 Дополнительное энергетическое Оружие Щитсеков
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_security.rsi/base.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_security.rsi/disabler-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_security.rsi/disabler-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_security.rsi/equipped-BELT.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_security.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_security.rsi/lethal-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_security.rsi/lethal-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_security.rsi/mag-unshaded-0.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_security.rsi/mag-unshaded-1.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_security.rsi/mag-unshaded-2.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_security.rsi/mag-unshaded-3.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_security.rsi/mag-unshaded-4.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_security.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_security.rsi/mode-disabler.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_security.rsi/mode-lethal.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/base.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/disabler-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/disabler-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/equipped-BACKPACK.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/lethal-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/lethal-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/mag-unshaded-0.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/mag-unshaded-1.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/mag-unshaded-2.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/mag-unshaded-3.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/mag-unshaded-4.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/mode-disabler.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/energygun_tactical.rsi/mode-lethal.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация

#742 Fix: Шинели не позволяют носить на спине пушки.
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/coats.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/S

#753 Теперь можно выбирать иконки старших ролей.
  Resources/Prototypes/StatusIcon/job.yml
Labels: Нет C#, size/XS

#752 Мапа для ивентов от рыбьей станции
  Resources/Maps/_Sunrise/event/Torg.yml
  Resources/Maps/_Sunrise/event/clon_BOG.yml
  Resources/Maps/_Sunrise/event/clon_mine.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, size/XL

#754 Портативная консоль атмосферных угроз всем инженерам и атмосам.
  Content.Server/Atmos/Consoles/AtmosAlertsComputerSystem.cs
  Content.Shared/Atmos/Consoles/Components/AtmosAlertsComputerComponent.cs
  Resources/Audio/_Sunrise/Effects/beeps.ogg
  Resources/Locale/en-US/_strings/_sunrise/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/devices/handheld.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/handheld.yml
  Resources/Prototypes/_Sunrise/Loadouts/Miscellaneous/engineering.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Loadouts/role_loadouts.yml
  Resources/Prototypes/borg_types.yml
  Resources/Textures/_Sunrise/Objects/Devices/handheld_atmos_console.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Devices/handheld_atmos_console.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Devices/handheld_atmos_console.rsi/scanner.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/L

#762 Ручка магистрата
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/misc/pen.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/misc/pen.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/pen.yml
  Resources/Textures/_Sunrise/Objects/Misc/pens.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Misc/pens.rsi/pen_ueg-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Misc/pens.rsi/pen_ueg-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Misc/pens.rsi/pen_ueg.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#755 Реворк огнестрела под хитскан.
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnEventSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Projectiles/HitScanSpreadComponent.cs
  Content.Shared/Weapons/Ranged/Components/AmmoComponent.cs
  Content.Shared/Weapons/Ranged/Events/AmmoShotEvent.cs
  Content.Shared/Weapons/Ranged/HitscanPrototype.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/specific/robotics/borg_tools.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/robotics/borg_tools.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Robotics/borg_tools.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/bullet.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/bullet_tracer.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/meta.json
Labels: Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/L, S: Merge Conflict, size/XL

#766 Небольшие фиксы
  Resources/Locale/ru-RU/_strings/_sunrise/markings/demon.ftl
  Resources/Prototypes/_Sunrise/Entities/Mobs/Customization/Markings/demon.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/demon.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/S

#769 Визор оперативников для пилотов МЕХа
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/hud.yml
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/syndmech.rsi/equipped-EYES.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/syndmech.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/syndmech.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/syndmech.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/syndmech.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#770 Добавление ручки Центком Представителю NT
  Resources/Prototypes/_Sunrise/Roles/Jobs/Command/nanotrasenrepresentative.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный

#772 сбалансирована цель по просьбе игроков
  Resources/Locale/en-US/_strings/_sunrise/station-goal/station-goal-component.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/station-goal/station-goal-component.ftl
Labels: Нет C#, Изменения: Локализация, size/S

#773 Фиксы описания магазинов и оружия
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/ammunition/magazines/light_rifle.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/ammunition/magazines/magnum.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/ammunition/magazines/pistol.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/ammunition/magazines/rifle.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/ammunition/magazines/sniper.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/lmgs/lmgs.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/snipers/snipers.ftl
Labels: Нет C#, Статус: Несортированный, Изменения: Локализация, size/L

#775 Замена Оружия в Сейфе
  Resources/Locale/en-US/_prototypes/_sunrise/catalog/fills/lockers/security.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/lockers/security.ftl
  Resources/Prototypes/_Sunrise/Catalog/Fills/Lockers/security.yml
Labels: Нет C#, Статус: Несортированный, Изменения: Локализация, size/S

#774 Когти вульпам по просьбам трудящихся.
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/vulpkanin.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#781 Уборочный борг корректно убирает следы.
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/borg_types.yml
Labels: Нет C#, Статус: Несортированный

#724 "Это было в СС13"
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Sunrise/Maps/bagel.yml
  Resources/Prototypes/_Sunrise/Maps/box.yml
  Resources/Prototypes/_Sunrise/Maps/cog.yml
  Resources/Prototypes/_Sunrise/Maps/delta.yml
  Resources/Prototypes/_Sunrise/Maps/fland.yml
  Resources/Prototypes/_Sunrise/Maps/gelta.yml
  Resources/Prototypes/_Sunrise/Maps/marathon.yml
  Resources/Prototypes/_Sunrise/Maps/meta.yml
  Resources/Prototypes/_Sunrise/Maps/oasis.yml
  Resources/Prototypes/_Sunrise/Maps/train.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Command/nanotrasenrepresentative.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Law/iaa.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/departments.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/M

#779 Spawner for NT Gygax (ОБР)
  Resources/Locale/en-US/_prototypes/entities/markers/spawners/mechs.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/lmgs/lmgs.ftl
  Resources/Locale/ru-RU/_prototypes/entities/markers/spawners/mechs.ftl
  Resources/Maps/_Sunrise/Station/oasis.yml
  Resources/Prototypes/Entities/Markers/Spawners/mechs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/security.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Изменения: Локализация, size/M

#782 Добавил доступы магистрату в техтоннели
  Resources/Prototypes/_Sunrise/Roles/Jobs/Law/Magistrat.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#783 Медкартридж в КПК патологоанатома
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/pda.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный

#787 Buff:Viverna,Телепортер,Пояс щиты Синдиката + мелкие Fix локализации
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/snipers/snipers.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/specific/medical/defib.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/syndicate_teleporter.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
Labels: Нет C#, Статус: Несортированный, Изменения: Локализация, size/S

#797 Трассер под каждый тип Хитскан Пуль
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/buckshot-flare.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/buckshot.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/depleted-uranium.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/grapeshot.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/piercing.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/practice.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/rubber.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/shard.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/slug.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/uranium.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, size/M

#796 Исправление спрайта консоли атмосов
  Resources/Textures/_Sunrise/Objects/Devices/handheld_atmos_console.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Devices/handheld_atmos_console.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Devices/handheld_atmos_console.rsi/scanner.png
Labels: Нет C#, Изменения: Спрайты, size/XS

#792 Изменения Ящика SWAT
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/crates/security.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/swat_armor.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/swat_armor.rsi/equipped-OUTERCLOTHING.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/M

#784 Исправление в описании BR-64
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/snipers/snipers.ftl
Labels: Нет C#, Статус: Несортированный, Изменения: Локализация, size/XS

#803 remove my toy
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/luna.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация

#807 Remove flash damage
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/felinid.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/XS

#816 QOF для Боевого Борга СБ
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/silicon.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#812 Краска Пиратский Мех. Оружие для меха Пиратов.
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/mech_spray_paint.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Textures/Objects/Specific/Mech/gygax.rsi/piratgygax-broken.png
  Resources/Textures/Objects/Specific/Mech/gygax.rsi/piratgygax-open.png
  Resources/Textures/Objects/Specific/Mech/gygax.rsi/piratgygax.png
  Resources/Textures/_Sunrise/Objects/Fun/mech_spraycans/gygax.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/mech_spraycans/gygax.rsi/pirategax-cap.png
  Resources/Textures/_Sunrise/Objects/Fun/mech_spraycans/gygax.rsi/pirategax.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/mecha_piratecannon.rsi/mecha_piratecannon.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/mecha_piratecannon.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, size/L

#790 Наборы Боеприпасов Урановые/Зажигательные/Безгильзовые
  Resources/Locale/en-US/_prototypes/_sunrise/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/en-US/_prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/en-US/_prototypes/catalog/fills/crates/syndicate.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/weapons/guns/ammunition/magazines/light_rifle.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/weapons/guns/ammunition/magazines/pistol.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/weapons/guns/ammunition/magazines/shotgun.ftl
  Resources/Locale/en-US/_strings/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/ru-RU/_prototypes/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/_prototypes/catalog/fills/crates/syndicate.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/weapons/guns/ammunition/magazines/light_rifle.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/weapons/guns/ammunition/magazines/pistol.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/weapons/guns/ammunition/magazines/shotgun.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_strings/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Textures/Objects/Storage/boxes.rsi/l6_base.png
  Resources/Textures/Objects/Storage/boxes.rsi/l6_red.png
  Resources/Textures/Objects/Storage/boxes.rsi/l6_uranium.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/shotgun_base.png
  Resources/Textures/Objects/Storage/boxes.rsi/shotgun_red.png
  Resources/Textures/Objects/Storage/boxes.rsi/shotgun_uranium.png
  Resources/Textures/Objects/Storage/boxes.rsi/smg_base.png
  Resources/Textures/Objects/Storage/boxes.rsi/smg_red.png
  Resources/Textures/Objects/Storage/boxes.rsi/smg_uranium.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_box.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_box.rsi/red.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_box.rsi/uranium.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Shotgun/m12.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Shotgun/m12.rsi/uranium.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/L

#808 БЗ и хилиум
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/Atmos/Reactions/BZFormationReaction.cs
  Content.Server/Atmos/Reactions/HealiumProductionReaction.cs
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Locale/ru-RU/_prototypes/_sunrise/reagents/meta/gases.ftl
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/_Sunrise/Atmospherics/gases.yml
  Resources/Prototypes/_Sunrise/Atmospherics/reactions.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/_Sunrise/Reagents/gases.yml
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/bz-1.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/bz.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/can-connector.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/can-o0.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/can-o1.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/can-o2.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/can-o3.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/can-oa1.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/can-open.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/healium-1.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/healium.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/locked.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/scrubber-connector.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/scrubber-open.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/unlocked.png
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Статус: Несортированный, Изменения: Локализация, size/L

#806 Добавление доступов Синего Щита в ящик с имплантами "трекер"
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Crates/armory.yml
Labels: Нет C#, Статус: Несортированный, size/M

#817 Новые пушки для Мехов
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/mecha_antimatrifle.png
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/mecha_autocannon.png
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/grenade.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Projectiles/hitscan_tracer.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, size/L, S: Merge Conflict

#818 Фикс следов
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/effects/footstep.ftl
Labels: Изменения: Локализация, size/M

#819 Ограничено максимальное количество крыс
  Content.Server/RatKing/RatKingSystem.cs
  Content.Shared/RatKing/RatKingComponent.cs
  Resources/Locale/ru-RU/_strings/_sunrise/animals/rat-king/rat-king.ftl
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/S

#702 [Feature] Operative UI Style (#102)
  Resources/Locale/en-US/_prototypes/_sunrise/escape-menu/ui/options.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/escape-menu/ui/options.ftl
  Resources/Prototypes/_Sunrise/hud.yml
  Resources/Prototypes/_Sunrise/themes.yml
  Resources/Textures/_Sunrise/Interface/Operative/SlotBackground.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/back.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/belt.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/ears.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/ears_extra.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/glasses.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/gloves.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/hand_l.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/hand_l_no_letter.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/hand_r.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/hand_r_no_letter.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/head.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/id.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/mask.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/neck.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/pocket.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/shoes.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/socks.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/suit.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/suit_storage.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/toggle-alt.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/toggle.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/underwearb.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/underweart.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/uniform.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/web.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/wrists.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/piece_bottom.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/piece_bottomLeft.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/piece_bottomRight.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/piece_center.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/piece_left.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/piece_right.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/piece_top.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/piece_topLeft.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/piece_topRight.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/sidebar_bottom.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/sidebar_mid.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/sidebar_top.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/tile_blocked.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/tile_blocked_opaque.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/tile_empty.png
  Resources/Textures/_Sunrise/Interface/Operative/Storage/tile_empty_opaque.png
  Resources/Textures/_Sunrise/Interface/Operative/item_status_left.png
  Resources/Textures/_Sunrise/Interface/Operative/item_status_left_highlight.png
  Resources/Textures/_Sunrise/Interface/Operative/item_status_right.png
  Resources/Textures/_Sunrise/Interface/Operative/item_status_right_highlight.png
  Resources/Textures/_Sunrise/Interface/Operative/slot_highlight.png
  Resources/Textures/_Sunrise/Interface/Operative/template_small.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Локализация, size/S

#628 Обновление брифинга Дракона
  Resources/Locale/ru-RU/_strings/dragon/dragon.ftl
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Локализация

#809 Малые балансные правки в мехов
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/L

#821 Дополнительная покраска Гигакс
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/fun/mech_spray_paint.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/mech_spray_paint.ftl
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/mech_spray_paint.yml
  Resources/Textures/Objects/Specific/Mech/gygax.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/M

#825 Хилиум и БЗ
  Content.Server/Atmos/Reactions/HealiumProductionReaction.cs
  Resources/Prototypes/_Sunrise/Atmospherics/gases.yml
  Resources/Prototypes/_Sunrise/Reagents/gases.yml
  Resources/Textures/_Sunrise/Effects/atmospherics.rsi/bz.png
  Resources/Textures/_Sunrise/Effects/atmospherics.rsi/healium.png
  Resources/Textures/_Sunrise/Effects/atmospherics.rsi/meta.json
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, size/M

#827 Изменён размер AKM-У
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/XS

#828 Update Molot Sprite
  Resources/Textures/Objects/Specific/Mech/gygax.rsi/molot-broken.png
  Resources/Textures/Objects/Specific/Mech/gygax.rsi/molot-open.png
  Resources/Textures/Objects/Specific/Mech/gygax.rsi/molot.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, size/XS

#834 Обновление вампира
  Content.Server/GameTicking/Rules/VampireRuleSystem.cs
  Content.Server/Vampire/VampireSystem.Abilities.cs
  Content.Server/Vampire/VampireSystem.cs
  Content.Shared/Vampire/VampireAlertComponent.cs
  Content.Shared/Vampire/VampireComponent.cs
  Content.Shared/Vampire/VampireEvents.cs
  Resources/Prototypes/Actions/vampire.yml
  Resources/Prototypes/Alerts/vampire.yml
  Resources/Prototypes/Entities/Effects/lightning.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/StatusIcon/faction.yml
  Resources/Prototypes/Vampire/vampire-powers.yml
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/L

#855 alt-switching for borgs
  Content.Server/_Sunrise/SolutionRegenerationSwitcher/SolutionRegenerationSwitcherComponent.cs
  Content.Server/_Sunrise/SolutionRegenerationSwitcher/SolutionRegenerationSwitcherSystem.cs
  Resources/Locale/en-US/_strings/_sunrise/autoregen-switcher/solution-regeneration-switcher.ftl
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/M

#856 disable chunk opt
  Content.Server/Parallax/BiomeSystem.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#849 Корона Сингуло
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Textures/_Sunrise/Clothing/Head/Hats/crown_singulo.rsi/equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/crown_singulo.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Head/Hats/crown_singulo_icon.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/crown_singulo_icon.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, size/L

#848 Убрал Оазис из Маппула
  Resources/Prototypes/_Sunrise/Maps/Pools/default.yml
Labels: Нет C#, Статус: Несортированный

#858 Глава Персонала, КМ, НР, ГВ, СИ - Могут стать антагонистами
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: Нет C#, Статус: Несортированный, size/S

#868 Дебаф удара бипски и фикс переработки стали
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#864 Фикс коллизии турелей
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#859 ERT Amber Armor
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/outerclothing/armor.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_chap.rsi/equipped-OUTERCLOTHING-light.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_chap.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_chap.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_chap.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_chap.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_chap.rsi/light-overlay.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_chap.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_com.rsi/equipped-OUTERCLOTHING-light.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_com.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_com.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_com.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_com.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_com.rsi/light-overlay.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_com.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_eng.rsi/equipped-OUTERCLOTHING-light.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_eng.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_eng.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_eng.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_eng.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_eng.rsi/light-overlay.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_eng.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_jan.rsi/equipped-OUTERCLOTHING-light.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_jan.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_jan.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_jan.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_jan.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_jan.rsi/light-overlay.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_jan.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_med.rsi/equipped-OUTERCLOTHING-light.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_med.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_med.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_med.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_med.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_med.rsi/light-overlay.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_med.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_sec.rsi/equipped-OUTERCLOTHING-light.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_sec.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_sec.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_sec.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_sec.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_sec.rsi/light-overlay.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Armor/amber_armor_sec.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация

#846 Обновление Аванпоста ЦК, Фиксы локали оператора цк
  Resources/Locale/en-US/_prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/en-US/_strings/_sunrise/job/job-names.ftl
  Resources/Locale/en-US/_strings/job/job-names.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/misc/identification_cards.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/job/job-names.ftl
  Resources/Locale/ru-RU/_strings/job/job-names.ftl
  Resources/Maps/_Sunrise/CentCommOutpostERT.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/CentralCommand/centcom_operator.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, Изменения: Локализация, size/XL

#872 Охранно-Диагностический Визор
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/eyes/hud.ftl
  Resources/Maps/_Sunrise/CentCommOutpostERT.yml
  Resources/Prototypes/Actions/changeling.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/base.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/diag_nt.rsi/equipped-EYES.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/diag_nt.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/diag_nt.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/diag_nt.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/diag_nt.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Карты, Статус: Несортированный, Изменения: Локализация, size/L

#876 Фикс рук фелинидов
  Resources/Prototypes/_Sunrise/Body/Prototypes/demon.yml
  Resources/Prototypes/_Sunrise/Body/Prototypes/felinid.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#877 Фикс спрайта телескопички
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Melee/telebaton.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#883 Доступы для Мехов и Патрульный Под
  Content.Server/Mech/Systems/MechSystem.cs
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/specific/mech/mechs.ftl
  Resources/Locale/en-US/_prototypes/entities/markers/spawners/mechs.ftl
  Resources/Locale/en-US/_strings/mech/mech.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/mech/mechs.ftl
  Resources/Locale/ru-RU/_prototypes/entities/markers/spawners/mechs.ftl
  Resources/Locale/ru-RU/_strings/mech/mech.ftl
  Resources/Prototypes/Entities/Markers/Spawners/mechs.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Textures/_Sunrise/Objects/Specific/Mech/sec_pod.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/Mech/sec_pod.rsi/sec_pod.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/sec_pod.rsi/sec_pod_broken.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/sec_pod.rsi/sec_pod_open.png
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/L

#885 Скафандр ниндзи больше нельзя проколоть при помощи гипоспрея
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: Нет C#, Статус: Несортированный, size/XS

#886 Исправление ошибки переключения одежды превью персонажа в лобби
  Content.Client/Lobby/LobbyUIController.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#888 Fallback Fix
  Content.Server/GameTicking/GameTicker.GamePreset.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/M

#890 Добавление в консоль доступов новых ролей
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#893 Фикс Ночного зрения и ПНВ
  Content.Client/_Sunrise/Eye/NightVision/NightVisionDeviceVisualsSystem.cs
  Content.Client/_Sunrise/Eye/NightVision/NightVisionSystem.cs
  Content.Shared/_Sunrise/Eye/NightVision/Systems/NightVisionDeviceSystem.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/M

#894 Ну типа да
  Resources/Prototypes/_Sunrise/Entities/Structures/Machines/Computers/computers.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#895 Взрывы это весело
  Resources/Maps/_Sunrise/Station/meta.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, size/L

#896 Пау
  Resources/Locale/en-US/_prototypes/_sunrise/entities/mobs/customization/markings/human_top.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/mobs/customization/markings/human_top.ftl
  Resources/Prototypes/_Sunrise/Entities/Mobs/Customization/Markings/human_top.yml
  Resources/Textures/_Sunrise/Mobs/Customization/human_top.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Customization/human_top.rsi/snake_horn.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#898 Баг Адвоката
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/departments.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#897 No way, Оптимизация
  Resources/Textures/_Sunrise/Mobs/Aliens/96x96megafauna.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Aliens/hulk.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Aliens/narsie.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#900 Meta Moment
  Resources/Maps/_Sunrise/Station/meta.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный

#904 BOOOOX
  Resources/Maps/_Sunrise/Station/box.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты

#903 Фикс бага с лимитом крыс у Крысиного Короля.
  Content.Server/RatKing/RatKingSystem.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#908 Временные 100% на музыку NukeMass (ЯОждество )
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#910 Nerf Raid Suit
  Resources/Locale/ru-RU/_prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/_strings/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Textures/Clothing/Head/Helmets/syndie-raid.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/S

#891 Новая панель эмоутов.
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Chat/UI/EmotesMenu.xaml.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Standing/StandingStateSystem.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Systems/Emotes/EmotesUIController.cs
  Content.Client/UserInterface/Systems/MenuBar/Widgets/GameTopMenuBar.xaml
  Content.Client/_Sunrise/Animations/EmoteAnimationSystem.cs
  Content.Client/_Sunrise/UserActions/Tabs/BaseTabControl.cs
  Content.Client/_Sunrise/UserActions/Tabs/EmotesTabControl.cs
  Content.Client/_Sunrise/UserActions/Tabs/EmotesTabControl.xaml
  Content.Client/_Sunrise/UserActions/Tabs/VerbsTabControl.cs
  Content.Client/_Sunrise/UserActions/Tabs/VerbsTabControl.xaml
  Content.Client/_Sunrise/UserActions/UserActionUIController.cs
  Content.Client/_Sunrise/UserActions/UserActionUISystem.cs
  Content.Client/_Sunrise/UserActions/UserActionsPanel.cs
  Content.Client/_Sunrise/UserActions/UserActionsPanel.xaml
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Server/Morgue/CrematoriumSystem.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Server/Speech/EmotesMenuSystem.cs
  Content.Server/Standing/StandingStateSystem.cs
  Content.Server/_Sunrise/Animations/EmoteAnimationSystem.cs
  Content.Server/_Sunrise/Carrying/CarryingSystem.cs
  Content.Server/_Sunrise/Footprints/FootPrintsSystem.cs
  Content.Server/_Sunrise/Footprints/PuddleFootPrintsSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.cs
  Content.Shared/Chat/Prototypes/EmotePrototype.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Medical/Cryogenics/SharedCryoPodSystem.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Mobs/Systems/MobStateSystem.cs
  Content.Shared/Morgue/EntityStorageLayingDownOverrideSystem.cs
  Content.Shared/Standing/SharedStandingStateSystem.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateEvents.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Traits/Assorted/LegsParalyzedSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_Sunrise/Animations/EmoteAnimationComponent.cs
  Content.Shared/_Sunrise/Medical/Surgery/SharedSurgerySystem.cs
  Resources/Locale/en-US/_strings/_sunrise/user-action-control/user-action-control.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/user-action-control/user-action-control.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_Sunrise/Actions/animations.yml
  Resources/keybinds.yml
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Статус: Несортированный, Изменения: Локализация, size/M

#913 Фикс взаимоотношений фракций
  Resources/Prototypes/_Sunrise/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/M

#916 БОКС
  Resources/Maps/_Sunrise/Station/box.yml
  Resources/Prototypes/_Sunrise/Maps/box.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, size/XL

#918 Minor Nerf\Buff
  Resources/Locale/ru-RU/_prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/ntuplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/_Sunrise/Catalog/ert_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/box_shot_flare.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/meta.json
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/sec_flaregun.png
Labels: Нет C#, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#929 2 new Contraband Poster
  Resources/Locale/en-US/_prototypes/_sunrise/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/structures/wallmounts/signs/posters.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_Sunrise/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Wallmounts/posters.rsi/sunriseposter2_contraband.png
  Resources/Textures/_Sunrise/Structures/Wallmounts/posters.rsi/sunriseposter3_contraband.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/S

#925 Добавлены "Этикетки" на баллончиках краски мехов
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/mech_spray_paint.ftl
Labels: Нет C#, Статус: Несортированный, Изменения: Локализация, size/S

#928 Свиноматерь
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Body/Components/StomachComponent.cs
  Content.Server/FaceCast/FaceCastComponent.cs
  Content.Server/FaceCast/FaceCastSystem.cs
  Content.Server/Nutrition/EntitySystems/AnimalHusbandrySystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Saw/SawComponent.cs
  Content.Server/Saw/SawSystem.cs
  Content.Shared/Nutrition/AnimalHusbandry/ReproductiveComponent.cs
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/boxes/misc.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/chapel/bible.ftl
  Resources/Locale/ru-RU/_strings/nutrition/components/animal-husbandry.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Sunrise/Body/Organs/animal.yml
  Resources/Prototypes/_Sunrise/Body/Prototypes/animal.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Boxes/misc.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Objects/Storage/boxes.rsi/facecast.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Mask/facecast.rsi/equipped-MASK.png
  Resources/Textures/_Sunrise/Clothing/Mask/facecast.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Mask/facecast.rsi/meta.json
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#935 чатстак
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_Sunrise/UI/Controls/SunriseOutputPanel.cs
  Content.Client/_Sunrise/UI/Controls/SunriseRichTextEntry.cs
  Content.Client/_Sunrise/UI/Controls/SunriseRingBufferList.cs
  Content.Client/_Sunrise/UI/Controls/SunriseWordWrap.cs
  Content.Shared/Chat/MsgChatMessage.cs
Labels: Изменения: Интерфейс, Статус: Несортированный, size/L

#937 Александар fixes
  Content.Server/Bible/BibleSystem.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#938 стамина при беге, инверт
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Movement/Components/InputMoverComponent.cs
  Content.Shared/Movement/Components/MovementSpeedModifierComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Resources/Locale/ru-RU/_strings/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/hellspawn.yml
  Resources/Prototypes/Entities/Mobs/NPCs/mimic.yml
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Prototypes/Entities/Mobs/NPCs/shadows.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/Player/terminator.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/demon.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/mechs.yml
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/M

#939 fix bubbles
  Content.Client/Chat/UI/SpeechBubble.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#940 ERT Uplink: новые позиции в каталоге
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/storage/duffelbag.ftl
  Resources/Locale/en-US/_strings/_sunrise/store/ntuplink-catalog.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/storage/duffelbag.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/ntuplink-catalog.ftl
  Resources/Locale/ru-RU/_strings/store/currency.ftl
  Resources/Prototypes/_Sunrise/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Sunrise/Catalog/ert_uplink_catalog.yml
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/deploy_barrier.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/hristov.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/meta.json
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/nuke_pinpointer.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/nvd.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/port_recharge.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/universal_pinpointer.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#947 реверт чатстака на время фиксов
  Content.Client/Chat/UI/SpeechBubble.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_Sunrise/UI/Controls/SunriseOutputPanel.cs
  Content.Client/_Sunrise/UI/Controls/SunriseRichTextEntry.cs
  Content.Client/_Sunrise/UI/Controls/SunriseRingBufferList.cs
  Content.Client/_Sunrise/UI/Controls/SunriseWordWrap.cs
  Content.Shared/Chat/MsgChatMessage.cs
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Статус: Несортированный

#946 Фикс суперматерии
  Content.Server/Supermatter/EntitySystems/SupermatterSystem.cs
  Resources/Locale/ru-RU/_strings/supermatter/supermatter.ftl
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация

#949 Микро-рефактор следов
  Content.Client/_Sunrise/Footprints/FootPrintsVisualizerSystem.cs
  Content.Shared/_Sunrise/Footprints/FootprintsSerializables.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#948 Мехи больше не могут обратиться в зомби
  Content.Server/Zombies/ZombieSystem.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#950 Красивое освещение
  Content.Shared/MouseRotator/MouseRotatorComponent.cs
  Resources/Textures/Effects/LightMasks/cone.png
  Resources/Textures/Effects/LightMasks/soft_cone.png
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#952 Фикс микрорефактора следов
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/S

#956 Апстрим локализации
  Resources/Locale/ru-RU/_strings/_sunrise/atmos/gas-pipe-sensor.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/autoregen-switcher/solution-regeneration-switcher.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/components/atmos-monitoring-component.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/clothing.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/furniture.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/lighting.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/machines.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/misc.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/storage.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/tools.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/utilities.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/weapons.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/holopad/holopad.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/intellicard/intellicard.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/movement/pulling.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/singularity/components/generator-component.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/station-events/events/greytide-virus.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/telephone/telephone.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/tools/components/tool-component.ftl
  Resources/Locale/ru-RU/_strings/construction/ui/construction-menu.ftl
  Resources/Locale/ru-RU/_strings/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/_strings/preferences/ui/character-setup-gui.ftl
Labels: Нет C#, Статус: Несортированный, Изменения: Локализация, size/M

#958 Карты к НГ от Хатико
  Resources/Maps/_Sunrise/event/bar_hatl_final_1.yml
  Resources/Maps/_Sunrise/event/cargohatle_final_2.yml
  Resources/Maps/_Sunrise/event/hatle_prib_final_1.yml
  Resources/Maps/_Sunrise/event/mappp_final_1.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, size/XL

#960 ERT Uplink: Гранаты
  Resources/Locale/en-US/_prototypes/_sunrise/catalog/fills/boxes/nanotrasen.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/en-US/_strings/_sunrise/store/categories.ftl
  Resources/Locale/en-US/_strings/_sunrise/store/ntuplink-catalog.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/boxes/nanotrasen.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/categories.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/ntuplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Store/presets.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Boxes/nanotrasen.yml
  Resources/Prototypes/_Sunrise/Catalog/ert_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_Sunrise/Store/categories.yml
  Resources/Textures/Objects/Storage/boxes.rsi/incendiary.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/shrapnel.png
  Resources/Textures/Objects/Storage/boxes.rsi/stinger.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/box_ertrattle.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/box_incendiary.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/box_shrapnel.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/box_stinger.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#963 better roadmap ui
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/_Sunrise/Roadmap/Roadmap.xaml
  Content.Client/_Sunrise/Roadmap/Roadmap.xaml.cs
  Content.Client/_Sunrise/Roadmap/RoadmapItem.xaml
  Content.Client/_Sunrise/Roadmap/RoadmapItem.xaml.cs
  Content.Client/_Sunrise/Roadmap/RoadmapVersionHeader.xaml
  Content.Client/_Sunrise/Roadmap/RoadmapWindow.xaml
  Content.Shared/_Sunrise/Roadmap/RoadmapVersionsPrototype.cs
Labels: Изменения: Интерфейс, Статус: Несортированный, size/M

#969 БАГЕЛЬ Update map
  Resources/Maps/_Sunrise/Station/bagel.yml
Labels: Нет C#, Изменения: Карты, Статус: Несортированный, size/XL

#974 полный новый трейн
  Resources/Maps/_Sunrise/Station/train.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, size/XL

#979 roadmap small update
  Content.Client/_Sunrise/Roadmap/RoadmapItem.xaml
  Resources/Locale/ru-RU/_strings/_sunrise/roadmap/roadmap-menu.ftl
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Интерфейс, Статус: Несортированный, Изменения: Локализация, size/S

#986 фикс ног и иконок культа плоти
  Content.Server/_Sunrise/FleshCult/FleshCultistSystem.cs
  Content.Shared/_Sunrise/FleshCult/FleshCultistComponent.cs
  Content.Shared/_Sunrise/FleshCult/FleshMobComponent.cs
  Resources/Prototypes/_Sunrise/FleshCult/body_mods.yml
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#987 Battery Guns
  Resources/Locale/en-US/_prototypes/_sunrise/catalog/fills/crates/armory.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/crates/armory.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_Sunrise/Catalog/ert_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Sunrise/Research/arsenal.yml
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/lnt620.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/batterylaser_carbine.rsi/base.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/batterylaser_carbine.rsi/equipped-BACKPACK.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/batterylaser_carbine.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/batterylaser_carbine.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/batterylaser_carbine.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/batterylaser_carbine.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/batterylaser_carbine.rsi/mag-unshaded-0.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/batterylaser_carbine.rsi/mag-unshaded-1.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/batterylaser_carbine.rsi/mag-unshaded-2.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/batterylaser_carbine.rsi/mag-unshaded-3.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/batterylaser_carbine.rsi/mag-unshaded-4.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/batterylaser_carbine.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/smg_laser.rsi/base.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/smg_laser.rsi/equipped-BACKPACK.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/smg_laser.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/smg_laser.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/smg_laser.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/smg_laser.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/smg_laser.rsi/mag-unshaded-0.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/smg_laser.rsi/mag-unshaded-1.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/smg_laser.rsi/mag-unshaded-2.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/smg_laser.rsi/mag-unshaded-3.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/smg_laser.rsi/mag-unshaded-4.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/smg_laser.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация

#989 ERT: Только Люди
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/helmets.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/M

#990 Фикс Линтера
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный
