Repository space-sunrise/sunrise-station, pull requests merged in 2024-10, with the labels that each got.

#426 Плюшевая Холо
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-suvagesi.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#424 Фикс аплинка
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_silent_catalog.yml
  Resources/Prototypes/_Sunrise/tags.yml
Labels: No C#, Status: Needs Review

#432 added centcomm outpost from parashut
  Resources/Maps/_Sunrise/CentCommOutpostERT.yml
Labels: No C#, Changes: Map, Status: Needs Review

#407 Ребаланс ОСЩ
  Resources/Prototypes/_Sunrise/Catalog/Fills/Lockers/blueshield.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Blueshield/blueshield.yml
Labels: No C#, Status: Needs Review

#434 Added new TTS-voice - Riki from Dota 2
  Resources/Locale/ru-RU/_strings/_sunrise/tts/tts-voices-sunrise.ftl
  Resources/Prototypes/_Sunrise/tts_voices_sunrise.yml
Labels: No C#, Status: Needs Review

#435 NEWERA STATION SPONSOR THINGS
  Resources/Prototypes/_Sunrise/Catalog/Loadout/sponsor.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ghost_themes.yml
  Resources/Prototypes/_Sunrise/neweraplinks.yml
  Resources/Textures/_Sunrise/Entities/Objects/Devices/newera_uplink.rsi/icon-on.png
  Resources/Textures/_Sunrise/Entities/Objects/Devices/newera_uplink.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Entities/Objects/Devices/newera_uplink.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Entities/Objects/Devices/newera_uplink.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Ghosts/cat_ghost_human.rsi/icon.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/cat_ghost_human.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#447 Плюшевый смайл и плюшевая Лили Бартон
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-prototupus.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-smile.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#417 LieDown pressing R
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/_Sunrise/KeyBinds.cs
  Content.Shared/_Sunrise/LieDownPressingButton/LieDownComponent.cs
  Content.Shared/_Sunrise/LieDownPressingButton/LieDownPressingButtonComponent.cs
  Content.Shared/_Sunrise/LieDownPressingButton/SharedLieDownPressingButtonSystem.cs
  Resources/Locale/ru-RU/_strings/_sunrise/keybinds.ftl
  Resources/keybinds.yml
Labels: Changes: UI, Status: Needs Review

#451 tweaks
  Content.Client/_Sunrise/LayDown/LieDownPressingButtonSystem.cs
  Content.Server/Salvage/RestrictedRangeSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/_Sunrise/LieDown/LieDownPressingButtonSystem.cs
  Content.Server/_Sunrise/PlanetPrison/PlanetPrisonStationSystem.cs
  Content.Shared/_Sunrise/LieDownPressingButton/LieDownComponent.cs
  Content.Shared/_Sunrise/LieDownPressingButton/SharedLieDownPressingButtonSystem.cs
Labels: Status: Needs Review

#453 Плюшевай смайл теперь блюмпкает
  Resources/Audio/_Sunrise/Voice/Slime/блааамп.ogg
  Resources/Audio/_Sunrise/Voice/Slime/блабл-бламп.ogg
  Resources/Audio/_Sunrise/Voice/Slime/бламп.ogg
  Resources/Audio/_Sunrise/Voice/Slime/блимпаф.ogg
  Resources/Audio/_Sunrise/Voice/Slime/блюмп.ogg
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Sunrise/SoundCollections/misc.yml
Labels: No C#, Status: Needs Review

#448 Фиксы
  Resources/Locale/ru-RU/_strings/_sunrise/serverhub/serverhub.ftl
  Resources/Locale/ru-RU/_strings/shuttles/console.ftl
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/nanopaste.yml
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-black.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-black.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-black.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-white.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-white.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-white.rsi/inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#431 Оптимизация и обновление ночного виденья
  Content.Client/_Sunrise/Eye/NightVision/NVGSystem.cs
  Content.Client/_Sunrise/Eye/NightVision/NightVisionOverlay.cs
  Content.Shared/_Sunrise/Eye/NightVision/Components/NVGComponent.cs
  Content.Shared/_Sunrise/Eye/NightVision/Components/NightVisionComponent.cs
  Content.Shared/_Sunrise/Eye/NightVision/Systems/NVGSystem.cs
  Content.Shared/_Sunrise/Eye/NightVision/Systems/NightVisionSystem.cs
  Resources/Audio/_Sunrise/Items/night_vision_off.ogg
  Resources/Audio/_Sunrise/Items/night_vision_on.ogg
  Resources/Audio/_Sunrise/Misc/night-vision-sound-effect_E_minor.ogg
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/nvg.yml
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvg.rsi/equipped-EYES-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvg.rsi/icon-flash.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvg.rsi/icon-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvg.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvg.rsi/inhand-left-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvg.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvg.rsi/inhand-right-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvg.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvg.rsi/light-overlay.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvg.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvg.rsi/off-equipped-EYES.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvg.rsi/on-equipped-EYES.png
Labels: Changes: Sprites, Status: Needs Review

#446 Фикс Train
  Resources/Maps/_Sunrise/Station/train.yml
Labels: No C#, Changes: Map, Status: Needs Review

#425 Обновление энергетических щитов
  Content.Server/EnergyDome/EnergyDomeGeneratorComponent.cs
  Content.Server/EnergyDome/EnergyDomeSystem.cs
  Content.Shared/EnergyDome/SharedEnergyDomeComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/tools/energydome.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/tools/energydome.ftl
  Resources/Prototypes/Entities/Effects/dome.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Tools/energydome.yml
  Resources/Prototypes/_Sunrise/tags.yml
  Resources/Textures/_Sunrise/Objects/Tools/EnergyDome/nanotrasen_belt.rsi/equipped-BELT.png
  Resources/Textures/_Sunrise/Objects/Tools/EnergyDome/nanotrasen_belt.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Tools/EnergyDome/nanotrasen_belt.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Tools/EnergyDome/nanotrasen_belt.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Tools/EnergyDome/nanotrasen_belt.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Tools/EnergyDome/syndie_back.rsi/equipped-BACKPACK.png
  Resources/Textures/_Sunrise/Objects/Tools/EnergyDome/syndie_back.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Tools/EnergyDome/syndie_back.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Tools/EnergyDome/syndie_back.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Tools/EnergyDome/syndie_back.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#464 Добавлена плюшка Виктории Белой
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-CFB.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#462 Маленькое исправление описания способности армблейда.
  Resources/Locale/ru-RU/_strings/store/changeling-catalog.ftl
Labels: No C#, Status: Needs Review

#461 Мешок с землей
  Content.Server/_Sunrise/Soil/SoilComponent.cs
  Content.Server/_Sunrise/Soil/SoilSystem.cs
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/crates/hydroponics.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/misc/soil.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/soil/soil.ftl
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_hydroponics.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Crates/soil.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/soil.yml
  Resources/Textures/_Sunrise/Objects/Misc/soil.rsi/item.png
  Resources/Textures/_Sunrise/Objects/Misc/soil.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#460 Апстрим локализации
  Resources/Locale/en-US/_prototypes/_sunrise/actions/ghost_actions.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/back/duffel.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/eyes/nvg.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/tools/energydome.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/holidays.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/neweraplinks.ftl
  Resources/Locale/en-US/_prototypes/entities/clothing/neck/misc.ftl
  Resources/Locale/en-US/_prototypes/entities/clothing/neck/pins.ftl
  Resources/Locale/en-US/_prototypes/entities/effects/dome.ftl
  Resources/Locale/en-US/_prototypes/entities/mobs/npcs/silicon.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/devices/syndicate_gadgets/camera_bug.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/misc/business_card.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/misc/tiles.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/specific/syndicate.ftl
  Resources/Locale/en-US/_prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/en-US/_prototypes/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Locale/en-US/_prototypes/entities/structures/doors/airlocks/assembly.ftl
  Resources/Locale/en-US/_prototypes/objectives/thief.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/actions/ghost_actions.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/tools/energydome.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/holidays.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/neweraplinks.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/_prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/devices/electronics/exosuit_components.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/devices/syndicate_gadgets/camera_bug.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/misc/business_card.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/specific/mech/weapons/gun/combat.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/specific/mech/weapons/gun/debug.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/specific/mech/weapons/melee/debug.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/keybinds.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/serverhub/serverhub.ftl
  Resources/Locale/ru-RU/_strings/accessories/human-hair.ftl
  Resources/Locale/ru-RU/_strings/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/_strings/discord/vote-notifications.ftl
  Resources/Locale/ru-RU/_strings/ensnare/ensnare-component.ftl
  Resources/Locale/ru-RU/_strings/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/_strings/interaction/interaction-system.ftl
  Resources/Locale/ru-RU/_strings/npc/firebot.ftl
  Resources/Locale/ru-RU/_strings/paper/syndicate-business-card.ftl
  Resources/Locale/ru-RU/_strings/silicons/station-ai.ftl
  Resources/Locale/ru-RU/_strings/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_strings/tiles/tiles.ftl
  Tools/_sunrise/en_syntax_finder.py
Labels: No C#, Status: Needs Review

#455 Доработка ночного зрения
  Content.Client/_Sunrise/Eye/NightVision/NVGSystem.cs
  Content.Client/_Sunrise/Eye/NightVision/NightVisionOverlay.cs
  Content.Shared/_Sunrise/Eye/NightVision/Components/NVGComponent.cs
  Content.Shared/_Sunrise/Eye/NightVision/Systems/NVGSystem.cs
  Content.Shared/_Sunrise/Eye/NightVision/Systems/NightVisionSystem.cs
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/eyes/nvg.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/research/technologies.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_strings/research/technologies.ftl
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Sunrise/Actions/nvg.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/nvg.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/devices.yml
  Resources/Prototypes/_Sunrise/Research/industrial.yml
  Resources/Prototypes/_Sunrise/roadmap.yml
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/handcrafted_nvd.rsi/equipped-EYES-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/handcrafted_nvd.rsi/icon-flash.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/handcrafted_nvd.rsi/icon-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/handcrafted_nvd.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/handcrafted_nvd.rsi/inhand-left-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/handcrafted_nvd.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/handcrafted_nvd.rsi/inhand-right-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/handcrafted_nvd.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/handcrafted_nvd.rsi/light-overlay.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/handcrafted_nvd.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/handcrafted_nvd.rsi/off-equipped-EYES.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/handcrafted_nvd.rsi/on-equipped-EYES.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvd.rsi/equipped-EYES-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvd.rsi/icon-flash.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvd.rsi/icon-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvd.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvd.rsi/inhand-left-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvd.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvd.rsi/inhand-right-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvd.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvd.rsi/light-overlay.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvd.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvd.rsi/off-equipped-EYES.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/nvd.rsi/on-equipped-EYES.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/syndie_nvd.rsi/equipped-EYES-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/syndie_nvd.rsi/icon-flash.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/syndie_nvd.rsi/icon-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/syndie_nvd.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/syndie_nvd.rsi/inhand-left-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/syndie_nvd.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/syndie_nvd.rsi/inhand-right-unshaded.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/syndie_nvd.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/syndie_nvd.rsi/light-overlay.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/syndie_nvd.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/syndie_nvd.rsi/off-equipped-EYES.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/syndie_nvd.rsi/on-equipped-EYES.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#471 Фикс боргов
  Content.Server/Silicons/Borgs/BorgSystem.cs
Labels: Status: Needs Review

#483 Добавил лобби арт
  Resources/Prototypes/_Sunrise/lobbyscreens.yml
  Resources/Textures/_Sunrise/LobbyScreens/engineer.webp
  Resources/Textures/_Sunrise/LobbyScreens/engineer.yml
Labels: No C#, Status: Needs Review

#477 Постер Арирал
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Decoration/posters.yml
  Resources/Textures/_Sunrise/Structures/Decoration/poster.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Decoration/poster.rsi/poster.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#463 Новые звуки, снова
  Resources/Audio/_Sunrise/Announcements/sunrise_artillery.ogg
  Resources/Audio/_Sunrise/Announcements/sunrise_ert_accepted.ogg
  Resources/Audio/_Sunrise/Announcements/sunrise_ert_denied.ogg
  Resources/Audio/_Sunrise/Announcements/sunrise_outbreak5.ogg
  Resources/Audio/_Sunrise/Misc/attributions.yml
  Resources/Audio/_Sunrise/Misc/code_epsilon.ogg
Labels: No C#, Status: Needs Review

#468 Изменил звук плюшке
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
Labels: No C#, Status: Needs Review

#472 БИОКОД на энерго щитах
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/devices/reinforcement_teleporter.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/tools/biocode.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/tools/energydome.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Tools/biocode.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Biocode/biocode.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Melee/biocode.yml
Labels: No C#, Status: Needs Review

#481 Судейский молоточек.
  Content.Server/_Sunrise/Gavel/GavelBlockComponent.cs
  Content.Server/_Sunrise/Gavel/GavelHammerComponent.cs
  Content.Server/_Sunrise/Gavel/GavelSystem.cs
  Resources/Audio/_Sunrise/Items/gavelhammer.ogg
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/tools/gavel.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/gavel/gavelstrings.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Tools/gavelhammer.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Decoration/gavelblock.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Law/Magistrat.yml
  Resources/Textures/_Sunrise/Objects/Tools/gavelhammer.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Tools/gavelhammer.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Decoration/gavelblock.rsi/gavelblock.png
  Resources/Textures/_Sunrise/Structures/Decoration/gavelblock.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#470 Плюшевый Себастиан Хейз
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-sebastian.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#433 Meta Station
  Resources/Maps/_Sunrise/Station/meta.yml
  Resources/Prototypes/_Sunrise/Maps/Pools/default.yml
  Resources/Prototypes/_Sunrise/Maps/meta.yml
Labels: No C#, Changes: Map, Status: Needs Review

#480 Балансные правки
  Content.Shared/_Sunrise/Eye/NightVision/Components/NightVisionDeviceComponent.cs
  Content.Shared/_Sunrise/Eye/NightVision/Systems/NightVisionDeviceSystem.cs
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Objects/Tools/energydome.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/night_vision_device.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Tools/energydome.yml
Labels: No C#, Status: Needs Review

#473 Апдейт Багеля
  Resources/Maps/_Sunrise/Station/bagel.yml
  Resources/Prototypes/_Sunrise/Maps/Pools/default.yml
Labels: No C#, Changes: Map, Status: Needs Review

#482 Ребаланс Мехов
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Mech/Equipment/EntitySystems/MechGunSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.AutoFire.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/mech/weapons/gun/combat.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/specific/mech/weapons/gun/combat.ftl
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Melee/combat.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/mecha_amlg90.png
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/mecha_xray.png
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/Mech/mecha_uvm31.rsi/mecha_uvm31.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/mecha_uvm31.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/Mech/mecha_vindictor.rsi/mecha_vindictor.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/mecha_vindictor.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#486 add na-ra toy try 2
  Resources/Audio/_Sunrise/papich_naaa.ogg
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-nara.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#476 lay down + scope
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Standing/LayingDownSystem.cs
  Content.Client/Telescope/TelescopeSystem.cs
  Content.Client/_Sunrise/LayDown/LieDownPressingButtonSystem.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Server/Standing/LayingDownSystem.cs
  Content.Server/Telescope/TelescopeSystem.cs
  Content.Server/_Sunrise/LieDown/LieDownPressingButtonSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Standing/LayingDownComponent.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Telescope/SharedTelescopeSystem.cs
  Content.Shared/Telescope/TelescopeComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_Sunrise/KeyBinds.cs
  Content.Shared/_Sunrise/LieDownPressingButton/LieDownComponent.cs
  Content.Shared/_Sunrise/LieDownPressingButton/LieDownPressingButtonComponent.cs
  Content.Shared/_Sunrise/LieDownPressingButton/SharedLieDownPressingButtonSystem.cs
  Resources/Locale/ru-RU/_strings/_sunrise/keybinds.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/laying/laying.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/keybinds.yml
Labels: Changes: UI, Status: Needs Review

#487 Bagel upd
  Resources/Maps/_Sunrise/Station/bagel.yml
Labels: No C#, Changes: Map, Status: Needs Review

#489 Валидатор Локализации
  .github/workflows/validate-locale.yml
  .github/workflows/validate-rsis.yml
  Tools/_sunrise/Schemas/validate_yml.py
Labels: Нет C#, Статус: Требует Рассмотрения

#490 add mirotvorec, fixed some stuff
  Resources/Audio/_Sunrise/vizhu_pidorasa.ogg
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-peacemaker.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты

#491 Валидатор локализации
  .github/workflows/validate-locale.yml
  Tools/_sunrise/Schemas/validate_yml.py
Labels: Нет C#, Статус: Требует Рассмотрения

#493 Meta, M16A4 Fix
  Resources/Maps/_Sunrise/Station/meta.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Lockers/security.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты

#494 Правки в валидаторе локализаций
  .github/CODEOWNERS
  .github/labeler.yml
  .github/workflows/validate-locale.yml
  Tools/_sunrise/Schemas/validate_yml.py
Labels: Нет C#, Статус: Требует Рассмотрения

#500 Увеличил лимит символов в книге
  Resources/Prototypes/Entities/Objects/Misc/books.yml
Labels: Нет C#, Статус: Требует Рассмотрения

#445 Ребаланс требования карт к количеству игроков
  Resources/Prototypes/_Sunrise/Maps/bagel.yml
  Resources/Prototypes/_Sunrise/Maps/marathon.yml
  Resources/Prototypes/_Sunrise/Maps/train.yml
Labels: No C#, Status: Needs Review, Нет C#

#495 Добавлен переделанный шатл ОБРовцов
  Resources/Maps/_Sunrise/Shuttles/mini_ERT_suc.yml
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
Labels: Нет C#, Изменения: Карты

#506 Исправил zero-day эксплоит с новой жизнью.
  Content.Server/_Sunrise/NewLife/NewLifeSystem.cs
Labels: Статус: Требует Рассмотрения

#509 Extended magazines
  Resources/Locale/ru-RU/_strings/_sunrise/guns.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Magazines/sniper.yml
  Resources/Prototypes/_Sunrise/Research/arsenal.yml
Labels: Merge Conflict, Нет C#, Статус: Требует Рассмотрения, Изменения: Локализация

#513 Meta Суперматерия
  Resources/Maps/_Sunrise/Station/meta.yml
Labels: Нет C#, Изменения: Карты

#515 Новые предметы, фикс супер материи, правки
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Supermatter/Components/SupermatterComponent.cs
  Content.Server/Supermatter/EntitySystems/SupermatterSystem.cs
  Content.Shared/Actions/ActionContainerSystem.cs
  Content.Shared/Bed/Sleep/SleepingSystem.cs
  Content.Shared/Weapons/Reflect/ReflectComponent.cs
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
  Content.Shared/_Sunrise/Eye/NightVision/Systems/NightVisionDeviceSystem.cs
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/tools/energydome.ftl
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_parts.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/endoskeleton.yml
  Resources/Prototypes/Entities/Objects/Tools/energydome.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/assembly.yml
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/night_vision_device.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Tools/energydome.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Reflector/reflector.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/clown_chest+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/clown_chest.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/clown_head+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/clown_head.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/clown_l_arm+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/clown_l_arm.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/clown_l_leg+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/clown_l_leg.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/clown_r_arm+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/clown_r_arm.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/clown_r_leg+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/clown_r_leg.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/meta.json
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/peace_chest+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/peace_chest.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/peace_head+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/peace_head.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/peace_l_arm+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/peace_l_arm.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/peace_l_leg+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/peace_l_leg.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/peace_r_arm+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/peace_r_arm.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/peace_r_leg+o.png
  Resources/Textures/Objects/Specific/Robotics/cyborg_parts.rsi/peace_r_leg.png
  Resources/Textures/_Sunrise/Objects/Tools/EnergyDome/nanotrasen_back.rsi/equipped-BACKPACK.png
  Resources/Textures/_Sunrise/Objects/Tools/EnergyDome/nanotrasen_back.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Tools/EnergyDome/nanotrasen_back.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Tools/EnergyDome/nanotrasen_back.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Tools/EnergyDome/nanotrasen_back.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Reflector/reflector.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Reflector/reflector.rsi/reflector_box.png
  Resources/engineCommandPerms.yml
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация

#521 Шаттл РХБЗЗ
  Resources/Maps/_Sunrise/Shuttles/cburn_savior_ert_shuttle.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты

#563 Новые химикаты
  Resources/Locale/en-US/_prototypes/_sunrise/reagents/fun.ftl
  Resources/Locale/en-US/_strings/reagents/meta/physical-desc.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/reagents/fun.ftl
  Resources/Locale/ru-RU/_strings/reagents/meta/physical-desc.ftl
  Resources/Prototypes/_Sunrise/Reagents/fun.yml
  Resources/Prototypes/_Sunrise/Recipes/Reactions/medicine.yml
Labels: Нет C#, Изменения: Локализация

#525 5 новых плюшек
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-eblan.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-klim.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-melania.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-okobius.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-vyacheslav.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты

#526 Сумка для материалов
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/engineering/material_bag.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/base_machineboard.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/base_electronics.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Engineering/material_bag.yml
  Resources/Prototypes/_Sunrise/tags.yml
  Resources/Textures/_Sunrise/Objects/Specific/material_bag.rsi/equipped-BELT.png
  Resources/Textures/_Sunrise/Objects/Specific/material_bag.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Specific/material_bag.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Specific/material_bag.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Specific/material_bag.rsi/meta.json
Labels: Нет C#, Изменения: Спрайты, Изменения: Локализация

#529 Darvin7531
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/neck/neck.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Neck/neck.yml
  Resources/Textures/_Sunrise/Clothing/Head/Hats/hat_with_paces.rsi/equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/hat_with_paces.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/hat_with_paces.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/hat_with_paces.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/hat_with_paces.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Neck/Stoles/tallit.rsi/equipped-NECK.png
  Resources/Textures/_Sunrise/Clothing/Neck/Stoles/tallit.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Neck/Stoles/tallit.rsi/inhand_left.png
  Resources/Textures/_Sunrise/Clothing/Neck/Stoles/tallit.rsi/inhand_right.png
  Resources/Textures/_Sunrise/Clothing/Neck/Stoles/tallit.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация

#531 Добавление боевых магбутсов для сб и пиратов
  Resources/Locale/en-US/_strings/research/technologies.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/shoes/magboots.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/research/technologies.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/security.yml
  Resources/Prototypes/_Sunrise/Research/arsenal.yml
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-combat.rsi/equipped-FEET.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-combat.rsi/icon-on.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-combat.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-combat.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-combat.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-combat.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-combat.rsi/on-equipped-FEET.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-combat.rsi/on-inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-combat.rsi/on-inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-pirate.rsi/equipped-FEET.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-pirate.rsi/icon-on.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-pirate.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-pirate.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-pirate.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-pirate.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-pirate.rsi/on-equipped-FEET.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-pirate.rsi/on-inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-pirate.rsi/on-inhand-right.png
Labels: Merge Conflict, Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация

#533 "ИИ видит" постер
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/structures/wallmounts/signs/posters.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Decoration/posters.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_Sunrise/Structures/Decoration/poster.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Wallmounts/posters.rsi/sunriseposter1_contraband.png
  Resources/Textures/_Sunrise/Structures/Wallmounts/posters.rsi/sunriseposter1_legit.png
Labels: Merge Conflict, Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация

#537 fix-followed-del
  Content.Shared/Follower/FollowerSystem.cs
Labels: Статус: Требует Рассмотрения

#534 fix lay-down system
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Standing/SharedLayingDownSystem.cs
  Content.Shared/Standing/StandingStateSystem.cs
Labels: Статус: Требует Рассмотрения

#536 теперь спонсорские штуки не могут выпасть в рандоме
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Статус: Требует Рассмотрения

#540 Эвак Bagel, Meta, Reach, Train
  Resources/Maps/_Sunrise/Shuttles/emergency.yml
  Resources/Maps/_Sunrise/Shuttles/emergency_lox.yml
  Resources/Maps/_Sunrise/Shuttles/emergency_meta.yml
  Resources/Maps/_Sunrise/Shuttles/emergency_omega.yml
  Resources/Prototypes/_Sunrise/Maps/bagel.yml
  Resources/Prototypes/_Sunrise/Maps/meta.yml
  Resources/Prototypes/_Sunrise/Maps/reach.yml
  Resources/Prototypes/_Sunrise/Maps/train.yml
Labels: Нет C#, Изменения: Карты

#543 fix phys on shuttles
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: Статус: Требует Рассмотрения

#545 mood
  Content.Client/_Sunrise/Overlays/SaturationScaleOverlay.cs
  Content.Client/_Sunrise/Overlays/Systems/SaturationScaleSystem.cs
  Content.Server/Arcade/BlockGame/BlockGame.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeSystem.cs
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Medical/VomitSystem.cs
  Content.Server/_Sunrise/Mood/MoodComponent.cs
  Content.Server/_Sunrise/Mood/MoodSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Interaction/InteractionPopupSystem.cs
  Content.Shared/Nutrition/EntitySystems/HungerSystem.cs
  Content.Shared/Nutrition/EntitySystems/SharedCreamPieSystem.cs
  Content.Shared/Nutrition/EntitySystems/ThirstSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/_Sunrise/Mood/MoodCategoryPrototype.cs
  Content.Shared/_Sunrise/Mood/MoodEffectPrototype.cs
  Content.Shared/_Sunrise/Mood/MoodEvents.cs
  Content.Shared/_Sunrise/Mood/SaturationScaleComponent.cs
  Content.Shared/_Sunrise/Mood/SharedMoodComponent.cs
  Resources/Locale/ru-RU/_strings/_sunrise/mood/mood.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Alerts/mood.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Mood/categories.yml
  Resources/Prototypes/Mood/genericNeeds.yml
  Resources/Prototypes/Mood/genericNegativeEffects.yml
  Resources/Prototypes/Mood/genericPositiveEffects.yml
  Resources/Prototypes/Shaders/scale.yml
  Resources/Textures/Interface/Alerts/mood.rsi/meta.json
  Resources/Textures/Interface/Alerts/mood.rsi/mood1.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood2.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood3.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood4.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood5.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood6.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood7.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood8.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood9.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood_happiness_bad.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood_happiness_good.png
  Resources/Textures/Interface/Alerts/mood.rsi/mood_insane.png
  Resources/Textures/Shaders/saturationscale.swsl
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, Изменения: Шейдеры

#547 Понизил порог выключения вентиляций от давления
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: Нет C#

#548 ban links.
  Content.Client/Launcher/LauncherConnectingGui.xaml
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс

#551 Пофиксил халаты
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/_prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/coats.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Локализация

#552 Обновление ролей
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/eyes/hud.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/medical/defib.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/science/radiation_emitter.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/_strings/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Science/radiaton_emitter.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Sunrise/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Sunrise/Objectives/traitorObjectives.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Security/senior_officer.yml
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/med_chem_hud.rsi/equipped-EYES.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/med_chem_hud.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/med_chem_hud.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/engineering-compact.rsi/icon-flash.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/engineering-compact.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/engineering-compact.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/engineering-compact.rsi/off-equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/engineering-compact.rsi/on-equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/engineering-compact.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/engineering-compact.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/engineering-compact.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/engineering-compact.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/engineering-compact.rsi/meta.json
  Resources/Textures/_Sunrise/Entities/Objects/Specific/Medical/advanced_defib.rsi/defib-on.png
  Resources/Textures/_Sunrise/Entities/Objects/Specific/Medical/advanced_defib.rsi/defib.png
  Resources/Textures/_Sunrise/Entities/Objects/Specific/Medical/advanced_defib.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Entities/Objects/Specific/Medical/advanced_defib.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Entities/Objects/Specific/Medical/advanced_defib.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Revolvers/radiation_emitter.rsi/base.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Revolvers/radiation_emitter.rsi/equipped-BELT.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Revolvers/radiation_emitter.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Revolvers/radiation_emitter.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Revolvers/radiation_emitter.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Revolvers/radiation_emitter.rsi/mag-unshaded-1.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Revolvers/radiation_emitter.rsi/mag-unshaded-2.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Revolvers/radiation_emitter.rsi/meta.json
Labels: Нет C#, Изменения: Спрайты, Изменения: Локализация

#553 Новый костюм карго
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/outerclothing/suits.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/misc/box.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/research/technologies.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/cargo.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/box.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/cargo.yml
  Resources/Prototypes/_Sunrise/Research/industrial.yml
  Resources/Prototypes/_Sunrise/tags.yml
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Suits/cargo-suit.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Suits/cargo-suit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Suits/cargo-suit.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Suits/cargo-suit.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Suits/cargo-suit.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Suits/cargo-suit.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Storage/boxes.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Storage/boxes.rsi/inhand.png
  Resources/Textures/_Sunrise/Objects/Storage/boxes.rsi/meta.json
Labels: Merge Conflict, Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация

#555 Исправление и доработка голосований
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Content.Server/_Sunrise/RoundEndVote/RoundEndVoteSystem.cs
  Resources/Prototypes/game_presets.yml
Labels: Статус: Требует Рассмотрения

#556 Train в map pool
  Resources/Prototypes/_Sunrise/Maps/Pools/default.yml
Labels: Нет C#

#557 Train правки
  Resources/Maps/_Sunrise/Station/train.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты

#457 new reach
  Resources/Maps/_Sunrise/Station/reach.yml
  Resources/Prototypes/_Sunrise/Maps/Pools/default.yml
  Resources/Prototypes/_Sunrise/Maps/reach.yml
Labels: No C#, Changes: Map, Merge Conflict, Status: Needs Review

#568 Плюшки
  .github/workflows/validate-locale.yml
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-agata.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-lu.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-milos-tan.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/syndie-visor.png
  Tools/_sunrise/Schemas/validate_yml.py
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация

#572 Ghosts fix
  Content.Shared/Follower/FollowerSystem.cs
Labels: Статус: Требует Рассмотрения

#573 Фиксы обновы
  Resources/Locale/en-US/_prototypes/_sunrise/entities/structures/decoration/posters.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/structures/decoration/posters.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/structures/wallmounts/signs/posters.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/reagents/fun.ftl
  Resources/Maps/_Sunrise/Station/reach.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_Sunrise/Maps/Pools/default.yml
  Resources/Prototypes/_Sunrise/Research/arsenal.yml
Labels: Нет C#, Изменения: Карты, Изменения: Локализация

#574 Fix Changelings
  Content.Server/GameTicking/Rules/ChangelingRuleSystem.cs
Labels: Статус: Требует Рассмотрения

#578 Мини ребаланс цен
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_armory.yml
Labels: Нет C#, Статус: Требует Рассмотрения

#579 Обновление карт
  Resources/Maps/_Sunrise/Station/oasis.yml
  Resources/Prototypes/_Sunrise/Maps/cog.yml
  Resources/Prototypes/_Sunrise/Maps/oasis.yml
Labels: Нет C#, Изменения: Карты

#580 Очки адъютанта и наборы мехов для ядеров
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Adjutant/adjutant.yml
Labels: Нет C#

#581 Хот-фикс ЭМИ ракеты
  Resources/Locale/ru-RU/_prototypes/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Локализация

#582 Обновление шлюзов
  Resources/Locale/en-US/_prototypes/_sunrise/entities/structures/doors/airlocks/glass/glass_airlock.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/structures/doors/airlocks/Glass/glass_airlock.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/structures/doors/airlocks/access.ftl
  Resources/Prototypes/_Sunrise/Entities/Structures/Doors/Airlocks/Glass/access.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Doors/Airlocks/Glass/airlocks.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Doors/Airlocks/access.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Локализация

#583 Правки в мехах
  Content.Client/Mech/Ui/MechMenu.xaml.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Robotics/nanopaste.yml
Labels: Изменения: Интерфейс

#577 Админский портал
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/devices/syndicate_gadgets/hand_teleporter.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/Syndicate_Gadgets/hand_teleporter.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Локализация

#575 Баффнул дракона
  Content.Server/Dragon/Components/DragonRiftComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Structures/Specific/dragon.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Sunrise/Damage/modifier_sets.yml
  Resources/Prototypes/explosion.yml
Labels: Статус: Требует Рассмотрения

#576 Ивентовые вещи
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/ueg_captainh.rsi/icon-flash.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/ueg_captainh.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/ueg_captainh.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/ueg_captainh.rsi/off-equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/ueg_captainh.rsi/on-equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/ueg_paratrooperh.rsi/icon-flash.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/ueg_paratrooperh.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/ueg_paratrooperh.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/ueg_paratrooperh.rsi/off-equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/ueg_paratrooperh.rsi/on-equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Neck/Cloaks/ueg_cloak.rsi/equipped-NECK.png
  Resources/Textures/_Sunrise/Clothing/Neck/Cloaks/ueg_cloak.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Neck/Cloaks/ueg_cloak.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Neck/Cloaks/ueg_cloak.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Neck/Cloaks/ueg_cloak.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/ueg_captain.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/ueg_captain.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/ueg_captain.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/ueg_captain.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/ueg_captain.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/ueg_paratrooper.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/ueg_paratrooper.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/ueg_paratrooper.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/ueg_paratrooper.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/ueg_paratrooper.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация

#584 Halloween feautures
  Content.Server/Holiday/HolidaySystem.cs
  Resources/Prototypes/Species/skeleton.yml
  Resources/Prototypes/_Sunrise/holidays.yml
Labels: Статус: Требует Рассмотрения

#587 Vampire Hotfix
  Content.Client/Vampire/VampireMutationMenu.xaml
  Content.Server/GameTicking/Rules/VampireRuleSystem.cs
  Content.Server/Vampire/VampireSystem.Transform.cs
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс

#588 Vampire hypnose fix popup
  Content.Server/Vampire/VampireSystem.Abilities.cs
  Resources/Locale/ru-RU/_strings/Vampires/vampires.ftl
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
Labels: Статус: Требует Рассмотрения, Изменения: Локализация
