Repository space-sunrise/sunrise-station, pull requests merged in 2024-07, with the labels that each got.

#160 Замена и фикс ванильных шлюзов и RSI
  Resources/Locale/ru-RU/ss14-ru/prototypes/_sunrise/entities/structures/doors/airlocks/hatches/hatches.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Doors/Airlocks/Hatches/hatches.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/parts.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/assembly.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/bolted_open_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/bolted_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/closed_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/closing.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/closing_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/deny_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/emergency_open_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/emergency_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/open_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/opening.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/opening_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/panel_closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/panel_closing.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/panel_open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/panel_opening.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/sparks.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/sparks_broken.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/sparks_damaged.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/sparks_open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Hatches/hatch.rsi/welded.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#158 Replaced forcemap admin flag with Host
  Content.Server/GameTicking/Commands/ForceMapCommand.cs
Labels: Status: Needs Review

#165 Фишки снаряжения
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Resources/Locale/ru-RU/_sunrise/loadout/loadouts.ftl
  Resources/Prototypes/_Sunrise/Roles/Jobs/Science/roboticist.yml
Labels: Changes: UI

#164 Corrected options-menu-ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Labels: No C#

#167 Нормальный ТТС объявлений ЦК
  Resources/Prototypes/_Sunrise/Entities/Structures/Machines/Computers/computers.yml
Labels: No C#

#170 Телескопическая дубинка и фиксы RSI
  Content.Server/_Sunrise/Stunnable/Systems/TelescopicbatonSystem.cs
  Content.Shared/_Sunrise/Stunnable/SharedTelescopicbatonSystem.cs
  Content.Shared/_Sunrise/Stunnable/TelescopicbatonComponent.cs
  Resources/Locale/en-US/_sunrise/weapons/melee/melee.ftl
  Resources/Locale/ru-RU/_sunrise/weapons/melee/melee.ftl
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Melee/telebaton.yml
  Resources/Textures/_Sunrise/Mobs/Pets/dogbook.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/telebaton.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/telebaton.rsi/on-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/telebaton.rsi/on-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/telebaton.rsi/telebaton_off.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/telebaton.rsi/telebaton_on.png
Labels: Changes: Sprites, Status: Needs Review

#175 Фикс телескопической дубинки
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Melee/telebaton.yml
Labels: No C#, Status: Needs Review

#188 Roadmap
  Content.Client/Administration/UI/CustomControls/HSeparator.cs
  Content.Client/Info/LinkBanner.cs
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Client/_Sunrise/Roadmap/Roadmap.xaml
  Content.Client/_Sunrise/Roadmap/Roadmap.xaml.cs
  Content.Client/_Sunrise/Roadmap/RoadmapItem.xaml
  Content.Client/_Sunrise/Roadmap/RoadmapItem.xaml.cs
  Content.Client/_Sunrise/Roadmap/RoadmapUIController.cs
  Content.Client/_Sunrise/Roadmap/RoadmapVersionHeader.xaml
  Content.Client/_Sunrise/Roadmap/RoadmapVersionHeader.xaml.cs
  Content.Client/_Sunrise/Roadmap/RoadmapWindow.xaml
  Content.Client/_Sunrise/Roadmap/RoadmapWindow.xaml.cs
  Content.Shared/_Sunrise/Roadmap/RoadmapVersionsPrototype.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Locale/ru-RU/_sunrise/roadmap/roadmap.ftl
  Resources/Prototypes/_Sunrise/roadmap.yml
Labels: Changes: UI

#183 Режим датчиков.
  Content.Server/Medical/SuitSensors/SuitSensorComponent.cs
Labels: Status: Needs Review

#179 Перевод меню строительства
  Content.Client/Construction/UI/ConstructionMenu.xaml
  Content.Client/Construction/UI/ConstructionMenu.xaml.cs
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
  Content.Shared/Construction/Steps/ArbitraryInsertConstructionGraphStep.cs
  Content.Shared/Construction/Steps/MaterialConstructionGraphStep.cs
  Content.Shared/Construction/Steps/TagConstructionGraphStep.cs
  Resources/Locale/ru-RU/_sunrise/construction/graphs/clothing.ftl
  Resources/Locale/ru-RU/_sunrise/construction/graphs/fun.ftl
  Resources/Locale/ru-RU/_sunrise/construction/graphs/furniture.ftl
  Resources/Locale/ru-RU/_sunrise/construction/graphs/lighting.ftl
  Resources/Locale/ru-RU/_sunrise/construction/graphs/machines.ftl
  Resources/Locale/ru-RU/_sunrise/construction/graphs/materials.ftl
  Resources/Locale/ru-RU/_sunrise/construction/graphs/misc.ftl
  Resources/Locale/ru-RU/_sunrise/construction/graphs/modular.ftl
  Resources/Locale/ru-RU/_sunrise/construction/graphs/storage.ftl
  Resources/Locale/ru-RU/_sunrise/construction/graphs/structures.ftl
  Resources/Locale/ru-RU/_sunrise/construction/graphs/tiles.ftl
  Resources/Locale/ru-RU/_sunrise/construction/graphs/tools.ftl
  Resources/Locale/ru-RU/_sunrise/construction/graphs/utilities.ftl
  Resources/Locale/ru-RU/_sunrise/construction/graphs/weapons.ftl
  Resources/Locale/ru-RU/_sunrise/construction/materials.ftl
  Resources/Locale/ru-RU/construction/ui/construction-menu.ftl
Labels: Changes: UI, Status: Needs Review

#180 Телепортация в криокапсулы ссд игроков.
  Content.Server/_Sunrise/CryoTeleport/CryoTeleportSystem.cs
  Content.Server/_Sunrise/CryoTeleport/CryoTeleportTargetComponent.cs
  Content.Server/_Sunrise/CryoTeleport/StationCryoTeleportComponent.cs
  Resources/Locale/ru-RU/_sunrise/cryoteleport/cryoteleport.ftl
  Resources/Prototypes/_Sunrise/CryoTeleport/portal.yml
Labels: Status: Needs Review

#189 Изменение в ядерных оперативниках.
  Resources/Prototypes/GameRules/roundstart.yml
Labels: No C#, Status: Needs Review

#190 Remap for planet_prison.yml
  Resources/Maps/_Sunrise/planet_prison.yml
Labels: No C#, Changes: Map, Status: Needs Review

#193 Обновление Roadmap
  Resources/Prototypes/_Sunrise/roadmap.yml
Labels: No C#, Status: Needs Review

#194 New sponsor ghost sprites
  Resources/Prototypes/_Sunrise/ghostSponsor.yml
  Resources/Textures/_Sunrise/Mobs/Ghosts/pink_ghost_human.rsi/animated.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/pink_ghost_human.rsi/icon.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/pink_ghost_human.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Ghosts/purple_ghost_human.rsi/animated.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/purple_ghost_human.rsi/icon.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/purple_ghost_human.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Ghosts/red_ghost_human.rsi/animated.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/red_ghost_human.rsi/icon.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/red_ghost_human.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Ghosts/yellow_ghost_human.rsi/animated.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/yellow_ghost_human.rsi/icon.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/yellow_ghost_human.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#192 planet prison remap again
  Resources/Maps/_Sunrise/planet_prison.yml
Labels: No C#, Changes: Map, Status: Needs Review

#198 Изменение имени сервера в лобби
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
Labels: Changes: UI

#196 Правила фронтира и ласта
  Resources/Prototypes/_Sunrise/Guidebook/rules.yml
  Resources/Prototypes/_Sunrise/Guidebook/rulesFrontier.yml
  Resources/Prototypes/_Sunrise/Guidebook/rulesLust.yml
  Resources/ServerInfo/Guidebook/ServerRules/FrontierRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/LustRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFS/RuleFS1.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFS/RuleFS10.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFS/RuleFS11.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFS/RuleFS2.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFS/RuleFS3.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFS/RuleFS31.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFS/RuleFS4.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFS/RuleFS5.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFS/RuleFS6.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFS/RuleFS7.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFS/RuleFS8.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFS/RuleFS9.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFS/RuleFSIllegal.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFS/RuleFSLR.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesFS/RuleFSTD.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/RuleLust0.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/RuleLust1.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/RuleLust2.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/RuleLust3.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/RuleLust4.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust11.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust12.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust13.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust14.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust15.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust21.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust22.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust23.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust24.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust25.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust31.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust32.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust33.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust41.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust42.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust43.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust44.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust441.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesLust/Subrules/RuleLust45.xml
Labels: No C#

#199 фикс крио
  Content.Server/_Sunrise/CryoTeleport/CryoTeleportSystem.cs
  Content.Server/_Sunrise/CryoTeleport/StationCryoTeleportComponent.cs
  Resources/Prototypes/_Sunrise/CryoTeleport/portal.yml
Labels: Status: Needs Review

#205 bugfix: добавил ОЦК МЩ
  Resources/Prototypes/_Sunrise/Roles/Jobs/CentralCommand/centcom_official.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/CentralCommand/centcom_operator.yml
Labels: No C#, Status: Needs Review

#204 New Secret Weights
  Resources/Prototypes/_Sunrise/secret_weights.yml
Labels: No C#, Status: Needs Review

#218 Возможность отключить телепорт в крио для сервера.
  Content.Server/_Sunrise/CryoTeleport/CryoTeleportSystem.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
Labels: Status: Needs Review

#217 Resprite HandheldCriminalRecordsMonitor
  Resources/Textures/_Sunrise/Objects/Specific/handheldcriminalrecordsmonitor.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Specific/handheldcriminalrecordsmonitor.rsi/monitor.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#215 Безделушки
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Loadouts/Miscellaneous/trinkets.yml
Labels: No C#, Status: Needs Review

#214 Фикс КТ + несколько мелких изменений
  Content.Server/_Sunrise/Roles/OtherJobsTakenRequirementComponent.cs
  Content.Server/_Sunrise/Roles/OtherJobsTakenRequirementSystem.cs
  Content.Server/_Sunrise/RoundStartFtl/RoundStartFtlSystem.cs
  Content.Server/_Sunrise/RoundStartFtl/RoundstartFtlTargetComponent.cs
  Resources/Maps/_Sunrise/planet_prison.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/_Sunrise/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_Sunrise/Maps/planet_prison.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Law/Magistrat.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Law/iaa.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/head_of_prison.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prison_chef.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prison_doctor.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prison_engineer.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prison_guard.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prison_pilot.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prison_worker.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prisoner.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Security/security_pilot.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/departments.yml
Labels: Changes: Map, Status: Needs Review

#211 Фиксы
  Content.IntegrationTests/Tests/Actions/ActionsAddedTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/_Sunrise/Carrying/CarryingSystem.cs
  Content.Server/_Sunrise/StationCentcomm/StationCentcommSystem.cs
  Resources/Audio/_Sunrise/Music/attributions.yml
  Resources/Locale/ru-RU/cluwne/cluwne.ftl
  Resources/Locale/ru-RU/glue/glue.ftl
  Resources/Locale/ru-RU/lube/lube.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_sunrise/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_sunrise/entities/objects/specific/roboanalyzer.ftl
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/swine.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/handheld_criminal_records_monitor.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/roboanalyzer.yml
  Resources/Prototypes/_Sunrise/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Sunrise/Voice/speech_emotes.yml
  Resources/Textures/_Sunrise/Parallaxes/NES/PixelGreenParallax.png
  Resources/Textures/_Sunrise/Parallaxes/NES/PixelPurpleParallax.png
  Resources/Textures/_Sunrise/roboanalyzer.rsi/analyzer.png
  Resources/Textures/_Sunrise/roboanalyzer.rsi/icon.png
  Resources/Textures/_Sunrise/roboanalyzer.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Map, Status: Needs Review

#220 Убрал правила из руководств...
  Resources/Prototypes/_Sunrise/Guidebook/rules.yml
  Resources/Prototypes/_Sunrise/Guidebook/rulesFrontier.yml
  Resources/Prototypes/_Sunrise/Guidebook/rulesLust.yml
Labels: No C#, Status: Needs Review

#227 Удаление секретной цели.
  Resources/Locale/ru-RU/_sunrise/station-goal/station-goal-component.ftl
  Resources/Prototypes/_Sunrise/Entities/Stations/base.yml
  Resources/Prototypes/_Sunrise/Maps/delta.yml
  Resources/Prototypes/_Sunrise/Objectives/goals.yml
Labels: No C#

#225 Фиксы RSI Валидатора, Yaml Inter
  Resources/Locale/ru-RU/_sunrise/issuers/issuers.ftl
  Resources/Textures/_Sunrise/Entities/Objects/Devices/boombox.rsi/meta.json
  Resources/Textures/_Sunrise/Entities/Objects/Devices/fishstation_uplink.rsi/meta.json
  Resources/Textures/_Sunrise/Entities/Objects/Devices/syndie_boombox.rsi/meta.json
  Resources/Textures/_Sunrise/Entities/Objects/Devices/tape_player.rsi/meta.json
  Resources/Textures/_Sunrise/Entities/Objects/Devices/tapes.rsi/meta.json
  Resources/Textures/_Sunrise/Entities/Objects/Devices/tapes.rsi/syndi_tape4.png
  Resources/Textures/_Sunrise/Entities/Objects/Devices/tapes.rsi/syndi_tape5.png
  Resources/Textures/_Sunrise/Entities/Objects/Devices/tapes.rsi/syndi_tape6.png
  Resources/Textures/_Sunrise/Entities/Objects/Tools/items_cyborg.rsi/meta.json
  Resources/Textures/_Sunrise/icons.rsi/meta.json
Labels: No C#, Changes: Sprites

#222 Corrected slang
  Content.Server/_Sunrise/ChatFilter/ChatSystem.cs
Labels: Status: Needs Review

#224 Респрайт и починка шлюзов
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/panel_closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/bolted_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/emergency_open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/welded.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_glass_airlock.rsi/closing.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_glass_airlock.rsi/opening.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#229 Перевод поглаживания вульп
  Resources/Locale/ru-RU/_sunrise/interaction/interaction-popup-component.ftl
Labels: No C#, Status: Needs Review

#230 Фикс шлюзов из РСУ
  Resources/Prototypes/RCD/rcd.yml
Labels: No C#, Status: Needs Review

#232 Обновление ПНТ
  Resources/Locale/ru-RU/_sunrise/prototypes/access/accesses.ftl
  Resources/Locale/ru-RU/_sunrise/prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_sunrise/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_sunrise/entities/clothing/outerclothing/suits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_sunrise/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_sunrise/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_sunrise/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_sunrise/entities/objects/weapons/melee/cane-nt.ftl
  Resources/Prototypes/Access/command.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_Sunrise/Access/command.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Melee/cane-nt.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Command/nanotrasenrepresentative.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-ntrep.png
  Resources/Textures/_Sunrise/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Misc/stamps.rsi/stamp-ntrep.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/cane-nt.rsi/cane-nt-active.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/cane-nt.rsi/cane-nt.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/cane-nt.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/cane-nt.rsi/off-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/cane-nt.rsi/off-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/cane-nt.rsi/on-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/cane-nt.rsi/on-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#237 ПНТ вырезан до изменений в СРП
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#, Status: Needs Review

#239 Статистика конца раунда
  Content.Client/RoundEnd/RoundEndSummaryUIController.cs
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
  Content.Client/_Sunrise/StatsBoard/StatsEntries.xaml
  Content.Client/_Sunrise/StatsBoard/StatsEntries.xaml.cs
  Content.Client/_Sunrise/StatsBoard/StatsEntry.xaml
  Content.Client/_Sunrise/StatsBoard/StatsEntry.xaml.cs
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Nutrition/EntitySystems/CreamPieSystem.cs
  Content.Server/StatsBoard/StatsBoardSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Shared/Construction/Events.cs
  Content.Shared/Cuffs/Components/HandcuffComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Fluids/AbsorbentComponent.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/_Sunrise/StatsBoard/StatsBoardEntry.cs
  Resources/Locale/ru-RU/round-end/round-end-summary-window.ftl
Labels: Changes: UI

#240 bugfix: не до конца был отключен представитель НТ
  Resources/Prototypes/_Sunrise/Maps/box.yml
  Resources/Prototypes/_Sunrise/Maps/cluster.yml
  Resources/Prototypes/_Sunrise/Maps/delta.yml
  Resources/Prototypes/_Sunrise/Maps/fland.yml
  Resources/Prototypes/_Sunrise/Maps/marathon.yml
  Resources/Prototypes/_Sunrise/Maps/origin.yml
Labels: No C#

#242 Corrected Felinid Race
  Content.Server/Speech/EntitySystems/OwOAccentSystem.cs
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Sunrise/Species/felinid.yml
  Resources/Prototypes/_Sunrise/Traits/speech.yml
Labels: Status: Needs Review

#241 Добавление FlashImmunity и EyeProtection шлемам скафандров
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: No C#

#248 Коллективный разум
  Content.Client/Chat/CollectiveMindChatUpdateSystem.cs
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/Chat/Managers/IChatManager.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorButton.cs
  Content.Server/Chat/Commands/CollectiveMindCommand.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/ChatSelectChannel.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Sunrise/CollectiveMind/CollectiveMindComponent.cs
  Content.Shared/_Sunrise/CollectiveMind/CollectiveMindPrototype.cs
  Resources/Locale/ru-RU/_sunrise/collective-mind/collective_mind.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/_Sunrise/CollectiveMinds/collective_mind.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/humanoid_xeno.yml
Labels: Changes: UI

#251 Фикс сварочных очков
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/glasses.yml
Labels: No C#, Status: Needs Review

#250 RoadMap Update
  Resources/Prototypes/_Sunrise/roadmap.yml
Labels: No C#, Status: Needs Review

#244 Добавление крафта двухклинкового энергетического меча
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/EnergySwordDouble.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Biocode/biocode.yml
  Resources/Prototypes/tags.yml
Labels: No C#, Status: Needs Review

#254 теперь роборукие перчатки защищают
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: No C#, Status: Needs Review

#253 hotfix: звук у бритвы, лишил части функционала ножницы, фикс перевода
  Content.Client/_Sunrise/Razor/RazorWindow.xaml.cs
  Resources/Audio/_Sunrise/Items/razor.ogg
  Resources/Locale/ru-RU/_sunrise/razor/razor.ftl
  Resources/Prototypes/Entities/Objects/Specific/Service/barber.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/barber.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/identification_cards.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Decoration/barber.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Civillian/barber.yml
Labels: Changes: UI, Status: Needs Review

#257 Фикс Access Configurator
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
Labels: No C#, Status: Needs Review

#260 Шкаф пилота
  Resources/Prototypes/_Sunrise/Catalog/Fills/Lockers/blueshield.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Lockers/pilot.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/_Sunrise/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Storage/closet.rsi/pilot.png
  Resources/Textures/_Sunrise/Structures/Storage/closet.rsi/pilot_door.png
  Resources/Textures/_Sunrise/Structures/Storage/closet.rsi/pilot_open.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#255 Это вам не просто смайл
  Content.Server/_Sunrise/Smile/SmileSlimeSystem.cs
  Content.Shared/_Sunrise/Smile/SmileEvents.cs
  Content.Shared/_Sunrise/Smile/SmileSlimeComponent.cs
  Resources/Locale/ru-RU/_sunrise/smile/smile.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_Sunrise/Actions/smile_actions.yml
Labels: Status: Needs Review

#256 Казни: возвращение
  Content.Server/_Sunrise/Execution/ExecutionSystem.cs
  Content.Shared/_Sunrise/Execution/DoafterEvent.cs
  Resources/Locale/en-US/_sunrise/execution/execution.ftl
  Resources/Locale/ru-RU/_sunrise/execution/execution.ftl
Labels: Status: Needs Review

#258 Фикс зомбей
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/Zombies/ZombieComponent.cs
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Voice/auto_emotes.yml
  Resources/Prototypes/_Sunrise/Actions/zombie_actions.yml
  Resources/Textures/_Sunrise/Zombie/Actions/jump.png
  Resources/Textures/_Sunrise/Zombie/Actions/the_look.png
Labels: Status: Needs Review
