Repository space-sunrise/sunrise-station, pull requests merged in 2024-09, with the labels that each got.

#357 added 2 tts voices
  Resources/Locale/ru-RU/_strings/_sunrise/tts/tts-voices-sunrise.ftl
  Resources/Prototypes/_Sunrise/tts_voices_sunrise.yml
Labels: No C#, Status: Needs Review

#356 Fix airlock assembly rotation
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_assembly.yml
Labels: No C#

#359 Секрет для Рыбы
  Resources/Prototypes/_Sunrise/secret_weights.yml
Labels: No C#, Status: Needs Review

#349 [Fix] TTS ID
  Resources/Prototypes/_Sunrise/tts-voices.yml
Labels: No C#, Status: Needs Review

#352 Новый лоббиарт от байрона
  Resources/Prototypes/_Sunrise/lobbyscreens.yml
  Resources/Textures/_Sunrise/LobbyScreens/reunion.webp
  Resources/Textures/_Sunrise/LobbyScreens/reunion.webp.yml
Labels: No C#, Status: Needs Review

#354 Алтыну можно поднять забрало
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/helmets.yml
  Resources/Textures/_Sunrise/Clothing/Head/Helmets/tfhelm.rsi/icon-up.png
  Resources/Textures/_Sunrise/Clothing/Head/Helmets/tfhelm.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Head/Helmets/tfhelm.rsi/up-equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Helmets/tfhelm.rsi/up-inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Head/Helmets/tfhelm.rsi/up-inhand-right.png
Labels: No C#, Changes: Sprites

#362 Актуализирован свод правил
  Resources/ServerInfo/Guidebook/ServerRules/SunriseRules.xml
Labels: No C#, Status: Needs Review

#363 респрайт скафа рхбзз
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/icon.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#365 Спортивная форма СССП
  Resources/Prototypes/_Sunrise/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-black.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-black.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-black.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-black.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-black.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-white.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-white.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-white.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-white.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/adidas-white.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#366 BOX
  Resources/Maps/_Sunrise/Station/box.yml
Labels: No C#, Changes: Map, Status: Needs Review

#369 [Maps] Ремап багеля
  Resources/Maps/_Sunrise/Station/bagel.yml
  Resources/migration.yml
Labels: No C#, Changes: Map

#370 Респрайт от макао
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Sunrise/Clothing/Head/hardsuits/secoff.rsi/icon-flash.png
  Resources/Textures/_Sunrise/Clothing/Head/hardsuits/secoff.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/hardsuits/secoff.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Head/hardsuits/secoff.rsi/off-equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/hardsuits/secoff.rsi/on-equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/hardsuits/secoff.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/hardsuits/secoff.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/hardsuits/secoff.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/hardsuits/secoff.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/hardsuits/secoff.rsi/meta.json
  Resources/migration.yml
Labels: No C#, Changes: Sprites, Status: Needs Review

#367 Reed Industries
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/neck/pins.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/_Sunrise/Loadouts/Miscellaneous/trinkets.yml
  Resources/Textures/_Sunrise/Clothing/Neck/Misc/reedindustriespin.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Neck/Misc/reedindustriespin.rsi/reedpin-equipped.png
  Resources/Textures/_Sunrise/Clothing/Neck/Misc/reedindustriespin.rsi/reedpin.png
Labels: No C#, Changes: Sprites

#374 исправил неправильный перевод от ринари
  Resources/Locale/ru-RU/_prototypes/entities/objects/consumable/food/baked/pie.ftl
Labels: No C#, Status: Needs Review

#375 Улучшение пиратского акцента
  Resources/Locale/ru-RU/_strings/accent/pirate.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: No C#, Status: Needs Review

#376 Add a Syndicate teleporter
  Content.Server/SyndicateTeleporter/SyndicateTeleporterComponent.cs
  Content.Server/SyndicateTeleporter/SyndicateTeleporterSystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/beeps.ogg
  Resources/Audio/Effects/electrical_short_circuit.ogg
  Resources/Audio/Effects/electrical_short_circuit2.ogg
  Resources/Locale/en-US/_strings/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Effects/teleport_effect.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/syndicate_teleporter.yml
  Resources/Prototypes/SoundCollections/broken_device.yml
  Resources/Textures/Effects/teleport_sparks.rsi/meta.json
  Resources/Textures/Effects/teleport_sparks.rsi/sparks.png
  Resources/Textures/Objects/Devices/syndicate_teleporter.rsi/icon.png
  Resources/Textures/Objects/Devices/syndicate_teleporter.rsi/meta.json
Labels: Changes: Sprites

#377 Роза от Makao
  Resources/Locale/en-US/_prototypes/_sunrise/entities/structures/furniture/potted_plants.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/structures/furniture/potted_plants.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/pottedplants.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Furniture/potted_plants.yml
  Resources/Textures/_Sunrise/Structures/Furniture/potted_plants.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Furniture/potted_plants.rsi/plant-9.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#378 добавил лотерею боргам обр и яо
  Resources/Prototypes/_Sunrise/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/reinforcement_teleporter.yml
Labels: No C#, Status: Needs Review

#380 Фикс отображения КПК в слоте под ID.
  Resources/Textures/_Sunrise/Objects/Devices/pda.rsi/meta.json
Labels: No C#, Status: Needs Review

#384 нерф рпг
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: No C#, Status: Needs Review

#385 Исправил модельку одежды у новых рас
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/vulpkanin.yml
Labels: No C#, Status: Needs Review

#386 Исправлены цели станции
  Resources/Locale/ru-RU/_strings/_sunrise/station-goal/station-goal-component.ftl
Labels: No C#, Status: Needs Review

#342 Desoantizyne/Дезоантизин - наркота.
  Resources/Locale/ru-RU/_sunrise/_prototypes/reagents/narcotics.ftl
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Sunrise/Reagents/narcotics.yml
  Resources/Prototypes/_Sunrise/Recipes/Reactions/medicine.yml
Labels: No C#, Status: Needs Review

#381 Нерф генокрадов
  Content.Server/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/Changeling/ChangelingSystem.cs
  Content.Shared/Changeling/ChangelingComponent.cs
  Resources/Prototypes/Actions/changeling.yml
  Resources/Prototypes/Catalog/changeling_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/changeling_armblade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/throwing_stars.yml
Labels: Changes: Sprites, Status: Needs Review

#353 removed role replacements
  Content.Server/_Sunrise/ChatFilter/ChatSystem.cs
Labels: Status: Needs Review

#392 Ручки для глав
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/misc/pens.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/pen.yml
  Resources/Textures/_Sunrise/Objects/Misc/pens.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Misc/pens.rsi/pen-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Misc/pens.rsi/pen-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Misc/pens.rsi/pen_ce.png
  Resources/Textures/_Sunrise/Objects/Misc/pens.rsi/pen_cmo.png
  Resources/Textures/_Sunrise/Objects/Misc/pens.rsi/pen_hop.png
  Resources/Textures/_Sunrise/Objects/Misc/pens.rsi/pen_hos.png
  Resources/Textures/_Sunrise/Objects/Misc/pens.rsi/pen_qm.png
  Resources/Textures/_Sunrise/Objects/Misc/pens.rsi/pen_rd.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#394 Съедобные таяры
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/tajaran.yml
Labels: No C#, Status: Needs Review

#393 Фикс отображения хвоста
  Resources/Prototypes/Species/human.yml
Labels: No C#, Status: Needs Review

#395 Транспортёр "Предел"
  Resources/Maps/_Sunrise/Station/reach.yml
  Resources/Prototypes/_Sunrise/Maps/Pools/default.yml
  Resources/Prototypes/_Sunrise/Maps/reach.yml
Labels: No C#, Changes: Map, Status: Needs Review

#396 Фикс Reach
  Resources/Maps/_Sunrise/Station/reach.yml
Labels: No C#, Changes: Map, Status: Needs Review

#397 Фиксы
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/devices/handheld.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/handheld.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Clothing/Head/Hats/beret_brigmedic.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Devices/handheld_criminal_records_monitor.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Devices/handheld_criminal_records_monitor.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Devices/handheld_criminal_records_monitor.rsi/monitor.png
  Resources/Textures/_Sunrise/Objects/Devices/portable_camera_viewer.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Devices/portable_camera_viewer.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Devices/portable_camera_viewer.rsi/monitor.png
  Resources/Textures/_Sunrise/Objects/Misc/pens.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/handheldcriminalrecordsmonitor.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Specific/handheldcriminalrecordsmonitor.rsi/monitor.png
Labels: No C#, Changes: Sprites

#402 New tts voices
  Resources/Locale/ru-RU/_strings/_sunrise/tts/tts-voices-sunrise.ftl
  Resources/Prototypes/_Sunrise/tts_voices_sunrise.yml
Labels: No C#, Status: Needs Review

#404 Энергетические щиты
  Content.Server/EnergyDome/EnergyDomeComponent.cs
  Content.Server/EnergyDome/EnergyDomeGeneratorComponent.cs
  Content.Server/EnergyDome/EnergyDomeSystem.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/energyshield_ambient.ogg
  Resources/Audio/Machines/energyshield_down.ogg
  Resources/Audio/Machines/energyshield_parry.ogg
  Resources/Audio/Machines/energyshield_up.ogg
  Resources/Locale/en-US/_strings/energydome/energydome.ftl
  Resources/Locale/en-US/_strings/research/technologies.ftl
  Resources/Locale/en-US/_strings/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/tools/energydome.ftl
  Resources/Locale/ru-RU/_strings/energydome/energydome.ftl
  Resources/Locale/ru-RU/_strings/research/technologies.ftl
  Resources/Locale/ru-RU/_strings/store/uplink-catalog.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Effects/dome.yml
  Resources/Prototypes/Entities/Objects/Tools/energydome.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/Effects/EnergyDome/energydome_big.rsi/big.png
  Resources/Textures/Effects/EnergyDome/energydome_big.rsi/meta.json
  Resources/Textures/Effects/EnergyDome/energydome_directed.rsi/meta.json
  Resources/Textures/Effects/EnergyDome/energydome_directed.rsi/small.png
  Resources/Textures/Effects/EnergyDome/energydome_medium.rsi/medium.png
  Resources/Textures/Effects/EnergyDome/energydome_medium.rsi/meta.json
  Resources/Textures/Effects/EnergyDome/energydome_slowdown_big.rsi/big.png
  Resources/Textures/Effects/EnergyDome/energydome_slowdown_big.rsi/meta.json
  Resources/Textures/Effects/EnergyDome/energydome_small.rsi/meta.json
  Resources/Textures/Effects/EnergyDome/energydome_small.rsi/small.png
  Resources/Textures/Objects/Tools/EnergyDome/reinhardt.rsi/icon.png
  Resources/Textures/Objects/Tools/EnergyDome/reinhardt.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/EnergyDome/reinhardt.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/EnergyDome/reinhardt.rsi/meta.json
  Resources/Textures/Objects/Tools/EnergyDome/syndie.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/EnergyDome/syndie.rsi/icon.png
  Resources/Textures/Objects/Tools/EnergyDome/syndie.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/EnergyDome/syndie.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/EnergyDome/syndie.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#399 Генератор Супер материи
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
  Content.Server/Supermatter/Components/SupermatterComponent.cs
  Content.Server/Supermatter/EntitySystems/SupermatterSystem.cs
  Content.Shared/Supermatter/SupermatterDoAfterEvent.cs
  Resources/Audio/Ambience/Objects/attributions.yml
  Resources/Audio/Ambience/Objects/supermatter_calm.ogg
  Resources/Audio/Ambience/Objects/supermatter_delam.ogg
  Resources/Audio/Weapons/attributions.yml
  Resources/Audio/Weapons/emitter2.ogg
  Resources/Locale/en-US/_strings/supermatter/supermatter.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/misc/supermatter_sliver.ftl
  Resources/Locale/ru-RU/_prototypes/entities/structures/power/generation/supermatter/supermatter.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/objectives/steal.ftl
  Resources/Locale/ru-RU/_strings/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/ru-RU/_strings/supermatter/supermatter.ftl
  Resources/Locale/ru-RU/_strings/warps/warp-point-component.ftl
  Resources/Prototypes/Entities/Effects/lightning.yml
  Resources/Prototypes/Entities/Objects/Misc/supermatter_sliver.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Supermatter/supermatter.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Supermatter/supermatter_kudzu.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Misc/supermatter_sliver.rsi/icon.png
  Resources/Textures/Objects/Misc/supermatter_sliver.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/supermatter.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/supermatter.rsi/supermatter.png
Labels: Changes: Sprites, Status: Needs Review

#355 planet prison remap by Keli
  Resources/Maps/_Sunrise/planet_prison.yml
Labels: No C#, Changes: Map, Status: Needs Review

#406 Апстрим локализации
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/devices/handheld.ftl
  Resources/Locale/en-US/_prototypes/actions/types.ftl
  Resources/Locale/en-US/_prototypes/catalog/fills/crates/emergency.ftl
  Resources/Locale/en-US/_prototypes/entities/clothing/head/hats.ftl
  Resources/Locale/en-US/_prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/en-US/_prototypes/entities/effects/dome.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/consumable/food/produce.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/devices/electronics/misc.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/misc/supermatter_sliver.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/tools/energydome.ftl
  Resources/Locale/en-US/_prototypes/entities/structures/machines/computers/base_structurecomputers.ftl
  Resources/Locale/en-US/_prototypes/entities/structures/power/generation/supermatter/supermatter.ftl
  Resources/Locale/en-US/_prototypes/gamerules/unknown_shuttles.ftl
  Resources/Locale/en-US/_prototypes/objectives/traitor.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/devices/handheld.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/misc/pen.ftl
  Resources/Locale/ru-RU/_prototypes/entities/effects/dome.ftl
  Resources/Locale/ru-RU/_prototypes/entities/markers/spawners/random/anomaly.ftl
  Resources/Locale/ru-RU/_prototypes/entities/mobs/npcs/space.ftl
  Resources/Locale/ru-RU/_prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/devices/cartridges.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/devices/electronics/misc.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/fun/immovable_rod.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/misc/supermatter_sliver.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/tools/energydome.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/weapons/guns/projectiles/arrows.ftl
  Resources/Locale/ru-RU/_prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/ru-RU/_prototypes/entities/structures/power/generation/supermatter/supermatter.ftl
  Resources/Locale/ru-RU/_prototypes/objectives/thief.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/objectives/steal.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/paper/stamp-component.ftl
  Resources/Locale/ru-RU/_strings/cartridge-loader/cartridges.ftl
  Resources/Locale/ru-RU/_strings/energydome/energydome.ftl
  Resources/Locale/ru-RU/_strings/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/_strings/navmap-beacons/station_map.ftl
  Resources/Locale/ru-RU/_strings/nutrition/components/food-sequence.ftl
  Resources/Locale/ru-RU/_strings/paper/paper-component.ftl
  Resources/Locale/ru-RU/_strings/seeds/seeds.ftl
  Resources/Locale/ru-RU/_strings/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_strings/supermatter/supermatter.ftl
  Resources/Locale/ru-RU/_strings/voice-mask.ftl
  Resources/Locale/ru-RU/_strings/voting/managers/vote-manager.ftl
  Resources/Locale/ru-RU/_strings/voting/ui/vote-call-menu.ftl
  Resources/Locale/ru-RU/_strings/voting/ui/vote-popup.ftl
  Resources/Locale/ru-RU/_strings/wires/wire-names.ftl
Labels: No C#, Status: Needs Review

#419 added new tts voice - thrud from heartstone
  Resources/Locale/ru-RU/_strings/_sunrise/tts/tts-voices-sunrise.ftl
  Resources/Prototypes/_Sunrise/tts_voices_sunrise.yml
Labels: No C#, Status: Needs Review

#405 Добавление в меню покупок карго новой хуйни и ещё хуйня какая то
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/crates/armory.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/crates/security.ftl
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Crates/security.yml
Labels: No C#

#420 Proton
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml
  Content.Client/Administration/UI/Tabs/AdminTab/PlayerActionsWindow.xaml
  Content.Client/Administration/UI/Tabs/AdminTab/PlayerActionsWindow.xaml.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/_Sunrise/Proton/ClientProtonManager.cs
  Content.Client/_Sunrise/Proton/ProtonScreenshotView.xaml
  Content.Client/_Sunrise/Proton/ProtonScreenshotView.xaml.cs
  Content.Client/_Sunrise/Proton/ScreenshotCommand.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_Sunrise/Proton/ServerProtonManager.cs
  Content.Shared/_Sunrise/Proton/ProtonRequests.cs
  Content.Shared/_Sunrise/Proton/ProtonResponses.cs
  Resources/Locale/en-US/_strings/_sunrise/administration/ui/actions.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/administration/ui/actions.ftl
Labels: Changes: UI, Status: Needs Review

#418 Train
  Resources/Maps/_Sunrise/Station/train.yml
  Resources/Prototypes/_Sunrise/Maps/Pools/default.yml
  Resources/Prototypes/_Sunrise/Maps/train.yml
Labels: No C#, Changes: Map

#414 Carry identity
  Content.Server/_Sunrise/Carrying/CarryingSystem.cs
Labels: Status: Needs Review

#411 Настой ромашки
  Resources/Locale/ru-RU/_prototypes/_sunrise/reagents/fun.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/coffee.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_Sunrise/Flavors/flavors.yml
  Resources/Prototypes/_Sunrise/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/_Sunrise/Tiles/floors.yml
  Resources/Textures/_Sunrise/Objects/Consumable/Drinks/nastoykaRomashki.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Consumable/Drinks/nastoykaRomashki.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#413 Ночное видение
  Content.Client/_Sunrise/Eye/NightVision/NightVisionOverlay.cs
  Content.Client/_Sunrise/Eye/NightVision/NightVisionSystem.cs
  Content.Shared/Actions/ActionContainerSystem.cs
  Content.Shared/_Sunrise/Eye/NightVision/Components/NVGComponent.cs
  Content.Shared/_Sunrise/Eye/NightVision/Components/NightVisionComponent.cs
  Content.Shared/_Sunrise/Eye/NightVision/Systems/NVGSystem.cs
  Content.Shared/_Sunrise/Eye/NightVision/Systems/NightVisionSystem.cs
  Resources/Audio/_Sunrise/Misc/night-vision-sound-effect_E_minor.ogg
  Resources/Locale/ru-RU/_prototypes/_sunrise/actions/nvg.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/eyes/nvg.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_Sunrise/Actions/nvg.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/nvg.yml
Labels: Status: Needs Review

#421 Upd issues
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/issue_report.md
  .github/ISSUE_TEMPLATE/toolshed-feature-request.md
  .github/workflows/build-test-debug.yml
Labels: No C#, Status: Needs Review

#422 Плюшка Cikuus
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-cikuus.png
Labels: No C#, Changes: Sprites, Status: Needs Review
