Repository space-sunrise/sunrise-station, pull requests merged in 2024-06, with the labels that each got.

#4 Updated manifest.yml
  Resources/manifest.yml
Labels: No C#

#13 Хаб серверов
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Launcher/LauncherConnectingGui.xaml
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Client/_Sunrise/ServersHub/ServersHub.xaml
  Content.Client/_Sunrise/ServersHub/ServersHub.xaml.cs
  Content.Client/_Sunrise/ServersHub/ServersHubEntry.xaml
  Content.Client/_Sunrise/ServersHub/ServersHubEntry.xaml.cs
  Content.Client/_Sunrise/ServersHub/ServersHubManager.cs
  Content.Client/_Sunrise/ServersHub/ServersHubUi.xaml
  Content.Client/_Sunrise/ServersHub/ServersHubUi.xaml.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_Sunrise/ServersHub/ServersHubManager.cs
  Content.Shared/_Sunrise/ServersHub/FullServerHubListMessage.cs
  Content.Shared/_Sunrise/ServersHub/ServerHubEntry.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Changelog/ChangelogSunrise.yml
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
Labels: Changes: UI

#12 Изменил лого
  Resources/Textures/Logo/icon-ru/icon-128x128.png
  Resources/Textures/Logo/icon-ru/icon-16x16.png
  Resources/Textures/Logo/icon-ru/icon-24x24.png
  Resources/Textures/Logo/icon-ru/icon-256x256.png
  Resources/Textures/Logo/icon-ru/icon-32x32.png
  Resources/Textures/Logo/icon-ru/icon-48x48.png
  Resources/Textures/Logo/icon-ru/icon-512x512.png
  Resources/Textures/Logo/icon-ru/icon-64x64.png
  Resources/Textures/Logo/icon.ico
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-512x512.png
  Resources/Textures/Logo/icon/icon-64x64.png
Labels: No C#

#9 Корректировка документа цель станции
  Resources/Locale/ru-RU/_sunrise/station-goal/station-goal-component.ftl
Labels: No C#

#18 Add client TTS disable button
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
Labels: Changes: UI

#22 Время завершения смены, прибытия и отбытия эвак шаттла в КПК
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Shared/PDA/PdaComponent.cs
  Content.Shared/PDA/PdaUpdateState.cs
  Resources/Locale/ru-RU/pda/pda-component.ftl
Labels: Changes: UI

#21 Vulpkanin Markings Lang Fix
  Resources/Locale/ru-RU/_sunrise/markings/foxes.ftl
  Resources/Locale/ru-RU/_sunrise/markings/vulpkanin.ftl
Labels: No C#

#25 Удобный монитор камер и портативный мониторинг для детектива.
  Content.Client/SurveillanceCamera/ActiveSurveillanceCameraMonitor.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorBoundUi.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorWindow.xaml
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorWindow.xaml.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraNavMapControl.cs
  Content.Server/SurveillanceCamera/Components/SurveillanceCameraMonitorComponent.cs
  Content.Server/SurveillanceCamera/Components/SurveillanceCameraRouterComponent.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMonitorSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraRouterSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSystem.cs
  Content.Shared/SurveillanceCamera/SharedSurveillanceCameraMonitorSystem.cs
  Resources/Changelog/ChangelogSunrise.yml
  Resources/Locale/ru-RU/surveillance-camera/surveillance-camera-ui.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Machines/surveillance_camera_routers.yml
  Resources/Prototypes/_Sunrise/portable_computers.yml
  Resources/Textures/_Sunrise/Entities/Objects/Devices/portable_camera_viewer.rsi/icon.png
  Resources/Textures/_Sunrise/Entities/Objects/Devices/portable_camera_viewer.rsi/meta.json
Labels: Changes: UI, Changes: Sprites

#28 Добавил таймеры гост ролям
  Resources/Changelog/ChangelogSunrise.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
Labels: No C#

#29 Спрайты
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/meta.json
  Resources/Textures/Clothing/Mask/breath.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/breath.rsi/icon.png
  Resources/Textures/Clothing/Mask/breath.rsi/meta.json
  Resources/Textures/Clothing/Mask/breath.rsi/up-equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/breath.rsi/up-equipped-MASK.png
  Resources/Textures/Clothing/Mask/ert.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/ert.rsi/icon.png
  Resources/Textures/Clothing/Mask/ert.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/ert.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/ert.rsi/meta.json
  Resources/Textures/Clothing/Mask/gas.rsi/equipped-MASK-hamster.png
  Resources/Textures/Clothing/Mask/gas.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/gas.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/gas.rsi/icon.png
  Resources/Textures/Clothing/Mask/gas.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/gas.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/gas.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/meta.json
  Resources/Textures/Objects/Devices/communication.rsi/old-radio.png
Labels: No C#, Changes: Sprites

#30 Обнимашки
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: No C#

#27 Ремаппнул старые шаттлы ОБР
  Resources/Maps/_Sunrise/Shuttles/cburn_ert_shuttle.yml
  Resources/Maps/_Sunrise/Shuttles/centcom_shuttle.yml
  Resources/Maps/_Sunrise/Shuttles/cleaner_ert_shuttle.yml
  Resources/Maps/_Sunrise/Shuttles/clown_ert_shuttle.yml
  Resources/Maps/_Sunrise/Shuttles/death_squad_shuttle.yml
  Resources/Maps/_Sunrise/Shuttles/engineer_ert_shuttle.yml
  Resources/Maps/_Sunrise/Shuttles/medical_ert_shuttle.yml
  Resources/Maps/_Sunrise/Shuttles/officer_ert_shuttle.yml
Labels: No C#

#36 Секрет в голосовании за карту. Автоматическое голосование в конце раунда
  Content.Client/Voting/UI/VoteCallMenu.xaml.cs
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Content.Server/_Sunrise/RoundEndVote/RoundEndVoteSystem.cs
  Resources/Changelog/ChangelogSunrise.yml
  Resources/Locale/ru-RU/voting/managers/vote-manager.ftl
Labels: Changes: UI

#49 Фикс перевода меню эмоций
  Resources/Locale/ru-RU/_sunrise/chat/emotes.ftl
Labels: No C#

#48 Изменение шаблона пулл реквеста
  .github/PULL_REQUEST_TEMPLATE.md
Labels: No C#

#40 Добавил бригмедика
  Resources/Changelog/ChangelogSunrise.yml
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/startergear/backpack.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/startergear/duffelbag.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/backpacks/startergear/satchel.ftl
  Resources/Locale/en-US/ss14-ru/prototypes/catalog/fills/boxes/emergency.ftl
  Resources/Locale/ru-RU/corvax/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/emergency.ftl
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_Sunrise/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Sunrise/Maps/box.yml
  Resources/Prototypes/_Sunrise/Maps/cluster.yml
  Resources/Prototypes/_Sunrise/Maps/delta.yml
  Resources/Prototypes/_Sunrise/Maps/fland.yml
  Resources/Prototypes/_Sunrise/Maps/marathon.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/_Sunrise/Roles/play_time_trackers.yml
Labels: No C#

#44 Магистрат и юридический департамент
  Resources/Changelog/ChangelogSunrise.yml
  Resources/Locale/ru-RU/_sunrise/job/department-desc.ftl
  Resources/Locale/ru-RU/_sunrise/job/department.ftl
  Resources/Locale/ru-RU/_sunrise/job/job-desc.ftl
  Resources/Locale/ru-RU/_sunrise/job/job-names.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_sunrise/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_sunrise/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_sunrise/entities/objects/misc/identification_cards.ftl
  Resources/Prototypes/Access/command.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/train.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Sunrise/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Sunrise/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Sunrise/Maps/box.yml
  Resources/Prototypes/_Sunrise/Maps/cluster.yml
  Resources/Prototypes/_Sunrise/Maps/delta.yml
  Resources/Prototypes/_Sunrise/Maps/fland.yml
  Resources/Prototypes/_Sunrise/Maps/marathon.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Civilian/Magistrat.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/departments.yml
  Resources/Prototypes/_Sunrise/Roles/play_time_trackers.yml
  Resources/Prototypes/_Sunrise/StatusEffects/job.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/IAA.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Magistrat.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Objects/Misc/id_cards.rsi/idiaa.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idmagistrat.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/magistratebel.rsi/equipped-INNERCLOTHING-digi.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/magistratebel.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/magistratebel.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/magistratebel.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/magistratebel.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/magistratebel.rsi/meta.json
  Resources/Textures/_Sunrise/Markers/jobs.rsi/green.png
  Resources/Textures/_Sunrise/Markers/jobs.rsi/jobicon.png
  Resources/Textures/_Sunrise/Markers/jobs.rsi/magistrat.png
  Resources/Textures/_Sunrise/Markers/jobs.rsi/meta.json
Labels: No C#, Changes: Sprites, Changes: Map

#47 Отображение даты в КПК
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Shared/_Sunrise/Time/TimeSystem.cs
  Resources/Locale/en-US/_sunrise/time/time.ftl
  Resources/Locale/en-US/pda/pda-component.ftl
  Resources/Locale/ru-RU/_sunrise/time/time.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
Labels: Changes: UI

#51 Тразитный хаб и играбельное ЦК
  Content.IntegrationTests/Tests/GameRules/NukeOpsTest.cs
  Content.IntegrationTests/Tests/Station/EvacShuttleTest.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/Rules/DeathMatchRuleSystem.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Shuttles/Components/StationArrivalsComponent.cs
  Content.Server/Shuttles/Components/StationCentcommComponent.cs
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Server/Shuttles/Systems/DockingSystem.Shuttle.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/_Sunrise/StationCentcomm/StationCentcommComponent.cs
  Content.Server/_Sunrise/StationCentcomm/StationCentcommSystem.cs
  Content.Server/_Sunrise/TransitHub/StationTransitHubComponent.cs
  Content.Shared/_Sunrise/Shuttles/CentCommShuttleComponent.cs
  Content.Shared/_Sunrise/Shuttles/ErtShuttleComponent.cs
  Resources/Changelog/ChangelogSunrise.yml
  Resources/Locale/ru-RU/_sunrise/job/department-desc.ftl
  Resources/Locale/ru-RU/_sunrise/job/department.ftl
  Resources/Locale/ru-RU/_sunrise/job/job-desc.ftl
  Resources/Locale/ru-RU/_sunrise/job/job-names.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Maps/_Sunrise/Nonstations/transit_hub.yml
  Resources/Maps/_Sunrise/Shuttles/cburn_ert_shuttle.yml
  Resources/Maps/_Sunrise/Shuttles/centcom_shuttle.yml
  Resources/Maps/_Sunrise/Shuttles/cleaner_ert_shuttle.yml
  Resources/Maps/_Sunrise/Shuttles/clown_ert_shuttle.yml
  Resources/Maps/_Sunrise/Shuttles/death_squad_shuttle.yml
  Resources/Maps/_Sunrise/Shuttles/engineer_ert_shuttle.yml
  Resources/Maps/_Sunrise/Shuttles/medical_ert_shuttle.yml
  Resources/Maps/_Sunrise/Shuttles/officer_ert_shuttle.yml
  Resources/Maps/_Sunrise/Station/centcomm.yml
  Resources/Prototypes/Entities/Mobs/Corpses/corpses.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Maps/centcomm.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Prototypes/_Sunrise/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_Sunrise/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Sunrise/Maps/centcomm.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/CentralCommand/centcom_official.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/CentralCommand/centcom_operator.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Command/centcom_admiral.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/departments.yml
  Resources/Prototypes/_Sunrise/Roles/play_time_trackers.yml
Labels: Changes: Map

#52 Сделал более структурированными правила
  Resources/Prototypes/_Sunrise/Guidebook/rules.yml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/AdditionalRules/CCP.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/AdditionalRules/CEP.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/AdditionalRules/PANA.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/CoreRules/RuleSR0DBAD.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/CoreRules/RuleSR10Exploit.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/CoreRules/RuleSR1Decay.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/CoreRules/RuleSR2Kill.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/CoreRules/RuleSR3VGA.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/CoreRules/RuleSR4LC.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/CoreRules/RuleSR5.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/CoreRules/RuleSR6RPA.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/CoreRules/RuleSR7SA.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/CoreRules/RuleSR8VH.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/PrecedentExceptionRules/PER0.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/PrecedentExceptionRules/PER1.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/PrecedentExceptionRules/PER10.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/PrecedentExceptionRules/PER2.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/PrecedentExceptionRules/PER3.1.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/PrecedentExceptionRules/PER3.3.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/PrecedentExceptionRules/PER3.4.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/PrecedentExceptionRules/PER3.6.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/PrecedentExceptionRules/PER3.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/PrecedentExceptionRules/PER4.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/PrecedentExceptionRules/PER6.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/PrecedentExceptionRules/PER7.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/PrecedentExceptionRules/PER8.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/RolePlayRules/RuleSRRP1PG.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/RolePlayRules/RuleSRRP2MG.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/RolePlayRules/RuleSRRP3MK.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/RolePlayRules/RuleSRRP4ICinOOC.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/RolePlayRules/RuleSRRP6SK.xml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/RolePlayRules/RuleSRRP7ORL.xml
  Resources/ServerInfo/Guidebook/ServerRules/SunriseRules.xml
Labels: No C#

#54 Респрайт вещмешков
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/captain.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/captain.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/captain.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/captain.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/captain.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/cargo.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/cargo.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/cargo.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/cargo.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/cargo.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/chemistry.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/chemistry.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/clown.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/clown.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/duffel.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/duffel.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/engineering.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/engineering.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/genetics.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/genetics.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/holding.rsi/icon-unlit.png
  Resources/Textures/Clothing/Back/Duffels/holding.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/holding.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/hydroponics.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/hydroponics.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/medical.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/medical.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/mime.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/mime.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/salvage.rsi/equipped-BACK.png
  Resources/Textures/Clothing/Back/Duffels/salvage.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/salvage.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/salvage.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/salvage.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/science.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/science.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/syndicate.rsi/icon-ammo.png
  Resources/Textures/Clothing/Back/Duffels/syndicate.rsi/icon-med.png
  Resources/Textures/Clothing/Back/Duffels/syndicate.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/syndicate.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/virology.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/virology.rsi/meta.json
Labels: No C#, Changes: Sprites

#63 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: No C#

#61 Печать магистрата.
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Law/Magistrat.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-magistrat.png
  Resources/Textures/_Sunrise/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Misc/stamps.rsi/stamp-magistrat.png
Labels: No C#, Changes: Sprites

#64 Воркфлоу для обновления чейнжлога автоматически.
  .github/workflows/update_changelog.yml
  Tools/automatic_changelog.py
Labels: No C#

#65 Летающий Мед.Бот
  Resources/Audio/_Sunrise/Effects/Flying/medibot.ogg
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Textures/_Sunrise/Mobs/Silicon/Bots/medibot.rsi/medibot.png
  Resources/Textures/_Sunrise/Mobs/Silicon/Bots/medibot.rsi/meta.json
Labels: No C#, Changes: Sprites

#67 Фразы МедБота
  Resources/Locale/ru-RU/npc/medibot.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/silicon.ftl
Labels: No C#

#69 Тест авточейнжлога
  Resources/Prototypes/_Sunrise/Roles/Jobs/departments.yml
Labels: No C#

#72 Test changelog
  .github/workflows/update_changelog.yml
Labels: No C#

#73 Test changelog
  .github/workflows/update_changelog.yml
Labels: No C#

#74 Test changelog
  .github/workflows/update_changelog.yml
Labels: No C#

#75 Test changelog
  .github/workflows/update_changelog.yml
Labels: No C#

#76 Test changelog
  .github/workflows/update_changelog.yml
Labels: No C#

#77 Update update_changelog.yml
  .github/workflows/update_changelog.yml
Labels: No C#

#79 Test changelog
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/silicon.ftl
  Resources/Prototypes/_Sunrise/Roles/Jobs/departments.yml
Labels: No C#

#109 Фикс Ошибок Yaml linter, CRLF Check проекта
  Content.Client/_Sunrise/FactionWeaponBlockerSystem/FactionWeaponBlockerComponent.cs
  Content.Server/_Sunrise/FactionClothingBlockerSystem/FactionClothingBlockerComponent.cs
  Content.Server/_Sunrise/FactionWeaponBlockerSystem/FactionWeaponBlockerComponent.cs
  Content.Shared/_Sunrise/FactionWeaponBlockerSystem/SharedFactionWeaponBlockerComponent.cs
  Resources/Audio/Lobby/title3.ogg
  Resources/Locale/ru-RU/_sunrise/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/corvax/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/SoundCollections/lobby.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Prototypes/audio.yml
  Tools/check_crlf.py
Labels: No C#

#118 Перевод Акцентов
  Resources/Locale/ru-RU/traits/traits.ftl
Labels: No C#

#112 Перевод Униформ от Corvax
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpsuits.ftl
Labels: No C#

#110 Пинг в каждом PR
  .github/CODEOWNERS
Labels: No C#

#117 Динамические Радиальные Менюшки
  Content.Client/UserInterface/Controls/RadialContainer.cs
Labels: Status: Needs Review

#115 Медибот теперь летает более реалистично
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Textures/_Sunrise/Mobs/Silicon/Bots/medibot.rsi/medibot.png
  Resources/Textures/_Sunrise/Mobs/Silicon/Bots/medibot.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#113 Портативный монитор криминальных записей
  Resources/Locale/en-US/ss14-ru/prototypes/entities/objects/specific/medical/handheld_crew_monitor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/medical/handheld_crew_monitor.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/handheld_criminal_records_monitor.yml
  Resources/Textures/_Sunrise/Objects/Specific/handheldcriminalrecordsmonitor.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Specific/handheldcriminalrecordsmonitor.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/handheldcriminalrecordsmonitor.rsi/monitor.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#126 Мелкие правки меню
  Content.Client/Lobby/UI/LobbyGui.xaml
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/preferences/ui/humanoid-profile-editor.ftl
Labels: No C#, Changes: UI, Status: Needs Review

#116 Фикс ошибок
  Content.IntegrationTests/Tests/GameObjects/Components/Mobs/AlertsComponentTests.cs
  Content.IntegrationTests/Tests/Minds/MindTest.DeleteAllThenGhost.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/ServerInfo/Guidebook/ServerRules/RulesSR/PrecedentExceptionRules/PER3.3.xml
Labels: Changes: Map, Status: Needs Review

#134 Ползунок громкости для магнитофонов (булка наныл)
  Content.Client/_Sunrise/TapePlayer/TapePlayerBoundUserInterface.cs
  Content.Client/_Sunrise/TapePlayer/TapePlayerMenu.xaml
  Content.Client/_Sunrise/TapePlayer/TapePlayerMenu.xaml.cs
  Content.Server/_Sunrise/TapePlayer/TapePlayerSystem.cs
  Content.Shared/_Sunrise/TapePlayer/TapePlayerComponent.cs
  Resources/Locale/ru-RU/_sunrise/tape_player/tape-player-menu.ftl
  Resources/Prototypes/Entities/Structures/Machines/jukebox.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/boombox.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/tape_player.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/tapes.yml
Labels: Changes: UI

#136 Возможность отключения музыки с бумбоксов. Понижение максимальной громкости.
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/_Sunrise/TapePlayer/TapePlayerMenu.xaml
  Content.Client/_Sunrise/TapePlayer/TapePlayerSystem.cs
  Content.Server/_Sunrise/TapePlayer/TapePlayerSystem.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Content.Shared/_Sunrise/TapePlayer/ClientOptionTapePlayerEvent.cs
  Content.Shared/_Sunrise/TapePlayer/TapePlayerComponent.cs
  Resources/Locale/ru-RU/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Structures/Machines/jukebox.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/boombox.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/tape_player.yml
Labels: Changes: UI, Merge Conflict

#139 Агост может видеть должность и мш
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: No C#, Status: Needs Review

#140 Мелкие фиксы
  Resources/Prototypes/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Lockers/blueshield.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/departments.yml
Labels: No C#, Status: Needs Review

#141 Локализация советов
  Resources/Locale/ru-RU/tips.ftl
Labels: No C#

#142 фикс времени пда
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Client/_Sunrise/Time/TimeSystem.cs
  Content.Shared/_Sunrise/Time/TimeSystem.cs
  Resources/Locale/en-US/_sunrise/time/time.ftl
  Resources/Locale/en-US/pda/pda-component.ftl
  Resources/Locale/ru-RU/_sunrise/time/time.ftl
  Resources/Locale/ru-RU/pda/pda-component.ftl
Labels: Changes: UI, Status: Needs Review

#143 Ведущие роли + мелкие изменения
  Resources/Locale/ru-RU/_sunrise/job/job-desc.ftl
  Resources/Locale/ru-RU/_sunrise/job/job-names.ftl
  Resources/Locale/ru-RU/_sunrise/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/clothing/back/backpacks.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Sunrise/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Security/senior_officer.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Sunrise/Maps/box.yml
  Resources/Prototypes/_Sunrise/Maps/delta.yml
  Resources/Prototypes/_Sunrise/Maps/fland.yml
  Resources/Prototypes/_Sunrise/Maps/marathon.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/CentralCommand/centcom_official.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Law/iaa.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/_Sunrise/Roles/play_time_trackers.yml
Labels: No C#

#146 Робототехник
  Resources/Locale/ru-RU/_sunrise/job/job-desc.ftl
  Resources/Locale/ru-RU/_sunrise/job/job-names.ftl
  Resources/Locale/ru-RU/_sunrise/preferences/loadout-groups.ftl
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/identification_cards.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Science/roboticist.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Sunrise/Maps/box.yml
  Resources/Prototypes/_Sunrise/Maps/cluster.yml
  Resources/Prototypes/_Sunrise/Maps/delta.yml
  Resources/Prototypes/_Sunrise/Maps/fland.yml
  Resources/Prototypes/_Sunrise/Maps/marathon.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Science/roboticist.yml
  Resources/Prototypes/_Sunrise/Roles/play_time_trackers.yml
Labels: No C#

#145 Добавлен аварийный ремонтный набор для КПБ
  Resources/Locale/ru-RU/ss14-ru/prototypes/catalog/fills/boxes/emergency.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_Sunrise/Loadouts/Miscellaneous/survival.yml
Labels: No C#, Status: Needs Review

#147 Замена позитронного мозга на роботический
  Resources/Locale/ru-RU/_sunrise/robotics/boris.ftl
  Resources/Locale/ru-RU/_sunrise/robotics/sofia.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/specific/robotics/mmi.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/boris.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/sofia.yml
  Resources/Prototypes/_Sunrise/name_identifier_groups.yml
  Resources/ServerInfo/Guidebook/Science/Cyborgs.xml
  Resources/Textures/_Sunrise/Entities/Objects/boris.rsi/boris.png
  Resources/Textures/_Sunrise/Entities/Objects/boris.rsi/boris_blank.png
  Resources/Textures/_Sunrise/Entities/Objects/boris.rsi/boris_recharging.png
  Resources/Textures/_Sunrise/Entities/Objects/boris.rsi/meta.json
  Resources/Textures/_Sunrise/Entities/Objects/sofia.rsi/meta.json
  Resources/Textures/_Sunrise/Entities/Objects/sofia.rsi/sofia.png
  Resources/Textures/_Sunrise/Entities/Objects/sofia.rsi/sofia_blank.png
  Resources/Textures/_Sunrise/Entities/Objects/sofia.rsi/sofia_recharging.png
Labels: No C#, Changes: Sprites

#152 Следы от луж
  Content.Server/_Sunrise/FootPrints/Components/FootPrintsComponent.cs
  Content.Server/_Sunrise/FootPrints/Components/PuddleFootPrintsComponent.cs
  Content.Server/_Sunrise/FootPrints/FootPrintsSystem.cs
  Content.Server/_Sunrise/FootPrints/PuddleFootPrintsSystem.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/_Sunrise/Decals/footprints.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/swine.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/synth.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/vulpkanin.yml
  Resources/Textures/Effects/footprints.rsi/dragging-1.png
  Resources/Textures/Effects/footprints.rsi/dragging-2.png
  Resources/Textures/Effects/footprints.rsi/dragging-3.png
  Resources/Textures/Effects/footprints.rsi/dragging-4.png
  Resources/Textures/Effects/footprints.rsi/dragging-5.png
  Resources/Textures/Effects/footprints.rsi/dragging-test.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-diona.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-dwarf.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-human.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-lizard.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-slime.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-spider.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-swine.png
  Resources/Textures/Effects/footprints.rsi/footprint-left-bare-vulp.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-diona.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-dwarf.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-human.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-lizard.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-slime.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-spider.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-swine.png
  Resources/Textures/Effects/footprints.rsi/footprint-right-bare-vulp.png
  Resources/Textures/Effects/footprints.rsi/footprint-shoes.png
  Resources/Textures/Effects/footprints.rsi/footprint-suit.png
  Resources/Textures/Effects/footprints.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review
