Repository space-sunrise/sunrise-station, pull requests merged in 2024-08, with the labels that each got.

#264 Secret weight
  Resources/Prototypes/_Sunrise/secret_weights.yml
Labels: No C#, Status: Needs Review

#269 Фикс синего щита
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Blueshield/blueshield.yml
Labels: No C#, Status: Needs Review

#280 Мусор в прототипах
  Resources/Prototypes/_Sunrise/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ghost_themes.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/bebeplinks.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/fishplinks.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/handheld.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/handheld_camera.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/handheld_criminal_records_monitor.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/roboanalyzer.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_Sunrise/SoundCollections/announcements.yml
  Resources/Prototypes/_Sunrise/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_Sunrise/portable_computers.yml
  Resources/Prototypes/_Sunrise/syndi_guns.yml
  Resources/Prototypes/_Sunrise/tags.yml
Labels: No C#, Status: Needs Review

#278 Фикс парикмахера
  Content.Client/_Sunrise/Razor/RazorBoundUserInterface.cs
  Content.Client/_Sunrise/Razor/RazorSingleMarkingPicker.xaml.cs
  Content.Client/_Sunrise/Razor/RazorSystem.cs
  Content.Client/_Sunrise/Razor/RazorWindow.xaml.cs
  Content.Server/_Sunrise/HairDye/HairDyeSystem.cs
  Content.Server/_Sunrise/HairDye/HairDyerComponent.cs
  Content.Server/_Sunrise/Razor/RazorSystem.cs
  Content.Shared/_Sunrise/Razor/RazorComponent.cs
  Content.Shared/_Sunrise/Razor/SharedRazorSystem.cs
  Resources/Locale/ru-RU/_sunrise/access/access.ftl
  Resources/Prototypes/Access/command.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Access/service.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Civillian/barber.yml
Labels: Changes: UI, Status: Needs Review

#277 Тюремный инженер
  Resources/Locale/ru-RU/_sunrise/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Prototypes/_Sunrise/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/identification_cards.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Sunrise/Maps/planet_prison.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prison_engineer.yml
Labels: No C#, Status: Needs Review

#282 Небольшой фикс перевода
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/ServerInfo/Guidebook/Antagonist/Changelings.xml
Labels: No C#

#285 Катсцены
  Resources/Textures/_Sunrise/Interface/Misc/cutscenes.rsi/meta.json
  Resources/Textures/_Sunrise/Interface/Misc/cutscenes.rsi/nuke.png
  Resources/Textures/_Sunrise/Interface/Misc/cutscenes.rsi/station_explode_fade_red.png
  Resources/Textures/_Sunrise/Interface/Misc/cutscenes.rsi/station_intact.png
  Resources/Textures/_Sunrise/Interface/Misc/cutscenes.rsi/station_intact_fade_red.png
  Resources/Textures/_Sunrise/Interface/Misc/cutscenes.rsi/summary_nukefail.png
  Resources/Textures/_Sunrise/Interface/Misc/cutscenes.rsi/summary_nukewin.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#279 Фикс Боргов
  Content.Server/Light/EntitySystems/HandheldLightSystem.cs
Labels: Status: Needs Review

#286 Обновление перевода
  Content.Server/Objectives/Systems/StealConditionSystem.cs
  Resources/Locale/ru-RU/_sunrise/_prototypes/entities/objects/weapons/guns/ammunition/magazines/light_rifle.ftl
  Resources/Locale/ru-RU/_sunrise/_prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/_sunrise/_prototypes/entities/objects/weapons/guns/smgs/smgs.ftl
  Resources/Locale/ru-RU/_sunrise/disease/disease.ftl
  Resources/Locale/ru-RU/_sunrise/disease/vaccine.ftl
  Resources/Locale/ru-RU/_sunrise/prototypes/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/accent/russian.ftl
  Resources/Locale/ru-RU/administration/ui/actions.ftl
  Resources/Locale/ru-RU/administration/ui/player-panel.ftl
  Resources/Locale/ru-RU/administration/ui/silicon-law-ui.ftl
  Resources/Locale/ru-RU/administration/ui/tabs/object-tab.ftl
  Resources/Locale/ru-RU/clothing/components/cursed-mask.ftl
  Resources/Locale/ru-RU/construction/conditions/min-health.ftl
  Resources/Locale/ru-RU/contraband/contraband-severity.ftl
  Resources/Locale/ru-RU/execution/execution.ftl
  Resources/Locale/ru-RU/guidebook/guidebook.ftl
  Resources/Locale/ru-RU/info/playerpanel.ftl
  Resources/Locale/ru-RU/nutrition/components/food-sequence.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/research/technologies.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/masks/specific.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/markers/spawners/random/smokables.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/burger.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/consumable/food/ingredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/devices/shock_collar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/materials/scrap.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/misc/dinkystar.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/crowbars.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/thief_beacon.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/mining.ftl
  Resources/Locale/ru-RU/storage/components/secret-stash-component.ftl
  Resources/Locale/ru-RU/thief/beacon.ftl
  Resources/Locale/ru-RU/tools/components/tool-openable-component.ftl
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/suits.yml
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Coats/ntrep.rsi/icon-open.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Coats/ntrep.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Coats/ntrep.rsi/open-equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Coats/ntrep.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Coats/ntrep.rsi/open-inhand-left.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Coats/ntrep.rsi/open-inhand-right.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Coats/ntrep_open.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#289 Фикс дерьма
  Content.Server/Objectives/Systems/StealConditionSystem.cs
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/glasses.yml
Labels: Status: Needs Review

#294 Новый двигатель(и)
  Resources/Locale/ru-RU/_sunrise/_prototypes/entities/structures/shuttles/thrusters.ftl
  Resources/Prototypes/_Sunrise/Entities/Structures/Shuttles/thrusters.yml
  Resources/Textures/_Sunrise/Structures/Shuttles/big_thruster.rsi/base.png
  Resources/Textures/_Sunrise/Structures/Shuttles/big_thruster.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Shuttles/big_thruster.rsi/thrust.png
  Resources/Textures/_Sunrise/Structures/Shuttles/big_thruster.rsi/thrust_burn_unshaded.png
Labels: No C#, Changes: Sprites

#293 борги теперь не могут видеть майншилд
  Resources/Prototypes/_Sunrise/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: No C#, Status: Needs Review

#291 Фиксы
  Content.Client/UserInterface/Systems/Ghost/Controls/GhostTargetWindow.xaml.cs
  Resources/Locale/ru-RU/fax/fax.ftl
Labels: Changes: UI, Status: Needs Review

#290 абуз форматирования чата, емаг боргов итд
  Content.Client/_Sunrise/Chat/LocTag.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Server/_Sunrise/Chat/CanFormatMessagesComponent.cs
  Content.Server/_Sunrise/Chat/SayWithIntervalComponent.cs
  Content.Server/_Sunrise/Chat/SayWithIntervalSystem.cs
  Resources/Locale/ru-RU/_sunrise/borg/emag.ftl
Labels: Status: Needs Review

#297 minor changes
  Resources/Locale/ru-RU/_sunrise/flavors/flavor-profiles.ftl
  Resources/Prototypes/_Sunrise/Catalog/VendingMachines/Inventories/mayson_yan.yml
  Resources/Prototypes/_Sunrise/Reagents/Consumable/Drink/soda.yml
Labels: No C#, Status: Needs Review

#298 Респрайт шкафа Синего Щита.
  Resources/Textures/_Sunrise/Structures/Storage/closet.rsi/bssecure.png
  Resources/Textures/_Sunrise/Structures/Storage/closet.rsi/bssecure_door.png
  Resources/Textures/_Sunrise/Structures/Storage/closet.rsi/bssecure_open.png
  Resources/Textures/_Sunrise/Structures/Storage/closet.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#302 Дебаф крови яутж
  Resources/Prototypes/_Sunrise/Reagents/toxins.yml
Labels: No C#, Status: Needs Review

#309 Плюшка Genok
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/genok-librarian-shaded.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/genok-librarian-unshaded.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
Labels: No C#, Changes: Sprites

#308 Портативный монитор у ОСЩ
  Resources/Prototypes/_Sunrise/Roles/Jobs/Blueshield/blueshield.yml
Labels: No C#, Status: Needs Review

#307 Алтын
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/Graphs/Improvised/pubg.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/improvised.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/misc.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/security.yml
  Resources/Textures/_Sunrise/Clothing/Head/Helmets/tfhelm.rsi/equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Helmets/tfhelm.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/Helmets/tfhelm.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Head/Helmets/tfhelm.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Head/Helmets/tfhelm.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#306 Аавтозамена сокращений имени должности
  Content.Server/_Sunrise/ChatFilter/ChatSystem.cs
Labels: Status: Needs Review

#305 Теперь 5 ядерщиков, а не 3 (баланс)
  Resources/Prototypes/GameRules/roundstart.yml
Labels: No C#, Status: Needs Review

#303 Зажигалки флиппо
  Resources/Locale/ru-RU/_sunrise/_prototypes/entities/objects/misc/zippos.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/zippos.yml
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/blackzippo.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/blackzippoon.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/bluezippo.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/bluezippoon.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/contractorzippo.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/contractorzippoon.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/engravedzippo.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/engravedzippoon.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/gonzozippo.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/gonzozippoon.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_cap.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_cap_on.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_ce.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_ce_on.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_cmo.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_cmo_on.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_hop.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_hop_on.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_hos.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_hos_on.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_nt_off.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_nt_on.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_qm.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_qm_on.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_rd.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippo_rd_on.png
  Resources/Textures/_Sunrise/Objects/Misc/zippos.rsi/zippoon.png
Labels: No C#, Changes: Sprites

#300 Box
  Resources/Maps/_Sunrise/Station/box.yml
  Resources/Prototypes/_Sunrise/Maps/box.yml
Labels: No C#, Changes: Map

#325 Доработал чатфильтр
  Content.Server/_Sunrise/ChatFilter/ChatSystem.cs
Labels: Status: Needs Review

#320 Опять Перевод/Фиксы
  Content.Client/Administration/UI/ManageSolutions/AddReagentWindow.xaml.cs
  Content.Server/StatsBoard/StatsBoardSystem.cs
  Resources/Locale/ru-RU/_sunrise/_prototypes/entities/objects/misc/zippos.ftl
  Resources/Locale/ru-RU/_sunrise/_prototypes/entities/structures/doors/airlocks/Glass/double_glass_airlock.ftl
  Resources/Locale/ru-RU/_sunrise/_prototypes/entities/structures/doors/airlocks/Glass/glass_airlock.ftl
  Resources/Locale/ru-RU/_sunrise/_prototypes/entities/structures/shuttles/thrusters.ftl
  Resources/Locale/ru-RU/_sunrise/preferences/loadouts.ftl
  Resources/Locale/ru-RU/_sunrise/reagents/meta/consumable/drink/soda.ftl
  Resources/Locale/ru-RU/accent/german.ftl
  Resources/Locale/ru-RU/accent/southern.ftl
  Resources/Locale/ru-RU/accessories/vox-facial-hair.ftl
  Resources/Locale/ru-RU/accessories/vox-hair.ftl
  Resources/Locale/ru-RU/cargo/bounties.ftl
  Resources/Locale/ru-RU/communications/communications-console-component.ftl
  Resources/Locale/ru-RU/datasets/figurines.ftl
  Resources/Locale/ru-RU/execution/execution.ftl
  Resources/Locale/ru-RU/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/ghost/ghost-gui.ftl
  Resources/Locale/ru-RU/guidebook/guides.ftl
  Resources/Locale/ru-RU/info/ban.ftl
  Resources/Locale/ru-RU/job/role-requirements.ftl
  Resources/Locale/ru-RU/launcher/launcher-connecting.ftl
  Resources/Locale/ru-RU/machine-linking/receiver_ports.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/preferences/ui/markings-picker.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/reagents/meta/consumable/drink/juice.ftl
  Resources/Locale/ru-RU/seeds/seeds.ftl
  Resources/Locale/ru-RU/speech/speech-chatsan.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/mobs/npcs/asteroid.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/melee/baguette.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/weapons/throwable/croissant.ftl
  Resources/Locale/ru-RU/station-events/events/random-sentience.ftl
  Resources/Locale/ru-RU/store/uplink-catalog.ftl
  Resources/Prototypes/_Sunrise/Entities/Structures/Doors/Airlocks/Glass/double_glass_airlock.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Doors/Airlocks/Glass/glass_airlock.yml
  Tools/_sunrise/en_syntax_finder.py
Labels: No C#, Changes: UI, Status: Needs Review

#318 Новые модели TTS
  Resources/Locale/ru-RU/_sunrise/tts/tts-voices-sunrise.ftl
  Resources/Locale/ru-RU/_sunrise/tts/tts-voices.ftl
  Resources/Prototypes/_Sunrise/tts_voices_sunrise.yml
Labels: No C#, Status: Needs Review

#317 Отрыжка
  Resources/Audio/_Sunrise/Voice/Misc/Otryjka/otryjka1.ogg
  Resources/Audio/_Sunrise/Voice/Misc/Otryjka/otryjka2.ogg
  Resources/Audio/_Sunrise/Voice/Misc/Otryjka/otryjka3.ogg
  Resources/Audio/_Sunrise/Voice/Misc/Otryjka/otryjka4.ogg
  Resources/Audio/_Sunrise/Voice/Misc/Otryjka/otryjka5.ogg
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Sunrise/SoundCollections/otryjka.yml
  Resources/Prototypes/_Sunrise/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Sunrise/Voice/speech_emotes.yml
Labels: No C#, Status: Needs Review

#316 Бипски наносит удар.
  Resources/Locale/ru-RU/_sunrise/aphrodesiac/aphrodesiac.ftl
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
Labels: No C#, Status: Needs Review

#314 Шаттл ОБР для адмемов
  Resources/Maps/_Sunrise/Shuttles/mini_ERT_sec.yml
Labels: No C#, Changes: Map, Status: Needs Review

#313 Еще 3 плюшки от населения
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Sunrise/SoundCollections/vulpkanin.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-bublegum.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-frizko.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-miron.png
Labels: No C#, Changes: Sprites

#312 фикс магистрата
  Resources/Prototypes/_Sunrise/Roles/Jobs/Law/Magistrat.yml
Labels: No C#, Status: Needs Review

#310 Переместил 2 цели из папки оффов
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Sunrise/Objectives/stealTargetGroups.yml
Labels: No C#, Status: Needs Review

#326 фикс фелинидов
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/felinid.yml
Labels: No C#, Status: Needs Review

#311 Плюшка Ричарда Рида
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/richard_industries.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#327 Апстрим перевода
  Resources/Locale/ru-RU/_sunrise/_prototypes/body/organs/tajaran.ftl
  Resources/Locale/ru-RU/_sunrise/_prototypes/body/parts/base.ftl
  Resources/Locale/ru-RU/_sunrise/_prototypes/body/parts/tajaran.ftl
  Resources/Locale/ru-RU/_sunrise/_prototypes/catalog/fills/crates/fun.ftl
  Resources/Locale/ru-RU/_sunrise/_prototypes/entities/mobs/player/tajaran.ftl
  Resources/Locale/ru-RU/_sunrise/_prototypes/entities/mobs/species/tajaran.ftl
  Resources/Locale/ru-RU/_sunrise/_prototypes/entities/objects/fun/spray_paint.ftl
  Resources/Locale/ru-RU/_sunrise/aphrodesiac/aphrodesiac.ftl
  Resources/Locale/ru-RU/_sunrise/job/department-desc.ftl
  Resources/Locale/ru-RU/_sunrise/job/department.ftl
  Resources/Locale/ru-RU/_sunrise/markings/tajaran.ftl
  Resources/Locale/ru-RU/_sunrise/paint/paint.ftl
  Resources/Locale/ru-RU/access/ui/door-electronics-window.ftl
  Resources/Locale/ru-RU/administration/ui/silicon-law-ui.ftl
  Resources/Locale/ru-RU/connection-messages.ftl
  Resources/Locale/ru-RU/damage/stamina.ftl
  Resources/Locale/ru-RU/datasets/figurines.ftl
  Resources/Locale/ru-RU/execution/execution.ftl
  Resources/Locale/ru-RU/items/toggle.ftl
  Resources/Locale/ru-RU/job/department-desc.ftl
  Resources/Locale/ru-RU/job/department.ftl
  Resources/Locale/ru-RU/job/job-description.ftl
  Resources/Locale/ru-RU/job/job-names.ftl
  Resources/Locale/ru-RU/machine-linking/receiver_ports.ftl
  Resources/Locale/ru-RU/medical/components/health-analyzer-component.ftl
  Resources/Locale/ru-RU/paper/stamp-component.ftl
  Resources/Locale/ru-RU/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/preferences/loadouts.ftl
  Resources/Locale/ru-RU/research/components/blueprint.ftl
  Resources/Locale/ru-RU/salvage/salvage-magnet.ftl
  Resources/Locale/ru-RU/sandbox/sandbox-manager.ftl
  Resources/Locale/ru-RU/shuttles/emergency.ftl
  Resources/Locale/ru-RU/silicons/station-ai.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/blueprint.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/structures/specific/atmospherics/vox.ftl
  Resources/Locale/ru-RU/weather/weather.ftl
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/Nuclear Operatives.xml
  Resources/ServerInfo/Guidebook/Antagonist/Revolutionaries.xml
  Resources/ServerInfo/Guidebook/Antagonist/SpaceNinja.xml
  Resources/ServerInfo/Guidebook/Antagonist/Thieves.xml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/ServerInfo/Guidebook/Antagonist/Zombies.xml
  Resources/ServerInfo/Guidebook/Command.xml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
  Tools/_sunrise/en_syntax_finder.py
Labels: No C#, Status: Needs Review

#331 Апдейт таяр
  Resources/Prototypes/_Sunrise/Datasets/Names/first_female_tajaran.yml
  Resources/Prototypes/_Sunrise/Datasets/Names/first_male_tajaran.yml
  Resources/Prototypes/_Sunrise/Datasets/Names/last_tajaran.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/_Sunrise/Species/tajaran.yml
Labels: No C#, Status: Needs Review

#330 Новые цели
  Resources/Locale/ru-RU/_sunrise/station-goal/station-goal-component.ftl
  Resources/Prototypes/_Sunrise/Maps/box.yml
  Resources/Prototypes/_Sunrise/Maps/delta.yml
  Resources/Prototypes/_Sunrise/Maps/fland.yml
  Resources/Prototypes/_Sunrise/Maps/marathon.yml
  Resources/Prototypes/_Sunrise/Objectives/goals.yml
Labels: No C#, Status: Needs Review

#333 Терминатор
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/GameTicking/Rules/Components/GenericAntagRuleComponent.cs
  Content.Server/GameTicking/Rules/GenericAntagRuleSystem.cs
  Content.Server/GenericAntag/GenericAntagComponent.cs
  Content.Server/GenericAntag/GenericAntagSystem.cs
  Content.Server/Objectives/Components/TerminatorTargetOverrideComponent.cs
  Content.Server/Objectives/Systems/TerminatorTargetOverrideSystem.cs
  Content.Server/Roles/RoleSystem.cs
  Content.Server/Roles/TerminatorRoleComponent.cs
  Content.Server/Terminator/Components/TerminatorComponent.cs
  Content.Server/Terminator/Components/TerminatorTargetComponent.cs
  Content.Server/Terminator/Systems/TerminatorSystem.cs
  Resources/Locale/en-US/administration/smites.ftl
  Resources/Locale/en-US/game-ticking/game-rules/rule-terminator.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/objectives/conditions/terminate.ftl
  Resources/Locale/en-US/prototypes/roles/antags.ftl
  Resources/Locale/ru-RU/_sunrise/_prototypes/roles/antags/exterminator.ftl
  Resources/Locale/ru-RU/_sunrise/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/_sunrise/objectives/terminate.ftl
  Resources/Locale/ru-RU/administration/smites.ftl
  Resources/Locale/ru-RU/game-ticking/game-rules/rule-terminator.ftl
  Resources/Prototypes/Body/Parts/terminator.yml
  Resources/Prototypes/Body/Prototypes/terminator.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/Player/terminator.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/Objectives/terminator.yml
  Resources/Prototypes/Roles/Antags/terminator.yml
  Resources/Prototypes/Species/terminator.yml
Labels: Status: Needs Review

#338 Багель
  Resources/Maps/_Sunrise/Station/bagel.yml
  Resources/Prototypes/_Sunrise/Maps/Pools/default.yml
  Resources/Prototypes/_Sunrise/Maps/bagel.yml
Labels: No C#, Changes: Map, Status: Needs Review

#337 реворк афродезиака
  Content.Client/_Sunrise/Overlays/LoveVisionOverlay.cs
  Content.Client/_Sunrise/Overlays/Systems/LoveVisionSystem.cs
  Content.Server/EntityEffects/Effects/StatusEffects/GenericStatusEffect.cs
  Content.Server/_Sunrise/Aphrodesiac/AphrodesiacSystem.cs
  Content.Server/_Sunrise/ReagentEffects/LoveEffect.cs
  Content.Shared/_Sunrise/Aphrodesiac/SharedAphrodesiacSystem.cs
  Resources/Prototypes/_Sunrise/Reagents/fun.yml
  Resources/Prototypes/_Sunrise/Recipes/Reactions/fun.yml
  Resources/Textures/Shaders/lovevision.swsl
Labels: Status: Needs Review, Changes: Shaders

#343 удаление отрыжки
  Resources/Audio/_Sunrise/Voice/Misc/Otryjka/otryjka1.ogg
  Resources/Audio/_Sunrise/Voice/Misc/Otryjka/otryjka2.ogg
  Resources/Audio/_Sunrise/Voice/Misc/Otryjka/otryjka3.ogg
  Resources/Audio/_Sunrise/Voice/Misc/Otryjka/otryjka4.ogg
  Resources/Audio/_Sunrise/Voice/Misc/Otryjka/otryjka5.ogg
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Sunrise/SoundCollections/otryjka.yml
  Resources/Prototypes/_Sunrise/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Sunrise/Voice/speech_emotes.yml
Labels: No C#, Status: Needs Review

#319 Перцовка
  Resources/Locale/ru-RU/_strings/_sunrise/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/pepper_spray.yml
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Security/security.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Textures/_Sunrise/Effects/pepperSpray.rsi/meta.json
  Resources/Textures/_Sunrise/Effects/pepperSpray.rsi/spray.png
  Resources/Textures/_Sunrise/Objects/Misc/pepperspray.rsi/item.png
  Resources/Textures/_Sunrise/Objects/Misc/pepperspray.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Misc/pepperspray.rsi/overlay.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#346 added new 20 tts-voices\
  Resources/Locale/ru-RU/_strings/_sunrise/tts/tts-voices.ftl
  Resources/Prototypes/_Sunrise/tts-voices.yml
Labels: No C#
