Repository space-sunrise/sunrise-station, pull requests merged in 2024-11, with the labels that each got.

#592 Полная доработка системы голосований
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Content.Server/_Sunrise/RoundEndVote/RoundEndVoteSystem.cs
  Content.Shared/Voting/RoundVotingChancesPrototype.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Prototypes/_Sunrise/vote-chances.yml
Labels: Статус: Требует Рассмотрения

#593 Обновление Box
  Resources/Maps/_Sunrise/Station/box.yml
Labels: Нет C#, Изменения: Карты

#594 Оазис 2: Электробугало
  Resources/Maps/_Sunrise/Station/oasis.yml
Labels: Нет C#, Изменения: Карты

#597 Миграция ведущих ролей
  Resources/migration.yml
Labels: Нет C#, Статус: Требует Рассмотрения

#598 Доработка вампира и мелочи
  Content.Client/Vampire/VampireSystem.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/GameTicking/Rules/VampireRuleSystem.cs
  Content.Server/Vampire/VampireSystem.Abilities.cs
  Content.Server/Vampire/VampireSystem.Objectives.cs
  Content.Server/Vampire/VampireSystem.cs
  Content.Shared/Changeling/ChangelingComponent.cs
  Content.Shared/Standing/LayingDownComponent.cs
  Content.Shared/Vampire/SharedVampireSystem.cs
  Content.Shared/Vampire/VampireAlertComponent.cs
  Content.Shared/Vampire/VampireComponent.cs
  Content.Shared/Vampire/VampireIconComponent.cs
  Resources/Locale/ru-RU/_strings/_sunrise/roadmap/roadmap-goals.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_strings/info/ban.ftl
  Resources/Maps/Nonstations/nukieplanet.yml
  Resources/Maps/_Sunrise/Shuttles/infiltrator.yml
  Resources/Prototypes/Alerts/vampire.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Objectives/vampire.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/StatusIcon/faction.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/_Sunrise/roadmap.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/Interface/Actions/actions_vampire.rsi/blood_drain_icon.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/meta.json
  Resources/Textures/Interface/Actions/actions_vampire.rsi/survive_icon.png
  Resources/Textures/Interface/Alerts/blood_counter.rsi/0.png
  Resources/Textures/Interface/Alerts/blood_counter.rsi/1.png
  Resources/Textures/Interface/Alerts/blood_counter.rsi/2.png
  Resources/Textures/Interface/Alerts/blood_counter.rsi/3.png
  Resources/Textures/Interface/Alerts/blood_counter.rsi/4.png
  Resources/Textures/Interface/Alerts/blood_counter.rsi/5.png
  Resources/Textures/Interface/Alerts/blood_counter.rsi/6.png
  Resources/Textures/Interface/Alerts/blood_counter.rsi/7.png
  Resources/Textures/Interface/Alerts/blood_counter.rsi/8.png
  Resources/Textures/Interface/Alerts/blood_counter.rsi/9.png
  Resources/Textures/Interface/Alerts/blood_counter.rsi/background.png
  Resources/Textures/Interface/Alerts/blood_counter.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Карты, Изменения: Локализация

#601 Прощай хеллоуин
  Resources/Prototypes/Species/skeleton.yml
  Resources/Prototypes/_Sunrise/Maps/Pools/default.yml
Labels: Нет C#

#600 Доработка генокрадов по просьбе сплика.
  Content.Server/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/Changeling/ChangelingSystem.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Objectives/changeling.yml
Labels: Статус: Требует Рассмотрения

#605 Четвёртое пришествие Марафона
  Resources/Maps/_Sunrise/Station/marathon.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты

#606 Система следов
  Content.Client/_Sunrise/Footprints/FootPrintsVisualizerSystem.cs
  Content.Server/_Sunrise/Footprints/FootPrintsSystem.cs
  Content.Server/_Sunrise/Footprints/PuddleFootPrintsSystem.cs
  Content.Shared/_Sunrise/Footprints/FootprintsSerializables.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/_Sunrise/Entities/Effects/puddle.yml
  Resources/Textures/_Sunrise/Effects/footprints.rsi/dragging-1.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/dragging-2.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/dragging-3.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/dragging-4.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/dragging-5.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/dragging-test.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/footprint-left-bare-diona.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/footprint-left-bare-dwarf.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/footprint-left-bare-human.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/footprint-left-bare-lizard.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/footprint-left-bare-slime.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/footprint-left-bare-spider.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/footprint-right-bare-diona.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/footprint-right-bare-dwarf.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/footprint-right-bare-human.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/footprint-right-bare-lizard.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/footprint-right-bare-slime.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/footprint-right-bare-spider.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/footprint-shoes.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/footprint-suit.png
  Resources/Textures/_Sunrise/Effects/footprints.rsi/meta.json
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты

#609 Нерф дракона
  Content.Server/Dragon/Components/DragonRiftComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Structures/Specific/dragon.yml
  Resources/Prototypes/_Sunrise/Damage/containers.yml
  Resources/Prototypes/_Sunrise/Damage/modifier_sets.yml
Labels: Статус: Требует Рассмотрения

#611 Пятый Трейнелент
  Resources/Maps/_Sunrise/Station/train.yml
Labels: Нет C#, Изменения: Карты

#612 Нельзя стрелять лежа.
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Статус: Требует Рассмотрения

#613 fix errors in server console
  Content.Shared/Follower/FollowerSystem.cs
Labels: Статус: Требует Рассмотрения

#614 fix recoil while using scope
  Content.Shared/Camera/SharedCameraRecoilSystem.cs
  Content.Shared/Telescope/SharedTelescopeSystem.cs
Labels: Статус: Требует Рассмотрения

#615 fix voicemask
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Content.Server/VoiceMask/VoiceMaskerComponent.cs
  Content.Server/_Sunrise/TTS/VoiceMaskSystem.TTS.cs
Labels: Статус: Требует Рассмотрения

#616 better connection ui
  Content.Client/Launcher/LauncherConnectingGui.xaml
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Locale/ru-RU/_strings/launcher/launcher-connecting.ftl
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Изменения: Локализация

#618 Респрайт универсального мед худа
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/med_chem_hud.rsi/equipped-EYES.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/med_chem_hud.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/med_chem_hud.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Hud/med_chem_hud.rsi/meta.json
Labels: Нет C#, Изменения: Спрайты

#622 Fix Firelock Closed Drawdepth
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
Labels: Нет C#, Статус: Требует Рассмотрения

#620 Цветы
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/flowers.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/misc/bouquet.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/flowers.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/bouquet.yml
  Resources/Textures/_Sunrise/Objects/Fun/blue_flowers.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Fun/blue_flowers.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Fun/blue_flowers.rsi/item.png
  Resources/Textures/_Sunrise/Objects/Fun/blue_flowers.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/red_flowers.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Fun/red_flowers.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Fun/red_flowers.rsi/item.png
  Resources/Textures/_Sunrise/Objects/Fun/red_flowers.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация

#621 always spawn in cryo
  Content.Server/Spawners/EntitySystems/ContainerSpawnPointSystem.cs
  Resources/Prototypes/Entities/Structures/cryopod.yml
Labels: Статус: Требует Рассмотрения

#623 Убрал ПНВ у скафа ВИ
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: Нет C#

#625 Изменение автоэмоций
  Content.Server/_Sunrise/NoEmotions/NoEmotionsComponent.cs
  Content.Server/_Sunrise/Paws/PawsComponent.cs
  Content.Server/_Sunrise/Paws/PawsSystem.cs
  Resources/Audio/_Sunrise/Voice/Vulpkanin/dog_whimpering_1.ogg
  Resources/Locale/en-US/_strings/_sunrise/chat/emotes.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/chat/emotes.ftl
  Resources/Locale/ru-RU/_strings/chat/emotes.ftl
  Resources/Locale/ru-RU/_strings/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_Sunrise/SoundCollections/vulpkanin.yml
  Resources/Prototypes/_Sunrise/Trait/quirks.yml
  Resources/Prototypes/_Sunrise/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Sunrise/Voice/speech_emotes.yml
Labels: Статус: Требует Рассмотрения, Изменения: Локализация

#626 Ребаланс
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Melee/sword.yml
Labels: Нет C#, Статус: Требует Рассмотрения

#627 Добавление 2х маркингов вульпканинам.
  Resources/Locale/ru-RU/_strings/_sunrise/markings/vulpkanin.ftl
  Resources/Prototypes/_Sunrise/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/ear_markings.rsi/jackal_alt-inner.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/ear_markings.rsi/jackal_alt.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/ear_markings.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/tail_markings.rsi/fluffy_alt-inner.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/tail_markings.rsi/fluffy_alt-outer.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/tail_markings.rsi/meta.json
Labels: Нет C#, Изменения: Спрайты, Изменения: Локализация

#629 Баг-фикс Рефлекторов
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Reflector/reflector.yml
Labels: Нет C#, Статус: Требует Рассмотрения

#632 Box 6: Возвращение ИИ
  Resources/Maps/_Sunrise/Station/box.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты

#635 footprints tweaks
  Content.Server/_Sunrise/Footprints/FootPrintsSystem.cs
  Resources/Prototypes/_Sunrise/Entities/Effects/puddle.yml
Labels: Статус: Требует Рассмотрения

#640 Изменил корабельные пушки
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/projectiles/projectiles.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/grenade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Sunrise/tags.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, S: Merge Conflict

#659 новые цели
  Resources/Locale/en-US/_strings/_sunrise/station-goal/station-goal-component.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/station-goal/station-goal-component.ftl
  Resources/Prototypes/_Sunrise/Objectives/goals.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Локализация, size/L

#653 фикс линтера
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/grenade.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/borg_types.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#652 Заставил скафы ЯО пропускать гипоспрей.
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Robotics/borg_tools.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/XS

#649 Священник больше не может стать вампиром
  Content.Server/GameTicking/Rules/VampireRuleSystem.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#645 Починил плюшки, что добавил ринари
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/M

#647 Исправление бага с сном у яутж и ксеносов
  Resources/Prototypes/_Sunrise/Body/Organs/humanoid_xeno.yml
  Resources/Prototypes/_Sunrise/Body/Organs/predator.yml
  Resources/Prototypes/_Sunrise/Body/Prototypes/humanoid_xeno.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/humanoid_xeno.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/predator.yml
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/organs.rsi/eyes.png
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/organs.rsi/meta.json
Labels: Нет C#, Изменения: Спрайты, Статус: Несортированный, size/M

#642 Куча мелких фиксов
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Resources/Locale/en-US/_strings/_sunrise/chat/emotes.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Traits/speech.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Engineering/material_bag.yml
  Resources/Prototypes/_Sunrise/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Sunrise/Voice/speech_emotes.yml
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/S

#675 Борги в манифесте и оповещения в радио при смене типа.
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Shared/Silicons/Borgs/BorgTypePrototype.cs
  Content.Shared/Silicons/Borgs/Components/BorgSwitchableTypeComponent.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Locale/ru-RU/_strings/_sunrise/borg/borg_switch.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/clown_borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/engineer_borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/janitor_borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/medical_borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/mining_borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/peace_borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/security_borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/service_borg.yml
  Resources/Prototypes/borg_types.yml
Labels: Изменения: Локализация, size/L

#671 Хотфикс мехов
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#670 new tts voices
  Resources/Locale/ru-RU/_strings/_sunrise/tts/tts-voices-sunrise.ftl
  Resources/Prototypes/_Sunrise/tts_voices_sunrise.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Локализация

#690 Борги делают Бип, Чайна делает Блюмп
  Resources/Locale/en-US/_strings/_sunrise/station-laws/laws.ftl
  Resources/Locale/ru-RU/_prototypes/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Sunrise/silicon-laws.yml
  Resources/Prototypes/borg_types.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/L

#689 Sunrise weapon: small rebalance
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Shotguns/paladin-12/big.rsi/bolt-open.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Shotguns/paladin-12/big.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Shotguns/paladin-12/tiny.rsi/equipped-BACKPACK.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Shotguns/paladin-12/tiny.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Shotguns/paladin-12/tiny.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Shotguns/paladin-12/tiny.rsi/wielded-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Shotguns/paladin-12/tiny.rsi/wielded-inhand-right.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#703 Борги
  Content.Server/_Sunrise/Execution/ExecutionSystem.cs
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#699 Очередная игрушка
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/alice.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/S

#695 Box
  Resources/Maps/_Sunrise/Station/box.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, S: Merge Conflict, size/XL

#650 Удалил годмод у оружейки гамма кода.
  Content.Server/_Sunrise/Shuttles/CodeEquipmentSystem.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#655 Включение отображения следов в настройках
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/_Sunrise/Footprints/FootPrintsVisualizerSystem.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Locale/ru-RU/_strings/_sunrise/escape-menu/ui/options-menu.ftl
Labels: Изменения: Интерфейс, Статус: Несортированный, Изменения: Локализация, size/M

#706 Игрушки
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/kaioshi_barmen.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/luna.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/raisya.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация

#707 ой
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/toys.ftl
Labels: Нет C#, Статус: Несортированный, Изменения: Локализация, size/XS

#723 Ребаланс дробовика ГСБ
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный

#722 Включил джетпаки на станциях без гравитации.
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#718 Исправление спрайта хардсьюта СБ
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/secoff.rsi/on-equipped-HELMET.png
Labels: Нет C#, Изменения: Спрайты, Статус: Несортированный

#717 Удаление лишнего химика с трейна
  Resources/Prototypes/_Sunrise/Maps/train.yml
Labels: Нет C#, Статус: Несортированный, size/XS

#713 Удаление ограничений на роли для воксов.
  Resources/Prototypes/_Sunrise/Roles/Jobs/CentralCommand/centcom_official.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/CentralCommand/centcom_operator.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Law/Magistrat.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Law/iaa.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/head_of_prison.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prison_guard.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prison_pilot.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Security/security_pilot.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#731 Исправление дословного перевода
  Resources/Locale/ru-RU/_strings/datasets/figurines.ftl
Labels: Нет C#, Изменения: Локализация
