Repository space-sunrise/sunrise-station, pull requests merged in 2025-04, with the labels that each got.

#1622 Ребаланс
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Sunrise/FleshCult/body_mods.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/S

#1624 Голографический карп Ghost Theme
  Resources/Locale/ru-RU/_strings/_sunrise/ghost/ghost-themes.ftl
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ghost_themes.yml
Labels: Нет C#, Изменения: Локализация, size/XS

#1623 Реворк сварочной маски. Порт PR визардов 31999
  Content.Client/_Sunrise/Eye/DarkenedVisionSystem.cs
  Content.Client/_Sunrise/Overlays/DarkenedVisionOverlay.cs
  Content.Server/_Sunrise/Eye/DarkenedVisionSystem.cs
  Content.Shared/_Sunrise/Clothing/Components/WeldingMaskComponent.cs
  Content.Shared/_Sunrise/Clothing/EntitySystems/WeldingMaskSystem.cs
  Content.Shared/_Sunrise/Eye/DarkenedVisionComponent.cs
  Content.Shared/_Sunrise/Eye/SharedDarkenedVisionSystem.cs
  Content.Shared/_Sunrise/Eye/VisionDarkenerComponent.cs
  Content.Shared/_Sunrise/Eye/VisionDarkenerSystem.cs
  Resources/Prototypes/Entities/Clothing/Head/welding.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/glasses.yml
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/M

#1630 Фикс закрытия затвора у NPC.
  Content.Server/_Sunrise/NPC/HTN/CloseBoltOperator.cs
  Content.Server/_Sunrise/NPC/HTN/IsBoltOpenPrecondition.cs
  Resources/Prototypes/NPCs/Combat/gun.yml
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1660 Новая способность вампира - Кровяная чешуя.
  Content.Server/Vampire/VampireSystem.Abilities.cs
  Content.Server/Vampire/VampireSystem.cs
  Content.Shared/Vampire/VampireComponent.cs
  Content.Shared/Vampire/VampireEvents.cs
  Resources/Prototypes/Actions/vampire.yml
  Resources/Prototypes/Vampire/vampire-powers.yml
  Resources/Textures/Interface/Actions/actions_vampire.rsi/bloodscale.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/meta.json
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты

#1663 Понижение стан.резистов тактику
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1664 Противоударка стамина резисты
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1667 Переместил кубики предков из шкафа СИ, в шкаф ГВ
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Нет C#, size/XS

#1677 Диваны
  Resources/Prototypes/_Sunrise/Entities/Structures/Furniture/sofa.yml
  Resources/Prototypes/_Sunrise/Recipes/Construction/Graphs/structures/sofa.yml
  Resources/Prototypes/_Sunrise/Recipes/Construction/sofa.yml
  Resources/Textures/_Sunrise/Structures/Furniture/sofa.rsi/corp_sofacorner.png
  Resources/Textures/_Sunrise/Structures/Furniture/sofa.rsi/corp_sofacorner_armrest.png
  Resources/Textures/_Sunrise/Structures/Furniture/sofa.rsi/corp_sofaend_left.png
  Resources/Textures/_Sunrise/Structures/Furniture/sofa.rsi/corp_sofaend_left_armrest.png
  Resources/Textures/_Sunrise/Structures/Furniture/sofa.rsi/corp_sofaend_right.png
  Resources/Textures/_Sunrise/Structures/Furniture/sofa.rsi/corp_sofaend_right_armrest.png
  Resources/Textures/_Sunrise/Structures/Furniture/sofa.rsi/corp_sofamiddle.png
  Resources/Textures/_Sunrise/Structures/Furniture/sofa.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Furniture/sofa.rsi/sofacorner.png
  Resources/Textures/_Sunrise/Structures/Furniture/sofa.rsi/sofacorner_armrest.png
  Resources/Textures/_Sunrise/Structures/Furniture/sofa.rsi/sofaend_left.png
  Resources/Textures/_Sunrise/Structures/Furniture/sofa.rsi/sofaend_left_armrest.png
  Resources/Textures/_Sunrise/Structures/Furniture/sofa.rsi/sofaend_right.png
  Resources/Textures/_Sunrise/Structures/Furniture/sofa.rsi/sofaend_right_armrest.png
  Resources/Textures/_Sunrise/Structures/Furniture/sofa.rsi/sofamiddle.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, size/M

#1668 Изменения связанные с полиморфом.
  Content.Server/Humanoid/Components/RandomHumanoidAppearanceComponent.cs
  Content.Server/Humanoid/Systems/RandomHumanoidAppearanceSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
  Resources/Prototypes/_Sunrise/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/randomization-race.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/_Sunrise/Polymorphs/polymorph.yml
  Resources/Prototypes/_Sunrise/Reagents/medicine.yml
  Resources/Prototypes/_Sunrise/Reagents/special.yml
  Resources/Textures/_Sunrise/Mobs/Animals/inferior_vulpkanin.rsi/inferior_vulpkanin.png
Labels: Нет C#, Изменения: Спрайты, Статус: Несортированный, size/M

#1675 Возвращение старого урона
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: Нет C#, size/S

#1676 Удаление антагов из нюк опса
  Resources/Prototypes/game_presets.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/XS

#1694 Packed fix
  Resources/Maps/_Sunrise/Station/packed.yml
  Resources/Prototypes/_Sunrise/Maps/packed.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, size/XL

#1700 Move SolutionRegenerationSwitcherSystem to Shared
  Content.Client/_Sunrise/SolutionRegenerationSwitcher/ClientSolutionRegenerationSwitcherSystem.cs
  Content.Server/_Sunrise/SolutionRegenerationSwitcher/SolutionRegenerationSwitcherComponent.cs
  Content.Server/_Sunrise/SolutionRegenerationSwitcher/SolutionRegenerationSwitcherSystem.cs
  Content.Shared/_Sunrise/SolutionRegenerationSwitcher/SharedSolutionRegenerationSwitcherSystem.cs
  Content.Shared/_Sunrise/SolutionRegenerationSwitcher/SolutionRegenerationSwitcherComponent.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/M

#1699 Наплечная мантия ХоСа
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Neck/mantles.yml
  Resources/Textures/_Sunrise/Clothing/Neck/Mantles/HoSmantle.rsi/equipped-NECK.png
  Resources/Textures/_Sunrise/Clothing/Neck/Mantles/HoSmantle.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Neck/Mantles/HoSmantle.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, size/S

#1702 Возможность лежать на кровати/диванах/каталках
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Furniture/sofa.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, size/XS

#1724 Дебафф лазера ИСН
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/XS

#1708 AISeeMS
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Нет C#, Статус: Несортированный, size/XS

#1703 Изменение лицензии на спрайт по просьбе автора
  Resources/Textures/_Sunrise/Objects/Misc/soil.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1690 Удалил минор антагов из революции
  Resources/Prototypes/game_presets.yml
Labels: Нет C#, size/XS

#1707 SpriteFix
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/flipped-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/flipped-inhand-left.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/flipped-inhand-right.png
  Resources/Textures/Clothing/Head/Soft/secsoft.rsi/icon_flipped.png
Labels: Нет C#, Изменения: Спрайты, Статус: Несортированный, size/XS

#1728 Порт системы скрытия эмоций от сущностей, не видных игроку
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1740 Снова ребаланс ревика ИСН
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#1755 Анализатор растений
  Content.Client/Botany/PlantAnalyzer/PlantAnalyzerBoundUserInterface.cs
  Content.Client/Botany/PlantAnalyzer/PlantAnalyzerWindow.xaml
  Content.Client/Botany/PlantAnalyzer/PlantAnalyzerWindow.xaml.cs
  Content.Server/AbstractAnalyzer/AbstractAnalyzerComponent.cs
  Content.Server/AbstractAnalyzer/AbstractAnalyzerSystem.cs
  Content.Server/Botany/Components/PlantAnalyzerComponent.cs
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Botany/Systems/PlantAnalyzerSystem.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantAdjustPests.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantAdjustToxins.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantAdjustWeeds.cs
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Shared/Botany/PlantAnalyzer/PlantAnalyzerDoAfterEvent.cs
  Content.Shared/Botany/PlantAnalyzer/PlantAnalyzerLocalizationHelper.cs
  Content.Shared/Botany/PlantAnalyzer/PlantAnalyzerScannedUserMessage.cs
  Content.Shared/Botany/PlantAnalyzer/PlantAnalyzerUiKey.cs
  Resources/Locale/en-US/_strings/botany/components/plant-analyzer-component.ftl
  Resources/Locale/ru-RU/_strings/botany/components/plant-analyzer-component.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/plant_analyzer.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Recipes/Lathes/botany.yml
  Resources/Textures/Objects/Specific/Hydroponics/plant_analyzer.rsi/analyzer.png
  Resources/Textures/Objects/Specific/Hydroponics/plant_analyzer.rsi/icon.png
  Resources/Textures/Objects/Specific/Hydroponics/plant_analyzer.rsi/meta.json
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Изменения: Локализация

#1732 Ремап станции loop
  Resources/Maps/_Sunrise/Station/loop.yml
  Resources/Prototypes/_Sunrise/Maps/Pools/default.yml
  Resources/Prototypes/_Sunrise/Maps/loop.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Несортированный, size/XL

#1491 новая цель
  Resources/Locale/en-US/_strings/_sunrise/station-goal/station-goal-component.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/station-goal/station-goal-component.ftl
  Resources/Prototypes/_Sunrise/Maps/bagel.yml
  Resources/Prototypes/_Sunrise/Maps/box.yml
  Resources/Prototypes/_Sunrise/Maps/fland.yml
  Resources/Prototypes/_Sunrise/Maps/gelta.yml
  Resources/Prototypes/_Sunrise/Maps/marathon.yml
  Resources/Prototypes/_Sunrise/Maps/meta.yml
  Resources/Prototypes/_Sunrise/Maps/oasis.yml
  Resources/Prototypes/_Sunrise/Maps/plasma.yml
  Resources/Prototypes/_Sunrise/Maps/reach.yml
  Resources/Prototypes/_Sunrise/Objectives/goals.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S

#1770 БОКСА БОЛЬШЕ НЕТ
  Resources/Prototypes/_Sunrise/Maps/Pools/default.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#1780 небольшое обновление станции loop
  Resources/Maps/_Sunrise/Station/loop.yml
  Resources/Prototypes/_Sunrise/Maps/loop.yml
Labels: Нет C#, Изменения: Карты, Одобрено, size/L

#1814 Игрушки Лисичек
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/fun/toy_foxes.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/toy_foxes.ftl
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toy_foxes.yml
  Resources/Textures/_Sunrise/Objects/Fun/toy_foxes.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toy_foxes.rsi/plushie_blackfox.png
  Resources/Textures/_Sunrise/Objects/Fun/toy_foxes.rsi/plushie_bluefox.png
  Resources/Textures/_Sunrise/Objects/Fun/toy_foxes.rsi/plushie_coffeefox.png
  Resources/Textures/_Sunrise/Objects/Fun/toy_foxes.rsi/plushie_crimsonfox.png
  Resources/Textures/_Sunrise/Objects/Fun/toy_foxes.rsi/plushie_marblefox.png
  Resources/Textures/_Sunrise/Objects/Fun/toy_foxes.rsi/plushie_orangefox.png
  Resources/Textures/_Sunrise/Objects/Fun/toy_foxes.rsi/plushie_pinkfox.png
  Resources/Textures/_Sunrise/Objects/Fun/toy_foxes.rsi/plushie_purplefox.png
  Resources/Textures/_Sunrise/Objects/Fun/toy_foxes.rsi/plushie_redfox.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/M

#1797 пояса и КПК снова отображаются поверх скафандров
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: Нет C#, Несортированный

#1805 Возвращение минимального количества игроков Конвексу
  Resources/Prototypes/_Sunrise/Maps/convex.yml
Labels: Нет C#, size/XS

#1782 Печать Начальника ПТ
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/paper/stamp-component.ftl
  Resources/Prototypes/_Sunrise/Catalog/Fills/Lockers/head_of_prison.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-npt.png
  Resources/Textures/_Sunrise/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Misc/stamps.rsi/stamp-npt.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/S

#1826 Фикс принтера
  Resources/Prototypes/_Sunrise/Entities/Structures/Machines/printer.yml
Labels: Нет C#, size/XS

#1828 Топ контрибюторов в лобби
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Client/_Sunrise/Contributors/ContributorEntryControl.xaml
  Content.Client/_Sunrise/Contributors/ContributorEntryControl.xaml.cs
  Content.Client/_Sunrise/Contributors/ContributorsManager.cs
  Content.Client/_Sunrise/Contributors/ContributorsTop.xaml
  Content.Client/_Sunrise/Contributors/ContributorsTop.xaml.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_Sunrise/Contributors/ContributorsManager.cs
  Content.Shared/_Sunrise/Contributors/ContributorEntry.cs
  Content.Shared/_Sunrise/Contributors/FullContributorsListMessage.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.Contributors.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Locale/ru-RU/contributors/contributors.ftl
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/M

#1788 Возвращение барратри
  Resources/Maps/_Sunrise/Station/barratry.yml
  Resources/Prototypes/_Sunrise/Maps/Pools/default.yml
  Resources/Prototypes/_Sunrise/Maps/barratry.yml
  Resources/sunrise_map_attributions.txt
Labels: Нет C#, Изменения: Карты, size/XL, Одобрено

#1846 Фикс TTS радио для боргов
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Radio/RadioEvent.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#1857 Поправил TTS в гарнитуре, котрую сломал пока чинил TTS боргам
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Radio/RadioEvent.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#1856 Xenoarcheology-translate
  Resources/Locale/ru-RU/_strings/xenoarchaeology/artifact-analyzer.ftl
  Resources/Locale/ru-RU/_strings/xenoarchaeology/artifact-component.ftl
  Resources/Locale/ru-RU/_strings/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/ru-RU/_strings/xenoarchaeology/badfeeling-artifact.ftl
  Resources/Locale/ru-RU/_strings/xenoarchaeology/goodfeeling-artifact.ftl
  Resources/Locale/ru-RU/_strings/xenoarchaeology/misc-artifact.ftl
  Resources/Locale/ru-RU/_strings/xenoarchaeology/node-scanner.ftl
  Resources/Locale/ru-RU/_strings/xenoarchaeology/traversal-distorter.ftl
  Resources/Prototypes/XenoArch/effects.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/M

#1854 Новый шаттл для loop и небольшие правки по станции
  Resources/Maps/_Sunrise/Shuttles/emergency_loop.yml
  Resources/Maps/_Sunrise/Station/loop.yml
  Resources/Prototypes/_Sunrise/Maps/loop.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты

#1851 спрайты транспортера
  Resources/Textures/_Sunrise/Objects/Specific/Cargo/Transporters/transporter.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/Cargo/Transporters/transporter.rsi/mulebot-emagged.png
  Resources/Textures/_Sunrise/Objects/Specific/Cargo/Transporters/transporter.rsi/mulebot-hatch.png
  Resources/Textures/_Sunrise/Objects/Specific/Cargo/Transporters/transporter.rsi/mulebot0.png
  Resources/Textures/_Sunrise/Objects/Specific/Cargo/Transporters/transporter.rsi/mulebot1.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, size/S

#1861 Удаление хайджека.
  Content.Server/Objectives/Components/HijackShuttleConditionComponent.cs
  Content.Server/Objectives/Systems/HijackShuttleConditionSystem.cs
  Resources/Locale/en-US/_prototypes/_sunrise/objectives/traitorObjectives.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/objectives/traitorObjectives.ftl
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/_Sunrise/Objectives/traitorObjectives.yml
Labels: Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация

#1862 Уменьшение количества целей.
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/subgamemodes.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/_Sunrise/GameRules/subgamemodes.yml
  Resources/Prototypes/_Sunrise/Objectives/changeling.yml
  Resources/Prototypes/_Sunrise/Objectives/vampire.yml
Labels: Нет C#, Несортированный, size/S

#1870 maps system and maps corrections
  Content.Server/Maps/GameMapManager.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Maps/_Sunrise/Station/barratry.yml
  Resources/Maps/_Sunrise/Station/loop.yml
  Resources/Maps/_Sunrise/Station/packed.yml
  Resources/Prototypes/_Sunrise/Maps/Pools/default.yml
  Resources/Prototypes/_Sunrise/Maps/box.yml
  Resources/Prototypes/_Sunrise/Maps/convex.yml
  Resources/Prototypes/_Sunrise/Maps/delta.yml
  Resources/Prototypes/_Sunrise/Maps/meta.yml
Labels: Статус: Требует Рассмотрения, Изменения: Карты, Несортированный, size/S

#1883 Исправление целей культа
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Server/_Sunrise/BloodCult/BloodCultTargetComponent.cs
  Content.Server/_Sunrise/BloodCult/GameRule/BloodCultRuleComponent.cs
  Content.Server/_Sunrise/BloodCult/GameRule/BloodCultRuleSystem.cs
  Content.Server/_Sunrise/BloodCult/Objectives/Components/KillCultistTargetConditionComponent.cs
  Content.Server/_Sunrise/BloodCult/Objectives/Systems/KillCultistTargetConditionSystem.cs
  Content.Server/_Sunrise/BloodCult/Runes/Systems/BloodCultSystem.Rune.cs
  Content.Server/_Sunrise/BloodCult/Runes/Systems/BloodCultSystem.cs
  Resources/Locale/ru-RU/_strings/_sunrise/blood-cult/cult.ftl
Labels: Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/M

#1881 AoE лечение для дракона
  Content.Server/_Sunrise/AoEHeal/AoEHealComponent.cs
  Content.Server/_Sunrise/AoEHeal/AoEHealSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Structures/Specific/dragon.yml
  Resources/Prototypes/_Sunrise/tags.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/M

#1880 Борга ОБР нельзя уничтожить через консоль
  Content.Server/Silicons/Borgs/BorgSystem.Transponder.cs
  Content.Shared/Silicons/Borgs/Components/BorgTransponderComponent.cs
  Resources/Prototypes/_Sunrise/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#1879 Оповещения голосом оповещающего
  Content.Server/Communications/CommunicationsConsoleSystem.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#1878 Магазин P90 в СБ фаб
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
Labels: Нет C#, Несортированный, size/XS

#1876 Админ консоль прописывания команд
  Content.Client/_Sunrise/CommandConsole/CommandConsoleBoundUserInterface.cs
  Content.Client/_Sunrise/CommandConsole/CommandConsoleWindow.xaml
  Content.Client/_Sunrise/CommandConsole/CommandConsoleWindow.xaml.cs
  Content.Shared/_Sunrise/CommandConsole/CommandConsoleComponent.cs
  Content.Shared/_Sunrise/CommandConsole/CommandConsoleExecuteBoundUserInterfaceMessage.cs
  Content.Shared/_Sunrise/CommandConsole/CommandConsoleUiKey.cs
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_Sunrise/Structures/Machines/computers.yml
Labels: Изменения: Интерфейс, Несортированный

#1874 Продвинутое РСУ для СИ
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Tools/tools.yml
  Resources/Textures/_Sunrise/Objects/Tools/advanced-rcd.rsi/equipped-BELT.png
  Resources/Textures/_Sunrise/Objects/Tools/advanced-rcd.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Tools/advanced-rcd.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Tools/advanced-rcd.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Tools/advanced-rcd.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, size/S

#1869 Добавил станрезисты джаге
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Нет C#, size/XS

#1882 Добавления MaterialSilo на loop
  Resources/Maps/_Sunrise/Station/loop.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, size/L

#1897 Новая гост тема для контрибьюторов.
  Resources/Locale/ru-RU/_strings/_sunrise/ghost/ghost-themes.ftl
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ghost_themes.yml
  Resources/Textures/_Sunrise/Mobs/Ghosts/holo_girl.rsi/holo_animated.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/holo_girl.rsi/holo_icon.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/holo_girl.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/S

#1889 Защита у дракона
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_Sunrise/Damage/modifier_sets.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/S

#1888 Планетарная тюрьма
  Resources/Maps/_Sunrise/Shuttles/prison.yml
  Resources/Maps/_Sunrise/planet_prison.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Несортированный

#1903 Гост тема голографической девочки больше недоступна всем.
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ghost_themes.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный

#1923 Немного поменял синтезы и эффекты у газов
  Content.Server/Atmos/Reactions/BZFormationReaction.cs
  Content.Server/Atmos/Reactions/HealiumProductionReaction.cs
  Content.Server/Atmos/Reactions/NitriumSynthesisReaction.cs
  Resources/Prototypes/_Sunrise/Atmospherics/reactions.yml
  Resources/Prototypes/_Sunrise/Reagents/gases.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#1915 Маленький перевод
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/basic/plasma_cutter.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/_prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/_prototypes/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/specific/mech/weapons/gun/industrial.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/specific/research/desynchronizer.ftl
  Resources/Locale/ru-RU/_strings/research/technologies.ftl
  Resources/Locale/ru-RU/_strings/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_strings/xenoarchaeology/artifact-hints.ftl
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация

#1984 QoL Истории ахелпа
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/Bwoink/BwoinkPanel.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkPanel.xaml.cs
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Client/_Sunrise/UserInterface/Controls/SunriseOutputPanel.cs
  Content.Client/_Sunrise/UserInterface/Controls/SunriseRichTextEntry.cs
  Content.Client/_Sunrise/UserInterface/RichText/CenterTag.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Shared/Administration/SharedBwoinkSystem.cs
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, size/M

#1983 Фикс подкатов, дебафф прыжков.
  Content.Shared/Physics/CollisionGroup.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/Standing/SharedStandingStateSystem.cs
  Content.Shared/_Sunrise/Flip/SharedFlipSystem.cs
  Content.Shared/_Sunrise/Jump/SharedJumpSystem.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Prototypes/_Sunrise/Actions/animations.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#1946 Двойные одеяла на багеле
  Resources/Maps/_Sunrise/Station/bagel.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты

#1949 двойные одеяла на мете
  Resources/Maps/_Sunrise/Station/meta.yml
Labels: Нет C#, Изменения: Карты, Несортированный

#1962 улучшения тех.помещений на loop
  Resources/Maps/_Sunrise/Station/loop.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, size/L

#1948 Fix шлюзов утилизаторов
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный

#1974 Фикс цены сантиков
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/suntick.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#1966 Самооборона ревенанта
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: Нет C#, size/XS

#1965 Lockermech
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/power/powercells.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/mech/mechs.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/mech/weapons/gun/misc.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/recipes/crafting/trashgun.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/recipes/crafting/trashlasergun.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/misc.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/steps.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/Weapons/Gun/misc.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/lockermech.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/lockermech_assembly.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/Graphs/misc/powercage.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/Graphs/misc/trashgun.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/Graphs/misc/trashlasergun.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/misc.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/powercage.yml
  Resources/Textures/_Sunrise/Objects/Power/power_cages.rsi/makeshift.png
  Resources/Textures/_Sunrise/Objects/Power/power_cages.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Power/power_cages.rsi/o2.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech.rsi/lockermech-broken.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech.rsi/lockermech-light.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech.rsi/lockermech-open.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech.rsi/lockermech.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state0.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state1.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state10.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state11.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state12.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state13.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state14.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state15.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state2.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state3.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state4.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state5.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state6.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state7.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state8.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/lockermech_construction.rsi/state9.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/mecha_equipment.rsi/mecha_trashgun.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/mecha_equipment.rsi/mecha_trashlasergun.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/mecha_equipment.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Projectiles/projectiles.rsi/bullet_trash.png
  Resources/Textures/_Sunrise/Objects/Weapons/Projectiles/projectiles.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация

#1952 Берет Атмосферного техника
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/head/berets.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/head/berets.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/berets.yml
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Engineering/atmos_engineer.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/clothing.yml
  Resources/Textures/_Sunrise/Clothing/Head/Hats/beret_atmos.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/beret_atmos.rsi/equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/beret_atmos.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/beret_atmos.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/beret_atmos.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/beret_atmos.rsi/meta.json
Labels: Нет C#, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/S

#1942 Небольшая плюшка атмосам
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/neck/atmospherecross.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/neck/atmospherecross.ftl
  Resources/Prototypes/_Sunrise/Entities/Clothing/Neck/neck.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/Graphs/clothing/atmoscross.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/atmosCrosss.yml
  Resources/Textures/_Sunrise/Clothing/Neck/Misc/atmos_cross.rsi/equipped-NECK.png
  Resources/Textures/_Sunrise/Clothing/Neck/Misc/atmos_cross.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Neck/Misc/atmos_cross.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Neck/Misc/atmos_cross.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Neck/Misc/atmos_cross.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/S

#1940 Возвращение Ультры в фабрикатор
  Resources/Prototypes/_Sunrise/Recipes/Lathes/Packs/robotics.yml
Labels: Нет C#, Одобрено, size/XS

#1937 уменьшение количества крови у крысиных слуг
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#1932 Цены на газ
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/_Sunrise/Atmospherics/gases.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/S

#1931 Уменьшение урона у клинка культа плоти
  Resources/Prototypes/_Sunrise/FleshCult/hands_mods.yml
Labels: Нет C#

#1924 Плата с законами синдиката в аплинк агентов.
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/mobs/player/silicon.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/silicon.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Локализация, size/S

#1988 Колиция существ работает только с включеным боевым режимом
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#1992 турникеты на loop
  Resources/Maps/_Sunrise/Station/loop.yml
Labels: Нет C#, Изменения: Карты, Несортированный

#1996 починил утилизаторские шлюзы, опять
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#1994 замена спрайтов турникета
  Resources/Prototypes/Entities/Structures/Doors/turnstile.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/_Sunrise/Structures/Doors/turnstile.rsi/deny.png
  Resources/Textures/_Sunrise/Structures/Doors/turnstile.rsi/deny_unshaded.png
  Resources/Textures/_Sunrise/Structures/Doors/turnstile.rsi/guide.png
  Resources/Textures/_Sunrise/Structures/Doors/turnstile.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Doors/turnstile.rsi/operate.png
  Resources/Textures/_Sunrise/Structures/Doors/turnstile.rsi/operate_unshaded.png
  Resources/Textures/_Sunrise/Structures/Doors/turnstile.rsi/turnstile.png
  Resources/Textures/_Sunrise/Structures/Doors/turnstile.rsi/turnstile_map.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, size/S

#2019 Makeshift powercage hotfix
  Resources/Textures/_Sunrise/Objects/Power/power_cages.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Power/power_cages.rsi/o1.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, size/XS

#2018 Починил проводку на ПТ
  Resources/Maps/_Sunrise/planet_prison.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Несортированный, size/XL

#2016 фикс станции xeno
  Resources/Maps/_Sunrise/Shuttles/emergency_xeno.yml
  Resources/Maps/_Sunrise/Station/xeno.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Несортированный, size/L

#2015 обновление обычных камер на станции мета
  Resources/Maps/_Sunrise/Station/meta.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Несортированный, size/XL

#2012 Скин пирата для гостов
  Resources/Locale/ru-RU/_strings/_sunrise/ghost/ghost-themes.ftl
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ghost_themes.yml
  Resources/Textures/_Sunrise/Mobs/Ghosts/pirate_ghost.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Ghosts/pirate_ghost.rsi/pirate_icon.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/S

#2010 Магнитки атмосферных техников
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/shoes/magboots.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/shoes/magboots.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Shoes/magboots.yml
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-atmos.rsi/equipped-FEET-reptilian.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-atmos.rsi/equipped-FEET-vox.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-atmos.rsi/equipped-FEET.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-atmos.rsi/icon-on.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-atmos.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-atmos.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-atmos.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-atmos.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-atmos.rsi/on-equipped-FEET-reptilian.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-atmos.rsi/on-equipped-FEET-vox.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-atmos.rsi/on-equipped-FEET.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-atmos.rsi/on-inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-atmos.rsi/on-inhand-right.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/S

#2008 Реворк пермабрига с добавлением турникетов
  Resources/Maps/_Sunrise/Station/loop.yml
  Resources/Prototypes/_Sunrise/Maps/loop.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Несортированный, size/L

#2005 замена спрайта тазеру
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/base.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/equipped-BELT.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/mag-unshaded-0.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/mag-unshaded-1.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/mag-unshaded-2.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/mag-unshaded-3.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/mag-unshaded-4.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/taser0-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/taser0-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/taser1-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/taser1-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/taser2-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/taser2-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/taser3-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/taser3-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/taser4-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/taser.rsi/taser4-inhand-right.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, size/S

#2003 Замена спрайта гипоспрея
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Textures/_Sunrise/Objects/Specific/Medical/syndihypo.rsi/hypo_fill1.png
  Resources/Textures/_Sunrise/Objects/Specific/Medical/syndihypo.rsi/hypo_fill2.png
  Resources/Textures/_Sunrise/Objects/Specific/Medical/syndihypo.rsi/hypo_fill3.png
  Resources/Textures/_Sunrise/Objects/Specific/Medical/syndihypo.rsi/hypo_fill4.png
  Resources/Textures/_Sunrise/Objects/Specific/Medical/syndihypo.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Specific/Medical/syndihypo.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Specific/Medical/syndihypo.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Specific/Medical/syndihypo.rsi/meta.json
Labels: Нет C#, Изменения: Спрайты, Несортированный, size/S

#1998 Таран на спину
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Melee/breaching_hammer.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/breaching_hammer.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/breaching_hammer.rsi/meta.json
Labels: Нет C#, Изменения: Спрайты, Несортированный, size/XS

#1990 Плюшки
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie_narvi.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie_sansa.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie_tatarchuk.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/M

#2013 Кастомизация Офицера "Синий Щит"
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Blueshield/blueshield.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Blueshield/blueshield.yml
  Resources/Textures/_Sunrise/Clothing/Neck/Cloaks/blueshieldc.rsi/equipped-NECK.png
  Resources/Textures/_Sunrise/Clothing/Neck/Cloaks/blueshieldc.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Neck/Cloaks/blueshieldc.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Neck/Cloaks/blueshieldc.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Neck/Cloaks/blueshieldc.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Neck/Mantles/blueshieldm.rsi/equipped-NECK.png
  Resources/Textures/_Sunrise/Clothing/Neck/Mantles/blueshieldm.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Neck/Mantles/blueshieldm.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Neck/Mantles/blueshieldm.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Neck/Mantles/blueshieldm.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/blueshield-js.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/blueshield-js.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/blueshield-js.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/blueshield-js.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/blueshield-js.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, size/M
