Repository space-sunrise/sunrise-station, pull requests merged in 2025-08, with the labels that each got.

#2694 Прицеливание через ПКМ.
  Content.Client/Input/ContentContexts.cs
  Content.Client/Movement/Systems/EyeCursorOffsetSystem.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Locale/ru-RU/_strings/_sunrise/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/_strings/escape-menu/ui/options-menu.ftl
  Resources/keybinds.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/S

#2703 Mechlocker construction fix
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/mech/mechs.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/lockermech.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/lockermech_assembly.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/S, size/M

#2698 ебучие артефакты
  Resources/Prototypes/_Sunrise/Research/Artifact/effects.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Карты, Несортированный, size/XS

#2704 фикс крафта петард
  Resources/Prototypes/Entities/Objects/Fun/snap_pops.yml
  Resources/Prototypes/_Sunrise/Recipes/Construction/Graphs/fun/snappop.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Несортированный, Изменения: Локализация, size/XS

#2712 Игроки теперь ничего не видят, будучи в трубе
  Content.Server/_Sunrise/Misc/BlindInDisposals/BlindInDisposalsSystem.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#2711 Energy shield sprite fix
  Resources/Textures/Objects/Weapons/Melee/e_shield.rsi/eshield-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/e_shield.rsi/eshield-inhand-right.png
Labels: Нет C#, Изменения: Спрайты, Несортированный

#2706 Сортировка иконок состояний по алфавиту
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/meta.json
Labels: Нет C#, Несортированный, size/S

#2735 Исправление цвара для панельки
  Content.Shared/_Sunrise/InteractionsPanel/Data/UI/BUI.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/XS

#2728 Абдукторы (я устал)
  Content.Server/_Sunrise/Antags/Abductor/EntitySystems/AbductorSystem.Console.cs
  Content.Server/_Sunrise/Antags/Abductor/EntitySystems/AbductorSystem.cs
  Resources/Prototypes/_Sunrise/Species/abductor.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, size/M, size/XS

#2742 Невозможность обратить священника в культ крови
  Content.Server/_Sunrise/BloodCult/Runes/Systems/BloodCultSystem.Rune.cs
  Resources/Prototypes/_Sunrise/Entities/Mobs/base.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/XS

#2738 Security visor update
  Content.Server/_Sunrise/AddWantedStatus/AddWantedStatusSystem.cs
  Content.Shared/_Sunrise/AddWantedStatus/AddWantedEvent.cs
  Content.Shared/_Sunrise/AddWantedStatus/AddWantedStatusComponent.cs
  Resources/Locale/ru-RU/_prototypes/_sunrise/actions/add_wanted.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/add-wanted-status/add-wanted-status.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_Sunrise/Actions/add_wanted.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/M, size/XS

#2723 revenant-update
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.cs
  Content.Shared/Revenant/Components/RevenantComponent.cs
  Content.Shared/Revenant/SharedRevenant.cs
  Resources/Locale/en-US/_prototypes/_sunrise/actions/revenant.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/actions/revenant.ftl
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/_Sunrise/Actions/revenant.yml
  Resources/Textures/_Sunrise/Interface/Actions/icon.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, Изменения: Аудио, size/M

#2717 Integration tests fixes
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Server/_Sunrise/DamageOverlay/DamageOverlaySystem.cs
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S

#2722 Свадебные наряды
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/head/hats.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/head/hats.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/uniforms/jumpskirts.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Textures/_Sunrise/Clothing/Head/Hats/blackveil.rsi/equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/blackveil.rsi/icon-up.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/blackveil.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/blackveil.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/blackveil.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/blackveil.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Head/Hats/blackveil.rsi/up-equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/blackveil.rsi/up-inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/blackveil.rsi/up-inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/whiteveil.rsi/equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/whiteveil.rsi/icon-up.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/whiteveil.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/whiteveil.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/whiteveil.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/whiteveil.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Head/Hats/whiteveil.rsi/up-equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/whiteveil.rsi/up-inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/whiteveil.rsi/up-inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/black_groom_suit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/black_groom_suit.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/black_groom_suit.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/black_groom_suit.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/black_groom_suit.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/black_wedding_dress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/black_wedding_dress.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/black_wedding_dress.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/black_wedding_dress.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/black_wedding_dress.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/black_wedding_dress_flower.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/black_wedding_dress_flower.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/black_wedding_dress_flower.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/black_wedding_dress_flower.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/black_wedding_dress_flower.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/white_groom_suit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/white_groom_suit.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/white_groom_suit.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/white_groom_suit.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/white_groom_suit.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/white_wedding_dress.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/white_wedding_dress.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/white_wedding_dress.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/white_wedding_dress.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/white_wedding_dress.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/white_wedding_dress_flower.rsi/equipped-innerclothing.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/white_wedding_dress_flower.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/white_wedding_dress_flower.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/white_wedding_dress_flower.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpskirt/wedding/white_wedding_dress_flower.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, S: Merge Conflict, size/M

#2758 Новый орган абдукторов
  Content.Server/Objectives/Components/RoleRequirementComponent.cs
  Content.Server/_Starlight/Medical/Surgery/OrganSystem.cs
  Content.Server/_Sunrise/Antags/Abductor/EntitySystems/AbductorSystem.Organs.cs
  Content.Shared/_Sunrise/Antags/Abductor/Components/AbductorEnums.cs
  Content.Shared/_Sunrise/Antags/Abductor/Components/AbductorsComponents.General.cs
  Resources/Locale/ru-RU/_strings/_sunrise/abductors/abductor-victim.ftl
  Resources/Prototypes/_Sunrise/Body/Organs/dubious.yml
  Resources/Prototypes/_Sunrise/GameRules/events.yml
  Resources/Prototypes/_Sunrise/Objectives/abductor.yml
  Resources/Prototypes/_Sunrise/Roles/Antags/abductor.yml
  Resources/Prototypes/_Sunrise/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_Sunrise/Roles/play_time_trackers.yml
Labels: Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/M

#2769 Улучшенная бодикамера
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/devices/handheld.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/handheld.yml
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Security/security.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Textures/_Sunrise/Objects/Devices/master_handheld_camera.rsi/equipped-NECK.png
  Resources/Textures/_Sunrise/Objects/Devices/master_handheld_camera.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Devices/master_handheld_camera.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Devices/master_handheld_camera.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Devices/master_handheld_camera.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Изменения: Локализация, size/M

#2775 Various workflows fix
  Content.IntegrationTests/Tests/Movement/SlippingTest.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Armor/SharedArmorSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Resources/Locale/ru-RU/_prototypes/_sunrise/body/organs/dubious.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/boxes/ammunition.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/items/medical.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/effects/overlays.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/chemical-containers.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/ammunition/explosives.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/biocode/biocode.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/hmgs/hmgs.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/launchers/launchers.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/specific/abductor.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/structures/doors/secretdoor/secret_door.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/structures/walls/walls.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/roles/jobs/debug.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/CentralCommand/blueshield_operative.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/CentralCommand/ntr_guard.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Command/adjutant.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/USSP/ussp_roles.yml
Labels: Изменения: Локализация, size/M, Приритет: Высокий

#2804 Вырезал побег
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/S

#2800 Обновление консоли станционного учета
  Content.Client/StationRecords/GeneralStationRecordConsoleBoundUserInterface.cs
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml.cs
  Content.Client/_Sunrise/StationRecords/SunriseGeneralRecord.xaml
  Content.Client/_Sunrise/StationRecords/SunriseGeneralRecord.xaml.cs
  Content.Server/StationRecords/Components/GeneralStationRecordConsoleComponent.cs
  Content.Server/StationRecords/Systems/GeneralStationRecordConsoleSystem.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Server/_Sunrise/StationRecords/Systems/GeneralStationRecordConsoleSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/StationRecords/GeneralRecordsUi.cs
  Content.Shared/StationRecords/GeneralStationRecord.cs
  Content.Shared/_Sunrise/Helpers/StringExtensions.cs
  Content.Shared/_Sunrise/StationRecords/SunriseStationRecordEvents.cs
  Resources/Locale/ru-RU/_strings/_sunrise/station-records/printable.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/station-records/radio.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/station-records/ui.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Species/terminator.yml
  Resources/Prototypes/_Sunrise/Species/abductor.yml
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/M

#2826 Убрал пацифизм вору и добавил ему термалы в инженерный набор.
  Resources/Locale/ru-RU/_strings/thief/backpack.ftl
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/GameRules/subgamemodes.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Локализация, size/S, size/XS

#2801 попытки пофиксить ужасы
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/_Sunrise/UserInterface/Controls/CustomColorSelectorSliders.cs
  Content.Client/_Sunrise/UserInterface/Controls/MarkingEffectSelectorSliders.cs
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/M

#2809 Переделал броню СБ
  Resources/Locale/en-US/_prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/_prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/Objects/Weapons/Melee/captain_sabre.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/captain_sabre.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/captain_sabre.rsi/inhand-right.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/S

#2821 Великий фикс апстрима
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Paper/UI/PaperWindow.xaml
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorWindow.xaml.cs
  Content.Client/_Sunrise/UserInterface/RichText/BaseTextureTag.cs
  Content.Server/Emp/EmpSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/_Starlight/Energy/Supermatter/Const.cs
  Content.Server/_Starlight/Energy/Supermatter/SupermatterCascadeSystem.cs
  Content.Server/_Starlight/Energy/Supermatter/SupermatterSystem.cs
  Content.Server/_Sunrise/Antags/Abductor/EntitySystems/AbductorSystem.cs
  Content.Server/_Sunrise/Emp/EmpImmuneComponent.cs
  Content.Server/_Sunrise/Emp/EmpImmuneSystem.cs
  Content.Server/_Sunrise/InnateItem/InnateItemComponent.cs
  Content.Server/_Sunrise/InnateItem/InnateItemSystem.cs
  Content.Server/_Sunrise/ThermalVision/ToggleableThermalVisionSystem.cs
  Content.Shared/Weapons/Ranged/Systems/BatteryWeaponFireModesSystem.cs
  Content.Shared/_Sunrise/Antags/Abductor/Components/AbductorsComponents.General.cs
  Content.Shared/_Sunrise/InnateItem/InnateItemComponent.cs
  Content.Shared/_Sunrise/InnateItem/InnateItemSystem.cs
  Content.Shared/_Sunrise/ThermalVision/ToggleableThermalVisionComponent.cs
  Resources/Locale/ru-RU/_strings/_sunrise/flesh-cult/preset.ftl
  Resources/Locale/ru-RU/_strings/chemistry/solution/components/shared-solution-container-component.ftl
  Resources/Locale/ru-RU/_strings/objectives/round-end.ftl
  Resources/Locale/ru-RU/_strings/weapons/ranged/gun.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/_Starlight/Body/Organs/cyber_organs.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/night_vision_device.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Sunrise/Entities/Specific/innate_items.yml
  Resources/Prototypes/_Sunrise/borg_types.yml
  Resources/Prototypes/borg_types.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/M

#2850 Фикс украинского акцента и ТТСа
  Content.Server/_Sunrise/Speech/EntitySystems/UkrainianAccentSystem.cs
  Content.Server/_Sunrise/TTS/TTSSystem.Sanitize.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/S, size/M

#2848 Настенный раздатчик балонов, Трость-Дробовик
  Resources/Locale/en-US/_prototypes/_sunrise/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/weapons/guns/ammunition/cartridges/shotgun.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/weapons/melee/cane.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/boxes/syndicate.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/weapons/guns/ammunition/cartridges/shotgun.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/weapons/melee/cane.ftl
  Resources/Locale/ru-RU/_strings/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Structures/Machines/vending_machines.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Shotguns/cane_shotgun.rsi/base.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Shotguns/cane_shotgun.rsi/bolt-open.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Shotguns/cane_shotgun.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Shotguns/cane_shotgun.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Shotguns/cane_shotgun.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Shotguns/cane_shotgun.rsi/wielded-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Shotguns/cane_shotgun.rsi/wielded-inhand-right.png
  Resources/Textures/_Sunrise/Structures/Machines/VendingMachines/wallevadispender.rsi/broken.png
  Resources/Textures/_Sunrise/Structures/Machines/VendingMachines/wallevadispender.rsi/deny-unshaded.png
  Resources/Textures/_Sunrise/Structures/Machines/VendingMachines/wallevadispender.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Machines/VendingMachines/wallevadispender.rsi/normal-unshaded.png
  Resources/Textures/_Sunrise/Structures/Machines/VendingMachines/wallevadispender.rsi/off.png
  Resources/Textures/_Sunrise/Structures/Machines/VendingMachines/wallevadispender.rsi/panel.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Карты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/M

#2860 Ammo & Cyber Implants V2
  Resources/Locale/en-US/_prototypes/_starlight/body/parts/cyberlimbs.ftl
  Resources/Locale/en-US/_prototypes/_starlight/entities/objects/specific/medical/surgery.ftl
  Resources/Locale/en-US/_prototypes/_starlight/entities/objects/weapons/melee/cyberlimb.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/specific/security/modifications.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/specific/xenoarchaeology/artifact_equipment.ftl
  Resources/Locale/ru-RU/_prototypes/_starlight/body/parts/cyberlimbs.ftl
  Resources/Locale/ru-RU/_prototypes/_starlight/entities/objects/specific/medical/surgery.ftl
  Resources/Locale/ru-RU/_prototypes/_starlight/entities/objects/weapons/melee/cyberlimb.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/security/modifications.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/specific/mech/weapons/gun/combat.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/specific/xenoarchaeology/artifact_equipment.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Locale/ru-RU/_strings/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/recipes/tags.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/grenade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
  Resources/Prototypes/Recipes/Lathes/ammo.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Starlight/Body/Parts/cyberlimbs.yml
  Resources/Prototypes/_Starlight/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/_Starlight/Entities/Objects/Tools/cyberlimb.yml
  Resources/Prototypes/_Starlight/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Starlight/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_Starlight/Entities/Objects/Weapons/Melee/cyberlimb.yml
  Resources/Prototypes/_Starlight/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Sunrise/Catalog/VendingMachines/Inventories/liberation.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Security/modifications.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Sunrise/Recipes/Construction/Graphs/weapons/gundupgrades.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/security.yml
  Resources/Prototypes/_Sunrise/Research/arsenal.yml
  Resources/Prototypes/_Sunrise/Research/medical.yml
  Resources/Prototypes/_Sunrise/tags.yml
  Resources/Textures/_Starlight/Objects/Specific/Medical/surgery.rsi/bonesetter_bonegel.png
  Resources/Textures/_Starlight/Objects/Specific/Medical/surgery.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/L, size/M

#2990 Ноктюрин абдукторов снова усыпляет.
  Resources/Prototypes/_Sunrise/Reagents/toxins.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/M

#2999 Респрайт Банкоматов
  Resources/Prototypes/_Sunrise/Structures/Computers/atm.yml
  Resources/Textures/_Sunrise/Structures/Machines/atm.rsi/base.png
  Resources/Textures/_Sunrise/Structures/Machines/atm.rsi/icon.png
  Resources/Textures/_Sunrise/Structures/Machines/atm.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Machines/atm.rsi/panel.png
  Resources/Textures/_Sunrise/Structures/Machines/atm.rsi/screen.png
  Resources/Textures/_Sunrise/Structures/Machines/atm.rsi/screenstatic.png
  Resources/Textures/_Sunrise/Structures/Machines/wall_atm.rsi/base.png
  Resources/Textures/_Sunrise/Structures/Machines/wall_atm.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Machines/wall_atm.rsi/panel.png
  Resources/Textures/_Sunrise/Structures/Machines/wall_atm.rsi/unshaded.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, size/S

#3014 Биокод телепортеру синдиката
  Content.Server/SyndicateTeleporter/SyndicateTeleporterComponent.cs
  Content.Server/SyndicateTeleporter/SyndicateTeleporterSystem.cs
  Resources/Locale/ru-RU/_prototypes/entities/objects/devices/syndicate_gadgets/syndicate_teleporter.ftl
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/syndicate_teleporter.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/Syndicate_Gadgets/biocode.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, Изменения: Аудио, size/S

#2991 Перенос автопочинщика в исследования + фикс скорости самолечения
  Content.Shared/Medical/Healing/HealingComponent.cs
  Content.Shared/Medical/Healing/HealingSystem.cs
  Resources/Locale/en-US/_strings/research/technologies.ftl
  Resources/Locale/ru-RU/_prototypes/_starlight/entities/objects/specific/medical/mender.ftl
  Resources/Locale/ru-RU/_strings/research/technologies.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/_Starlight/Entities/Objects/Specific/Medical/mender.yml
  Resources/Prototypes/_Sunrise/Research/medical.yml
Labels: Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S

#3025 Перевод видимых повреждений
  Resources/Locale/en-US/_strings/health-examinable/health-examinable-carbon.ftl
  Resources/Locale/en-US/_strings/health-examinable/health-examinable-silicon.ftl
  Resources/Locale/ru-RU/_strings/bloodstream/bloodstream.ftl
  Resources/Locale/ru-RU/_strings/health-examinable/health-examinable-carbon.ftl
  Resources/Locale/ru-RU/_strings/health-examinable/health-examinable-silicon.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/mechs.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/M

#3028 adding cheap sunglasses to loadout
  Resources/Prototypes/Loadouts/Miscellaneous/glasses.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, size/S, size/XS

#3029 Ребаланс скорости лечения во сне
  Content.Shared/Bed/Components/HealOnBuckleComponent.cs
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/XS

#2861 Фикс рапиры
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/FleshCult/hands_mods.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#2856 Французский акцент робит
  Content.Server/Speech/EntitySystems/FrenchAccentSystem.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#3044 твик к предыдущим плюшкам
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/plushie_boxes.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/advanced_toys/plushie_kalium_nukieagent.rsi/kalium-equipped-NECK.png
  Resources/Textures/_Sunrise/Objects/Fun/advanced_toys/plushie_kalium_nukieagent.rsi/kalium-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Fun/advanced_toys/plushie_kalium_nukieagent.rsi/kalium-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Fun/advanced_toys/plushie_kalium_nukieagent.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/advanced_toys/plushie_kalium_nukieagent.rsi/plushie-kalium.png
  Resources/Textures/_Sunrise/Objects/Fun/advanced_toys/plushie_kalium_nukieagent.rsi/potassium_nukemed_unshaded.png
  Resources/Textures/_Sunrise/Objects/Fun/advanced_toys/plushie_kalium_nukiecommander.rsi/potasium_nuclearcom_unshaded.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/M

#3072 Уменьшил повышенную скорость мехов
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/explosion.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Ребаланс, size/M

#3063 Убраны лишние роли ОБР, пару фиксов снаряжения
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/ears/headsets.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/misc/implanters.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/ears/headsets.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/roles/jobs/ussp/ert.ftl
  Resources/Locale/ru-RU/_prototypes/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/_prototypes/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/_prototypes/entities/mobs/player/humanoid.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/_strings/job/job-names.ftl
  Resources/Locale/ru-RU/triggers/ghost-kick-on-trigger.ftl
  Resources/Locale/ru-RU/triggers/rattle-on-trigger.ftl
  Resources/Locale/ru-RU/triggers/scramble-on-trigger.ftl
  Resources/Locale/ru-RU/triggers/timer-trigger.ftl
  Resources/Locale/ru-RU/triggers/toggle-trigger-condition.ftl
  Resources/Locale/ru-RU/triggers/trigger-on-verb.ftl
  Resources/Locale/ru-RU/triggers/trigger-on-voice.ftl
  Resources/Prototypes/Catalog/Fills/Crates/antag.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Boxes/nanotrasen.yml
  Resources/Prototypes/_Sunrise/Catalog/VendingMachines/Inventories/liberation.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ghost_roles.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/USSP/ert.yml
  Resources/Prototypes/_Sunrise/Structures/Machines/vending_machines.yml
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/wide_ert.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/L

#3058 solution-localization
  Resources/Locale/ru-RU/_strings/chemistry/solution/components/shared-solution-container-component.ftl
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S
