Repository space-sunrise/sunrise-station, pull requests merged in 2025-05, with the labels that each got.

#2030 фикс меты
  Resources/Textures/_Sunrise/Objects/Specific/Medical/syndihypo.rsi/meta.json
Labels: Нет C#, Несортированный, size/XS

#2031 фикс в спрайте гипоспрея
  Resources/Textures/_Sunrise/Objects/Specific/Medical/syndihypo.rsi/hypo.png
  Resources/Textures/_Sunrise/Objects/Specific/Medical/syndihypo.rsi/meta.json
Labels: Нет C#, Изменения: Спрайты, Несортированный, size/XS

#1904 починка света на транзите
  Resources/Maps/_Sunrise/Nonstations/transit_hub.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Несортированный, size/L

#2034 Поправлены ошибки
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/neck/atmospherecross.ftl
  Resources/Locale/ru-RU/_prototypes/entities/clothing/multiple/towel.ftl
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/XS

#2028 Translation
  Resources/Locale/en-US/_strings/_sunrise/construction/graphs/clothing.ftl
  Resources/Locale/en-US/_strings/_sunrise/construction/graphs/lighting.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/back/backpacks.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/back/duffel.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/back/satchel.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/head/misc.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/consumable/food/produce.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/misc/bedsheets.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/hydroponics/leaves.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/hydroponics/seeds.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/structures/furniture/doublebeds.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/structures/furniture/sofa.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/materials/parts.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/materials/sheets/glass.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/materials/sheets/metal.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/tools/tools.ftl
  Resources/Locale/ru-RU/_prototypes/entities/structures/doors/turnstile.ftl
  Resources/Locale/ru-RU/_prototypes/entities/structures/machines/mail_teleporter.ftl
  Resources/Locale/ru-RU/_prototypes/entities/structures/piping/atmospherics/binary.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/clothing.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/furniture.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/misc.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/structures.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/utilities.ftl
  Resources/Locale/ru-RU/_strings/doors/components/turnstile.ftl
  Resources/Locale/ru-RU/_strings/research/technologies.ftl
  Resources/Locale/ru-RU/_strings/salvage/pka_modkits.ftl
  Resources/Locale/ru-RU/_strings/store/currency.ftl
  Resources/Locale/ru-RU/_strings/store/pai-catalog.ftl
  Resources/Locale/ru-RU/_strings/weapons/ranged/upgrades.ftl
  Resources/Locale/ru-RU/delivery/delivery-component.ftl
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация

#2007 Ослабление дракона
  Resources/Prototypes/_Sunrise/Damage/modifier_sets.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#2035 Зарядник в магнитках атмосов
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/shoes/magboots.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/shoes/magboots.ftl
  Resources/Prototypes/_Sunrise/Entities/Clothing/Shoes/magboots.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S

#2032 Бафф короля крыс
  Content.Shared/RatKing/RatKingComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/XS

#2033 Свой лодаут Оружия ГСБ + .60 Антиматериальные новый вид
  Resources/Locale/en-US/_prototypes/entities/objects/weapons/guns/ammunition/boxes/antimateriel.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/weapons/guns/ammunition/cartridges/antimateriel.ftl
  Resources/Locale/en-US/_strings/_sunrise/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/weapons/guns/ammunition/boxes/antimateriel.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/weapons/guns/ammunition/cartridges/antimateriel.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/antimateriel.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_Sunrise/Loadouts/Miscellaneous/security.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/base.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/mag-1.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/mag-2.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/mag-3.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/meta.json
  Resources/migration.yml
Labels: Нет C#, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/M

#2036 Цены ОБР аплинк
  Resources/Prototypes/_Sunrise/Catalog/ert_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Masks/masks.yml
Labels: Нет C#, Несортированный, size/S

#2039 Утеплённые перчатки
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/hands/gloves.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Hands/gloves.yml
  Resources/Textures/_Sunrise/Clothing/Hands/Gloves/insulated_gloves.rsi/equipped-HAND.png
  Resources/Textures/_Sunrise/Clothing/Hands/Gloves/insulated_gloves.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Hands/Gloves/insulated_gloves.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Hands/Gloves/insulated_gloves.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Hands/Gloves/insulated_gloves.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/S

#2040 Добавление КраскоМат
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/crates/vending.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/service/vending_machine_restock.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/structures/machines/vending_machines.ftl
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/_Sunrise/Catalog/VendingMachines/Inventories/paintvend.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_Sunrise/Structures/Machines/vending_machines.yml
  Resources/Textures/_Sunrise/Objects/Specific/Service/vending_machine_restock.rsi/base.png
  Resources/Textures/_Sunrise/Objects/Specific/Service/vending_machine_restock.rsi/green_bit.png
  Resources/Textures/_Sunrise/Objects/Specific/Service/vending_machine_restock.rsi/icon_cargo_paint.png
  Resources/Textures/_Sunrise/Objects/Specific/Service/vending_machine_restock.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Specific/Service/vending_machine_restock.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/Service/vending_machine_restock.rsi/refill_paint.png
  Resources/Textures/_Sunrise/Structures/Machines/VendingMachines/paintvend.rsi/broken.png
  Resources/Textures/_Sunrise/Structures/Machines/VendingMachines/paintvend.rsi/deny-unshaded.png
  Resources/Textures/_Sunrise/Structures/Machines/VendingMachines/paintvend.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Machines/VendingMachines/paintvend.rsi/normal-unshaded.png
  Resources/Textures/_Sunrise/Structures/Machines/VendingMachines/paintvend.rsi/off.png
  Resources/Textures/_Sunrise/Structures/Machines/VendingMachines/paintvend.rsi/panel.png
Labels: Нет C#, Изменения: Спрайты, Несортированный, Изменения: Локализация, Одобрено, size/M

#2051 КраскоМат HotFix
  Resources/Locale/en-US/_strings/_sunrise/advertisements/paintvend.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/advertisements/paintvedn.ftl
  Resources/Prototypes/_Sunrise/Catalog/VendingMachines/advertisements.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_Sunrise/Structures/Machines/vending_machines.yml
  Resources/Textures/_Sunrise/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S

#2052 Фикс визуализации патронов
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/mini_energygun.rsi/mag-unshaded-0.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/mini_energygun.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты

#2038 Удаление из антагов из культа плоти и ДО
  Resources/Prototypes/_Sunrise/AssaultOps/game_presets.yml
  Resources/Prototypes/_Sunrise/FleshCult/game_preset.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#1995 Больше Дезоантизина
  Resources/Prototypes/_Sunrise/Recipes/Reactions/medicine.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#2045 Портативный факс
  Content.Server/Fax/FaxSystem.cs
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/devices/handheld_fax.ftl
  Resources/Locale/en-US/_strings/_sunrise/objectives/steal.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/devices/Handheld_Fax.ftl
  Resources/Locale/ru-RU/_strings/fax/fax.ftl
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_Sunrise/Objectives/stealTargetGroups.yml
  Resources/Prototypes/_Sunrise/Objectives/traitorObjectives.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Command/nanotrasen_representative.yml
  Resources/Textures/_Sunrise/Objects/Devices/handled_fax.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Devices/handled_fax.rsi/idle.png
  Resources/Textures/_Sunrise/Objects/Devices/handled_fax.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Devices/handled_fax.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Devices/handled_fax.rsi/inserting.png
  Resources/Textures/_Sunrise/Objects/Devices/handled_fax.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Devices/handled_fax.rsi/printing.png
  Resources/Textures/_Sunrise/Objects/Devices/handled_fax.rsi/scanner.png
Labels: Изменения: Спрайты, Изменения: Локализация, size/M

#2050 Маски больше не дают резисты
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Masks/masks.yml
Labels: Нет C#, Статус: Требует Рассмотрения

#2066 Принтер документов можно заказать в карго
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Crates/service.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/S

#2060 Обновление станции loop до актуальной версии
  Resources/Maps/_Sunrise/Station/loop.yml
Labels: Нет C#, Изменения: Карты, Несортированный

#1936 КД на повторное поднятие для фелинидов
  Content.Server/_Sunrise/Carrying/CarryingSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Pickup.cs
  Content.Shared/_Sunrise/Carrying/CarryDroppedEvent.cs
  Content.Shared/_Sunrise/Item/ItemRepickupCooldownComponent.cs
  Content.Shared/_Sunrise/Item/ItemRepickupCooldownSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/felinid.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#2053 Update loadout group names and categories.
  Resources/Locale/en-US/_strings/_sunrise/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/preferences/loadout-groups.ftl
Labels: Нет C#, Несортированный, Изменения: Локализация, size/M

#2075 Нерф лута обломков
  Resources/Maps/_Sunrise/Ruins/abandoned_syndi_lab.yml
  Resources/Maps/_Sunrise/Ruins/oblomok_pectine_syndicate_shuttle.yml
Labels: Нет C#, Изменения: Карты, Несортированный

#2082 Починка текстур двойных шлюзов
  Resources/Prototypes/_Sunrise/Entities/Structures/Doors/Airlocks/Glass/airlocks.yml
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_atmospherics.rsi/assembly.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_atmospherics.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_atmospherics.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_atmospherics.rsi/panel_open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_basic.rsi/assembly.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_basic.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_basic.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_basic.rsi/panel_open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_cargo.rsi/assembly.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_cargo.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_cargo.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_cargo.rsi/panel_open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_centcomm.rsi/assembly.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_centcomm.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_centcomm.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_centcomm.rsi/panel_open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_chemistry.rsi/assembly.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_chemistry.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_chemistry.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_chemistry.rsi/panel_open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_command.rsi/assembly.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_command.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_command.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_command.rsi/panel_open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_engineering.rsi/assembly.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_engineering.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_engineering.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_engineering.rsi/panel_open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_maint.rsi/assembly.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_maint.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_maint.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_maint.rsi/panel_open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_medical.rsi/assembly.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_medical.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_medical.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_medical.rsi/panel_open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_science.rsi/assembly.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_science.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_science.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_science.rsi/panel_open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_security.rsi/assembly.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_security.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_security.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_security.rsi/panel_open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_virology.rsi/assembly.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_virology.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_virology.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/double_virology.rsi/panel_open.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный

#2095 Народам - мир, Земля - крестьянам, Фабрики - рабочим, Алмазы на астероиды!
  Resources/Prototypes/Procedural/Magnet/asteroid_ore_gens.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#2103 Мини-рефактор оверлея урона
  Content.Server/_Sunrise/DamageOverlay/DamageOverlaySystem.cs
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#2101 Откатить новое поднятие животных для Смайла
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/S

#2098 Фикс и переработка системы сердцебиения
  Content.Client/Options/UI/Tabs/ExtraTab.xaml
  Content.Client/Options/UI/Tabs/ExtraTab.xaml.cs
  Content.Client/_Sunrise/Heartbeat/HeartbeatSystem.Settings.cs
  Content.Server/_Sunrise/CritHeartbeat/CritHeartbeatComponent.cs
  Content.Server/_Sunrise/CritHeartbeat/CritHeartbeatSystem.cs
  Content.Server/_Sunrise/Heartbeat/Components/ActiveHeartbeatComponent.cs
  Content.Server/_Sunrise/Heartbeat/Components/CritHeartbeatComponent.cs
  Content.Server/_Sunrise/Heartbeat/Systems/HeartbeatSystem.Crit.cs
  Content.Server/_Sunrise/Heartbeat/Systems/HeartbeatSystem.cs
  Content.Shared/_Sunrise/Heartbeat/HeartbeatOptionsChangedEvent.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Locale/ru-RU/_strings/_sunrise/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Изменения: Интерфейс, Изменения: Локализация, size/M

#2087 Изменение рецепта Афродезиака.
  Resources/Prototypes/_Sunrise/Recipes/Reactions/fun.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#2083 Изменение плюшевой Ууны
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
Labels: Нет C#, Несортированный, Изменения: Локализация

#2131 Изменения евы и отдела синего щита на loop
  Resources/Maps/_Sunrise/Shuttles/emergency_loop.yml
  Resources/Maps/_Sunrise/Station/loop.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Несортированный, size/L

#2129 Рекламные фразы банкомата
  Resources/Locale/en-US/_strings/_sunrise/advertisements/atm.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/advertisements/atm.ftl
  Resources/Prototypes/_Sunrise/Catalog/VendingMachines/advertisements.yml
  Resources/Prototypes/_Sunrise/Structures/Computers/atm.yml
  Resources/Textures/_Sunrise/Structures/Machines/atm.rsi/base.png
  Resources/Textures/_Sunrise/Structures/Machines/atm.rsi/screen.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация

#2146 Биокод синди-пирогомёту, а также дебафф
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Service/toys-syndi-clown.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный

#2130 КД стяжек боргов
  Resources/Prototypes/_Sunrise/Actions/borg_actions.yml
Labels: Нет C#, Несортированный

#2107 В батарейном оружии теперь сразу высокоёмкая батарейка
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Нет C#, Статус: Требует Рассмотрения

#2115 Обновление карты "Плазма"
  Resources/Maps/_Sunrise/Station/plasma.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Несортированный, size/XL

#2109 Понизил кол-во патронов в расширенном магазине безгильзовых
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
Labels: Нет C#, Несортированный

#2108 [FIX] Одежда корректно отображается на ногах унатхов
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/XS

#2138 Неловкие очки
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/eyes/glasses.ftl
  Resources/Prototypes/Loadouts/Miscellaneous/glasses.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/glasses.yml
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/stuttering_glasses.rsi/equipped-EYES-arachnid.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/stuttering_glasses.rsi/equipped-EYES-hamster.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/stuttering_glasses.rsi/equipped-EYES-moth.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/stuttering_glasses.rsi/equipped-EYES.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/stuttering_glasses.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/stuttering_glasses.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/stuttering_glasses.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/stuttering_glasses.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/S

#2143 ПНВ замена алмаза на уран в крафте
  Resources/Prototypes/_Sunrise/Recipes/Lathes/devices.yml
Labels: Нет C#, Несортированный, size/XS

#2136 Обновление Шаттла Нюки и Аванпоста
  Resources/Locale/ru-RU/_prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/_prototypes/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_strings/store/uplink-catalog.ftl
  Resources/Maps/_Sunrise/Nonstations/nukieplanet.yml
  Resources/Maps/_Sunrise/Shuttles/infiltrator.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
Labels: Нет C#, Изменения: Карты, Несортированный, Изменения: Локализация, size/XL

#2111 Triple miner airlock
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Doors/Airlocks/Glass/access.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Doors/Airlocks/Glass/airlocks.yml
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/assembly.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/bolted_open_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/bolted_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/closed_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/closing.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/closing_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/deny_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/emergency_open_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/emergency_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/open_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/opening.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/opening_unlit.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/panel_closed.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/panel_closing.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/panel_open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/panel_opening.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/sparks.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/sparks_broken.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/sparks_damaged.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/sparks_open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_salvage.rsi/welded.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, size/M

#2158 Добавлены формы горничной уборщику
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/S

#2179 Убран Броне Костюм ДО из ЗаконШкафа
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/exp_collars.yml
Labels: Нет C#, Несортированный, Изменения: Локализация

#2168 Обновление карты "Марафон"
  Resources/Maps/_Sunrise/Station/marathon.yml
Labels: Нет C#, Изменения: Карты, Несортированный, size/L

#2169 Фикс инвалидов от инвалида
  Resources/Maps/_Sunrise/Shuttles/DSO/CBURN/CBURN_big.yml
  Resources/Maps/_Sunrise/Shuttles/DSO/CBURN/CBURN_small.yml
  Resources/Maps/_Sunrise/Shuttles/DSO/Other/Death_Squad.yml
  Resources/Maps/_Sunrise/Shuttles/dso/cburn/alt_cburn_big.yml
  Resources/Maps/_Sunrise/Shuttles/dso/ert/alt_ert_big.yml
  Resources/Maps/_Sunrise/Shuttles/dso/ert/clown_ert.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты

#2217 Rework janitor borg and remove Fixtures from puddles.
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/_Sunrise/Cleaning/FoorprintAreaCleaningSystem.cs
  Content.Server/_Sunrise/Cleaning/FootprintAreaCleanerComponent.cs
  Content.Server/_Sunrise/Footprints/FootPrintsSystem.cs
  Content.Shared/Fluids/AbsorbentComponent.cs
  Content.Shared/_Sunrise/Footprints/FootprintsSerializables.cs
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Sunrise/Entities/Effects/puddle.yml
  Resources/Prototypes/borg_types.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/M

#2056 Специалист Шатхтёр и Подик (Прототипы)
  Resources/Locale/en-US/_strings/_sunrise/job/job-desc.ftl
  Resources/Locale/en-US/_strings/_sunrise/job/job-names.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/access/accesses.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/job/job-desc.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/job/job-names.ftl
  Resources/Prototypes/Entities/Markers/Spawners/mechs.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Sunrise/Access/cargo.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Sunrise/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Melee/e_pickaxe.yml
  Resources/Prototypes/_Sunrise/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Sunrise/Maps/box.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Cargo/mining_specialist.yml
  Resources/Prototypes/_Sunrise/Roles/play_time_trackers.yml
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/mining.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/mining.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/mining.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/mining.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/mining.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/mining.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/mining.rsi/rolled-equipped-INNERCLOTHING.png
  Resources/Textures/_Sunrise/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Devices/pda.rsi/pda-mining.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idstationminer.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/Mech/mining_pod.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/Mech/mining_pod.rsi/mining_pod.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/mining_pod.rsi/mining_pod_broken.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/mining_pod.rsi/mining_pod_open.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/energy_pickaxe.rsi/e-pickaxe-blade.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/energy_pickaxe.rsi/e-pickaxe.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/energy_pickaxe.rsi/equipped-BACKPACK.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/energy_pickaxe.rsi/equipped-BELT.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/energy_pickaxe.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/energy_pickaxe.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-left-blade.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-right-blade.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/energy_pickaxe.rsi/meta.json
Labels: Нет C#, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/M

#2085 набора с чернилами и бумагой для принтера в КАРГО
  Resources/Locale/en-US/_prototypes/catalog/fills/crates/service.ftl
  Resources/Locale/ru-RU/_prototypes/catalog/fills/crates/service.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/crates.yml
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_service.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S

#2106 Баланс рас попытка 2
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/_Sunrise/Damage/modifier_sets.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/humanoid_xeno.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/swine.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/S

#2135 Новые смешные эффекты для артефактов с Fire Station
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/_Sunrise/Helpers/SunriseHelpersSystem.cs
  Content.Server/_Sunrise/Misc/ShiftedAsciiTableAccent/ShiftedAsciiTableAccentSystem.cs
  Content.Server/_Sunrise/Misc/ShiftedAsciiTableAccent/ShiftedAsciiTabledAccentComponent.cs
  Content.Server/_Sunrise/Misc/TimedRemoveComponents/TimedRemoveComponentsComponent.cs
  Content.Server/_Sunrise/Misc/TimedRemoveComponents/TimedRemoveComponentsSystem.cs
  Content.Server/_Sunrise/Research/Artifact/Effects/AddComponentsInRadius/AddComponentsInRadiusComponent.cs
  Content.Server/_Sunrise/Research/Artifact/Effects/AddComponentsInRadius/AddComponentsInRadiusSystem.cs
  Content.Server/_Sunrise/Research/Artifact/Effects/BoltAirlocks/ArtifactBoltAirlocksComponent.cs
  Content.Server/_Sunrise/Research/Artifact/Effects/BoltAirlocks/ArtifactBoltAirlocksSystem.cs
  Content.Server/_Sunrise/Research/Artifact/Effects/ModifyHunger/ArtifactModifyHungerComponent.cs
  Content.Server/_Sunrise/Research/Artifact/Effects/ModifyHunger/ArtifactModifyHungerSystem.cs
  Content.Server/_Sunrise/Research/Artifact/Effects/ModifyThirst/ArtifactModifyThirstComponent.cs
  Content.Server/_Sunrise/Research/Artifact/Effects/ModifyThirst/ArtifactModifyThirstSystem.cs
  Content.Server/_Sunrise/Research/Artifact/Effects/RandomTransformation/ArtifactRandomTransformationComponent.cs
  Content.Server/_Sunrise/Research/Artifact/Effects/RandomTransformation/ArtifactRandomTransformationSystem.cs
  Content.Server/_Sunrise/Research/Artifact/Effects/StartGameRule/ArtifactStartGameRuleComponent.cs
  Content.Server/_Sunrise/Research/Artifact/Effects/StartGameRule/ArtifactStartGameRuleSystem.cs
  Content.Server/_Sunrise/Research/Artifact/Effects/WhitelistSwap/ArtifactWhitelistSwapComponent.cs
  Content.Server/_Sunrise/Research/Artifact/Effects/WhitelistSwap/ArtifactWhitelistSwapSystem.cs
  Content.Server/_Sunrise/Research/Artifact/Triggers/HealthAnalyzerInteraction/ArtifactHealthAnalyzerInteractionTriggerComponent.cs
  Content.Server/_Sunrise/Research/Artifact/Triggers/HealthAnalyzerInteraction/ArtifactHealthAnalyzerInteractionTriggerSystem.cs
  Content.Shared/_Sunrise/Helpers/DictionaryExtentions.cs
  Content.Shared/_Sunrise/Helpers/SharedSunriseHelpersSystem.cs
  Content.Shared/_Sunrise/Misc/ArtifactFunnyTargetComponent.cs
  Content.Shared/_Sunrise/Research/Artifact/ArtifactEvents.cs
  Resources/Locale/ru-RU/_strings/_sunrise/research/artifacts.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Debugging/debug_sweps.yml
  Resources/Prototypes/Entities/Debugging/drugs.yml
  Resources/Prototypes/Entities/Debugging/item.yml
  Resources/Prototypes/Entities/Debugging/options_visualizer.yml
  Resources/Prototypes/Entities/Debugging/spanisharmyknife.yml
  Resources/Prototypes/Entities/Debugging/stress_test.yml
  Resources/Prototypes/Entities/Markers/Spawners/debug.yml
  Resources/Prototypes/Entities/Objects/Misc/dat_fukken_disk.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mecha_equipment.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/disk.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_xenoartifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/xenoartifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
  Resources/Prototypes/Entities/Structures/Power/debug_power.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/XenoArch/effects.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/mech_spray_paint.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Melee/provinence.yml
  Resources/Prototypes/_Sunrise/Polymorphs/artifact_polymorph.yml
  Resources/Prototypes/_Sunrise/Research/Artifact/effects.yml
  Resources/Prototypes/_Sunrise/Research/Artifact/tables.yml
  Resources/Prototypes/_Sunrise/Research/Artifact/triggers.yml
Labels: Статус: Требует Рассмотрения, Изменения: Локализация, size/M

#2148 Удаление синего щита на переработку
  Resources/Prototypes/_Sunrise/Maps/bagel.yml
  Resources/Prototypes/_Sunrise/Maps/box.yml
  Resources/Prototypes/_Sunrise/Maps/convex.yml
  Resources/Prototypes/_Sunrise/Maps/delta.yml
  Resources/Prototypes/_Sunrise/Maps/fland.yml
  Resources/Prototypes/_Sunrise/Maps/gelta.yml
  Resources/Prototypes/_Sunrise/Maps/loop.yml
  Resources/Prototypes/_Sunrise/Maps/marathon.yml
  Resources/Prototypes/_Sunrise/Maps/meta.yml
  Resources/Prototypes/_Sunrise/Maps/oasis.yml
  Resources/Prototypes/_Sunrise/Maps/packed.yml
  Resources/Prototypes/_Sunrise/Maps/plasma.yml
  Resources/Prototypes/_Sunrise/Maps/xeno.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/S

#2149 Щит против беспорядков со стробоскопом
  Resources/Locale/en-US/recipes/tags.ftl
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/_Sunrise/Recipes/Construction/Graphs/weapons/strobeshield.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/weapon.yml
  Resources/Prototypes/_Sunrise/tags.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/shields.rsi/burnt.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/shields.rsi/flashing.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/shields.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/shields.rsi/riot-icon.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/shields.rsi/riot-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/shields.rsi/riot-inhand-right.png
Labels: Нет C#, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/M

#2154 fix bug with an orb
  Content.Server/_Sunrise/BloodCult/Items/Systems/CultBloodSpellSystem.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/XS

#2156 Щит на броню Аколита
  Content.Server/EnergyDome/EnergyDomeSystem.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Sunrise/Entities/Effects/dome.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#2157 Панель телепорта призрака
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Client/_Sunrise/UserInterface/Controls/RichTextButton.cs
  Content.Client/_Sunrise/UserInterface/Systems/Ghost/Controls/SunriseGhostTargetWindow.Generation.xaml.cs
  Content.Client/_Sunrise/UserInterface/Systems/Ghost/Controls/SunriseGhostTargetWindow.Helpers.xaml.cs
  Content.Client/_Sunrise/UserInterface/Systems/Ghost/Controls/SunriseGhostTargetWindow.Search.cs
  Content.Client/_Sunrise/UserInterface/Systems/Ghost/Controls/SunriseGhostTargetWindow.xaml
  Content.Client/_Sunrise/UserInterface/Systems/Ghost/Controls/SunriseGhostTargetWindow.xaml.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/_Sunrise/Ghost/GhostPanelAntagonistMarkerPinSystem.cs
  Content.Server/_Sunrise/Ghost/GhostSystem.GhostPanelSpecific.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Content.Shared/Mind/Components/MindContainerComponent.cs
  Content.Shared/Roles/Jobs/SharedJobSystem.cs
  Content.Shared/_Sunrise/Ghost/GhostPanelAntagonistMarkerComponent.cs
  Content.Shared/_Sunrise/Ghost/SharedGhostSystem.GhostPanelSpecific.cs
  Content.Shared/_Sunrise/Helpers/ChatIconsHelpersSystem.cs
  Resources/Locale/ru-RU/_strings/_sunrise/ghost/ghost-panel.ftl
  Resources/Locale/ru-RU/_strings/job/department.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/departments.yml
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, Изменения: Локализация, S: Merge Conflict, size/L

#2172 L6 saw можно использовать только в двух руках.
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#2189 новый арт
  Resources/Prototypes/_Sunrise/lobbyscreens.yml
  Resources/Textures/_Sunrise/LobbyScreens/attributions.yml
  Resources/Textures/_Sunrise/LobbyScreens/prostchitalsanogde.webp
  Resources/Textures/_Sunrise/LobbyScreens/prostchitalsanogde.webp.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/XS

#2196 Обновление карты "Мета"
  Resources/Maps/_Sunrise/Station/meta.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, size/L

#2202 Небольшие изменения в механике хищников (Яутжи)
  Resources/Prototypes/_Sunrise/Body/Organs/predator.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#2204 50% структурный урон по мехам + Удар меха отталкивает и может застанить
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: Нет C#, Несортированный, size/S

#2212 Плюшка
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/consumable/food/sugarbun.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/consumable/food/sugarbun.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Consumable/Food/bun.yml
  Resources/Prototypes/_Sunrise/Recipes/Cooking/bun_recipes.yml
  Resources/Textures/_Sunrise/Objects/Consumable/Food/bun.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Consumable/Food/bun.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/S

#2216 IC Флуд-защита
  Content.Server/Chat/Systems/ChatSystem.cs
  Resources/Locale/en-US/_strings/_sunrise/chat/spam-mute.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/chat/spam-mute.ftl
Labels: Статус: Требует Рассмотрения, Изменения: Локализация, size/S

#2221 Ограничения роли для освещения воды библией
  Content.Server/_Sunrise/BloodCult/HolyWater/HolyWaterSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Recipes/Reactions/single_reagent.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/M

#2229 Фикс линтера и переводов 2, рефактор святой воды
  Content.Server/_Sunrise/BloodCult/HolyWater/BibleWaterConvertComponent.cs
  Content.Server/_Sunrise/BloodCult/HolyWater/HolyWaterSystem.cs
  Content.Shared/_Sunrise/Reagents/Convert/ByClickReagentConvertComponent.cs
  Content.Shared/_Sunrise/Reagents/Convert/ByClickReagentConvertSystem.cs
  Resources/Locale/ru-RU/recipes/tags.ftl
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Recipes/Construction/Graphs/mechs/clarke_construction.yml
  Resources/Prototypes/Recipes/Construction/Graphs/mechs/durand_construction.yml
  Resources/Prototypes/Recipes/Construction/Graphs/mechs/gygax_construction.yml
  Resources/Prototypes/Recipes/Construction/Graphs/mechs/phazon_construction.yml
  Resources/Prototypes/Recipes/Construction/Graphs/mechs/ripleymkii_construction.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/EnergySwordDouble.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/scraparmor.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/scraphelmet.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Stacks/Materials/crystals.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_Sunrise/BloodCult/Entities/Items/materials.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ghost_roles.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/lockermech_assembly.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/_Sunrise/Recipes/Construction/Graphs/structures/nuke.yml
  Resources/Prototypes/_Sunrise/Recipes/Construction/doublebeds.yml
  Resources/Prototypes/_Sunrise/Recipes/Construction/sofa.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/Graphs/Improvised/geranium_crown.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/atmosCrosss.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/improvised.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/misc.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/powercage.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/smokeables.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/storagecanister.yml
  Resources/Prototypes/_Sunrise/Stacks/Materials/sunticks.yml
  Resources/Prototypes/_Sunrise/Stacks/consumable_stacks.yml
  Resources/Prototypes/_Sunrise/Stacks/medical_stacks.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/M

#2241 texsture swap
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты

#2243 Шаттл СССП
  Resources/Maps/_Sunrise/Shuttles/ussp_shuttle.yml
Labels: Нет C#, Изменения: Карты, Несортированный
