Repository space-sunrise/sunrise-station, pull requests merged in 2025-06, with the labels that each got.

#2246 Респрайт аплинка и телекристаллов
  Resources/Locale/en-US/_prototypes/entities/objects/specific/syndicate.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/specific/syndicate.ftl
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Stacks/Materials/crystals.yml
  Resources/Textures/_Sunrise/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Devices/communication.rsi/old-radio-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Devices/communication.rsi/old-radio-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Devices/communication.rsi/old-radio.png
  Resources/Textures/_Sunrise/Objects/Specific/Syndicate/telecrystal.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Specific/Syndicate/telecrystal.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Specific/Syndicate/telecrystal.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/Syndicate/telecrystal.rsi/telecrystal.png
  Resources/Textures/_Sunrise/Objects/Specific/Syndicate/telecrystal.rsi/telecrystal_2.png
  Resources/Textures/_Sunrise/Objects/Specific/Syndicate/telecrystal.rsi/telecrystal_3.png
Labels: Нет C#, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/M

#2250 Улучшение визора сИИ
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Нет C#, Несортированный

#2263 Артефакты-предметы, смешной хаос и не только
  Content.Server/_Sunrise/Xenoarchaeology/RandomXenoArtifactsSystem.cs
  Content.Server/_Sunrise/Xenoarchaeology/StationRandomXenoArtifactComponent.cs
  Content.Server/_Sunrise/Xenoarchaeology/XenoArtifactRandomItemMarkerComponent.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/XenoArch/triggers.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Xenoarchaelogy/xenoartifacts.yml
  Resources/Prototypes/_Sunrise/Entities/Stations/base.yml
  Resources/Prototypes/_Sunrise/Research/Artifact/tables.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/M

#2269 Прикольная анимация для хранилищ
  Content.Client/_Sunrise/Animations/ContainerInteractionAnimationSystem.cs
  Content.Shared/Storage/StorageComponent.cs
  Content.Shared/_Sunrise/Animations/ContainerInteractionAnimationComponent.cs
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Belt/base_clothingbelt.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Objects/Misc/box.yml
  Resources/Prototypes/Entities/Objects/base_item.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#2267 Новая тема интерфейса: Прототип
  Resources/Locale/en-US/_prototypes/_sunrise/escape-menu/ui/options.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/escape-menu/ui/options.ftl
  Resources/Prototypes/_Sunrise/hud.yml
  Resources/Prototypes/_Sunrise/themes.yml
  Resources/Textures/_Sunrise/Interface/Operative/Slots/bra.png
  Resources/Textures/_Sunrise/Interface/Operative/Slots/pants.png
  Resources/Textures/_Sunrise/Interface/Prototype/SlotBackground.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/back.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/belt.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/bra.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/ears.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/glasses.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/gloves.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/hand_l.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/hand_l_no_letter.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/hand_r.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/hand_r_no_letter.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/head.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/id.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/mask.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/neck.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/pants.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/plug.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/pocket.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/shoes.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/socks.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/suit.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/suit_storage.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/toggle.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/uniform.png
  Resources/Textures/_Sunrise/Interface/Prototype/Slots/web.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/piece_bottom.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/piece_bottomLeft.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/piece_bottomRight.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/piece_center.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/piece_left.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/piece_right.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/piece_top.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/piece_topLeft.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/piece_topRight.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/tile_empty.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/tile_empty_opaque.png
  Resources/Textures/_Sunrise/Interface/Prototype/item_status_left.png
  Resources/Textures/_Sunrise/Interface/Prototype/item_status_left_highlight.png
  Resources/Textures/_Sunrise/Interface/Prototype/item_status_right.png
  Resources/Textures/_Sunrise/Interface/Prototype/item_status_right_highlight.png
  Resources/Textures/_Sunrise/Interface/Prototype/slot_highlight.png
  Resources/Textures/_Sunrise/Interface/Prototype/template_small.png
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S

#2272 Power net tweak
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
  Content.Server/Power/Pow3r/PowerState.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/M

#2276 Изменения рандомных артефактов
  Content.Server/_Sunrise/Misc/TimedRemoveComponents/TimedRemoveComponentsSystem.cs
  Content.Server/_Sunrise/Xenoarchaeology/RandomXenoArtifactsSystem.cs
  Resources/Prototypes/_Sunrise/Research/Artifact/effects.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#2278 Fix scopes in separated interface
  Content.Client/Movement/Systems/EyeCursorOffsetSystem.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#2282 Фикс перемещения жидкости
  Content.Shared/Chemistry/EntitySystems/ScoopableSolutionSystem.cs
  Content.Shared/Chemistry/EntitySystems/SolutionTransferSystem.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#2283 Улучшение рапиры синди
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/syndicate_rapier_storage_64x.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Melee/syndicate_rapier_storage_64x.rsi/storage.png
Labels: Нет C#, Изменения: Спрайты, Несортированный, size/S

#2281 Звуки кровотечения и печати автолатов
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Resources/Audio/_Sunrise/Effects/Liquid/BloodLoss/Bleeding/sound1.ogg
  Resources/Audio/_Sunrise/Effects/Liquid/BloodLoss/Bleeding/sound2.ogg
  Resources/Audio/_Sunrise/Effects/Liquid/BloodLoss/Bleeding/sound3.ogg
  Resources/Audio/_Sunrise/Effects/Liquid/BloodLoss/Bleeding/sound4.ogg
  Resources/Audio/_Sunrise/Effects/Liquid/BloodLoss/Drip/sound1.ogg
  Resources/Audio/_Sunrise/Effects/Liquid/BloodLoss/Drip/sound2.ogg
  Resources/Audio/_Sunrise/Effects/Liquid/BloodLoss/Drip/sound3.ogg
  Resources/Audio/_Sunrise/Effects/Liquid/BloodLoss/Drip/sound4.ogg
  Resources/Audio/_Sunrise/Effects/Liquid/BloodLoss/Drip/sound5.ogg
  Resources/Audio/_Sunrise/Effects/Liquid/BloodLoss/Drip/sound6.ogg
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Sunrise/SoundCollections/bleeding.yml
Labels: Статус: Требует Рассмотрения, Несортированный, Изменения: Аудио, size/S

#2247 Фигурки ОСЩ и ИСН
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/figurines.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/datasets/figurines.ftl
  Resources/Prototypes/_Sunrise/Datasets/figurines.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/figurines.yml
  Resources/Textures/_Sunrise/Objects/Fun/figurines.rsi/blueshield.png
  Resources/Textures/_Sunrise/Objects/Fun/figurines.rsi/enforcementofficer.png
  Resources/Textures/_Sunrise/Objects/Fun/figurines.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Fun/figurines.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Fun/figurines.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/S

#2296 Fix EmitSoundOnWearerMoveSystem.cs
  Content.Shared/_Sunrise/Clothing/EntitySystems/EmitSoundOnWearerMoveSystem.cs
Labels: Статус: Требует Рассмотрения, size/XS, Приритет: Высокий

#2290 Увеличено время до вызова шаттла
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/XS

#2226 Бафф снайперских винтовок до играбельности
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Biocode/biocode.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: Нет C#, Несортированный, size/S

#2299 Фикс ПРа на ID карты
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/StatusIcon/job.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/identification_cards.yml
  Resources/Textures/_Sunrise/Interface/Misc/job_icons.rsi/Borg.png
  Resources/Textures/_Sunrise/Interface/Misc/job_icons.rsi/Brigmedic.png
  Resources/Textures/_Sunrise/Interface/Misc/job_icons.rsi/Musician.png
  Resources/Textures/_Sunrise/Interface/Misc/job_icons.rsi/SecurityPilot.png
  Resources/Textures/_Sunrise/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/ert_engineer.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/ert_janitor.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/ert_medic.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/ert_security.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idbrigmedic.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idintern-cadet.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idintern-med.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idintern-sci.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idintern-service.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idintern-tech.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idmime.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idmusician.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idpassenger.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idprisoner-space-prison.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idsecuritypilot.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/meta.json
Labels: Нет C#, Изменения: Спрайты, size/S, Приритет: Высокий

#2306 Фикс уязвимости химкомата.
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Resources/Locale/ru-RU/_strings/_sunrise/chem_master/chem_master.ftl
Labels: Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация

#2312 Фикс ерророк
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Prototypes/StatusIcon/job.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/XS

#2351 Попросили добавить плюшку
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie_kalium.png
Labels: Нет C#, Изменения: Спрайты, Изменения: Локализация

#2361 Исправления панели телепорта призрака
  Content.Client/_Sunrise/UserInterface/Systems/Ghost/Controls/SunriseGhostTargetWindow.xaml.cs
  Content.Server/_Sunrise/Ghost/GhostSystem.GhostPanelSpecific.cs
Labels: Изменения: Интерфейс, Несортированный, size/S

#2377 Перемещено логгирование PowerNetSystem и AtmosphereSystem в Debug
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/XS

#2374 Небольшие дополнения к худам
  Resources/Textures/_Sunrise/Interface/Medical/Slots/back.png
  Resources/Textures/_Sunrise/Interface/Medical/Slots/gloves.png
  Resources/Textures/_Sunrise/Interface/Medical/Slots/hand_l.png
  Resources/Textures/_Sunrise/Interface/Medical/Slots/hand_l_no_letter.png
  Resources/Textures/_Sunrise/Interface/Medical/Slots/hand_m.png
  Resources/Textures/_Sunrise/Interface/Medical/Slots/hand_r.png
  Resources/Textures/_Sunrise/Interface/Medical/Slots/hand_r_no_letter.png
  Resources/Textures/_Sunrise/Interface/Medical/Slots/neck.png
  Resources/Textures/_Sunrise/Interface/Medical/Slots/toggle.png
  Resources/Textures/_Sunrise/Interface/Medical/slot_highlight.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/back.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/exit.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/sidebar_bottom.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/sidebar_mid.png
  Resources/Textures/_Sunrise/Interface/Prototype/Storage/sidebar_top.png
Labels: Нет C#, Несортированный

#2372 Расширение функционала зависимости работок от работок
  Content.Server/_Sunrise/Roles/RelativeJobsCountComponent.cs
  Content.Server/_Sunrise/Roles/RelativeJobsCountSystem.cs
  Resources/Prototypes/_Sunrise/Maps/planet_prison.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/M

#2366 AntiSpam minor update
  Content.Server/_Sunrise/Chat/AntiSpamSystem.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#2305 Добавлен заряд энерго-щиту
  Content.Server/_Sunrise/EnergyShield/EnergyShieldComponent.cs
  Content.Server/_Sunrise/EnergyShield/EnergyShieldSystem.cs
  Content.Shared/Blocking/BlockingSystem.User.cs
  Content.Shared/Blocking/BlockingSystem.cs
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/M

#2298 Чат санитизация против набегаторов.
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/_Sunrise/ChatSan/ChatSanRequestEvent.cs
  Content.Server/_Sunrise/ChatSan/ChatSanSystem.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Locale/ru-RU/_strings/_sunrise/chatsan/chatsan-admin-alert.ftl
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/M

#2382 Свой Аплинк Лон опсу
  Resources/Maps/_Sunrise/Shuttles/infiltrator.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/tags.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Несортированный, S: Merge Conflict, size/M

#2400 Баффнут энерго-щит
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/S

#2403 Фиксы моих нововедений
  Resources/Locale/en-US/_prototypes/_sunrise/catalog/fills/crates/ussp.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/weapons/guns/ammunition/cartridges/heavy_rifle.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/weapons/guns/ammunition/cartridges/heavy_rifle_nt.ftl
  Resources/Locale/en-US/recipes/tags.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/crates/ussp.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/ammunition/cartridges/heavy_rifle.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/ammunition/cartridges/heavy_rifle_nt.ftl
  Resources/Locale/ru-RU/_strings/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/recipes/tags.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Crates/ussp.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/heavy_light_rifle.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/heavy_rifle_nt.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Sunrise/Recipes/Construction/Graphs/weapons/securitygrenadelauncher.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Карты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/M

#2414 Дать возможность всем киборгам выбирать имена
  Resources/Locale/ru-RU/_strings/_sunrise/loadout/loadouts.ftl
  Resources/Prototypes/_Sunrise/Loadouts/role_loadouts.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация

#2415 Деревянные перила.
  Resources/Prototypes/_Sunrise/Entities/Structures/Walls/railingwood.yml
  Resources/Prototypes/_Sunrise/Recipes/Construction/Graphs/structures/woodenrailing.yml
  Resources/Prototypes/_Sunrise/Recipes/Construction/woodenrailing.yml
  Resources/Textures/_Sunrise/Structures/Walls/woodenrailing.rsi/corner.png
  Resources/Textures/_Sunrise/Structures/Walls/woodenrailing.rsi/corner_small.png
  Resources/Textures/_Sunrise/Structures/Walls/woodenrailing.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Walls/woodenrailing.rsi/round.png
  Resources/Textures/_Sunrise/Structures/Walls/woodenrailing.rsi/side.png
Labels: Нет C#, Изменения: Спрайты, Несортированный

#2419 Закомитил Жнеца в аплинке
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/S, size/XS

#2444 fix mech cryoteleport
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/_Sunrise/CryoTeleport/BeforeCryoTeleportEvent.cs
  Content.Server/_Sunrise/CryoTeleport/CryoTeleportSystem.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#2445 fix chatsan system
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/_Sunrise/ChatSan/ChatSanRequestEvent.cs
  Content.Server/_Sunrise/ChatSan/ChatSanSystem.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Locale/ru-RU/_strings/_sunrise/chatsan/chatsan-admin-alert.ftl
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S

#2448 hotfix chatsan
  Content.Server/_Sunrise/ChatSan/ChatSanSystem.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/XS

#2440 Fairy
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/neck/cloaks.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/neck/cloaks.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Neck/cloaks.yml
  Resources/Textures/_Sunrise/Clothing/Neck/Wings/archangel_wings.rsi/equipped-NECK.png
  Resources/Textures/_Sunrise/Clothing/Neck/Wings/archangel_wings.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Neck/Wings/archangel_wings.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Neck/Wings/demon_wings.rsi/equipped-NECK.png
  Resources/Textures/_Sunrise/Clothing/Neck/Wings/demon_wings.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Neck/Wings/demon_wings.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Neck/Wings/fairy_wings.rsi/equipped-NECK.png
  Resources/Textures/_Sunrise/Clothing/Neck/Wings/fairy_wings.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Neck/Wings/fairy_wings.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Neck/Wings/losyash_wings.rsi/equipped-NECK.png
  Resources/Textures/_Sunrise/Clothing/Neck/Wings/losyash_wings.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Neck/Wings/losyash_wings.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/M

#2441 Изменения Пистолетов и ПП, Лодаут Детектива
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_DE50.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_cmb_1.ogg
  Resources/Audio/_RMC14/Weapons/Guns/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/gun_cmb_click1.ogg
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/en-US/_strings/_sunrise/construction/graphs/weapons.ftl
  Resources/Locale/en-US/recipes/tags.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/ammunition/magazines/light_rifle.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/construction/graphs/weapons.ftl
  Resources/Locale/ru-RU/recipes/tags.ftl
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Recipes/Lathes/ammo.yml
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Sunrise/Catalog/ert_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Security/modifications.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Recipes/Construction/Graphs/weapons/securitymodifications.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/security.yml
  Resources/Prototypes/_Sunrise/Research/arsenal.yml
  Resources/Prototypes/_Sunrise/SoundCollections/gunshots.yml
  Resources/Prototypes/_Sunrise/tags.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearhead.rsi/wielded-inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearheadblack.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearheadblack.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearheadblack.rsi/equipped-BELT.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearheadblack.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearheadblack.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearheadblack.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearheadblack.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearheadblack.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearheadblack.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/spearheadblack.rsi/wielded-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/SMGs/skorpion.rsi/equipped-BELT.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/SMGs/skorpion.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/SMGs/skorpion.rsi/wielded-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/SMGs/skorpion.rsi/wielded-inhand-right.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Карты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, Изменения: Аудио, size/M

#2463 Фикс интерфейса голопада
  Content.Client/Holopad/HolopadWindow.xaml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Интерфейс
