Repository space-sunrise/sunrise-station, pull requests merged in 2025-07, with the labels that each got.

#2472 Обмотки
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/shoes/specific.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/recipes/tags.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/shoes/specific.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/recipes/tags.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/recipes/trashgun.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/recipes/trashlasergun.ftl
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/_Sunrise/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/Graphs/Improvised/atmoscross.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/Graphs/Improvised/wraps.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/atmosCrosss.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/improvised.yml
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps.rsi/equipped-FEET-reptilian.png
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps.rsi/equipped-FEET-vox.png
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps.rsi/equipped-FEET.png
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps.rsi/equipped-HAND.png
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps_high.rsi/equipped-FEET-reptilian.png
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps_high.rsi/equipped-FEET-vox.png
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps_high.rsi/equipped-FEET.png
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps_high.rsi/equipped-HAND.png
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps_high.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps_high.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps_high.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Shoes/Specific/wraps_high.rsi/meta.json
Labels: Нет C#, Изменения: Спрайты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/S, size/M

#2520 Панель администратора
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, size/S

#2527 Фикс абуз Лунных ботинков
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
Labels: Нет C#, Несортированный, size/XS

#2504 Возвращение магниток атмосов
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#2544 Перенос хвостов с билда Ласта в основной билд Санрайза
  Resources/Locale/en-US/_strings/markings/human_tails.ftl
  Resources/Locale/ru-RU/_strings/markings/human_tails.ftl
  Resources/Prototypes/_Sunrise/Entities/Customization/Markings/human_tails.yml
  Resources/Textures/_Sunrise/Mobs/Customization/big_fox_tail.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Customization/big_fox_tail.rsi/tail_fox_wag_stripes_prime.png
  Resources/Textures/_Sunrise/Mobs/Customization/big_fox_tail.rsi/tail_fox_wag_stripes_second.png
  Resources/Textures/_Sunrise/Mobs/Customization/big_fox_tail.rsi/tail_fox_wag_stripes_third.png
  Resources/Textures/_Sunrise/Mobs/Customization/human_tails.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Customization/human_tails.rsi/shark_tail.png
Labels: Нет C#, Изменения: Спрайты, Несортированный, Изменения: Локализация

#2539 Значительно снизил цену трития
  Resources/Prototypes/Atmospherics/gases.yml
Labels: Нет C#, size/XS

#2535 Новые волосы
  Resources/Locale/ru-RU/_strings/_sunrise/accessories/human-hair.ftl
  Resources/Prototypes/_Sunrise/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/_Sunrise/Mobs/Customization/sunrise_human_hair.rsi/hair_long_comb.png
  Resources/Textures/_Sunrise/Mobs/Customization/sunrise_human_hair.rsi/hair_long_disheveled.png
  Resources/Textures/_Sunrise/Mobs/Customization/sunrise_human_hair.rsi/hair_medium_disheveled.png
  Resources/Textures/_Sunrise/Mobs/Customization/sunrise_human_hair.rsi/hair_neat_feminine.png
  Resources/Textures/_Sunrise/Mobs/Customization/sunrise_human_hair.rsi/hair_neat_man_bun.png
  Resources/Textures/_Sunrise/Mobs/Customization/sunrise_human_hair.rsi/hair_protruding_strand.png
  Resources/Textures/_Sunrise/Mobs/Customization/sunrise_human_hair.rsi/hair_quick_instalation.png
  Resources/Textures/_Sunrise/Mobs/Customization/sunrise_human_hair.rsi/hair_windy.png
  Resources/Textures/_Sunrise/Mobs/Customization/sunrise_human_hair.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/M

#2489 Фикс коллизий
  Content.Client/_Sunrise/Jump/JumpSystem.cs
  Content.Server/_Sunrise/Jump/JumpSystem.cs
  Content.Shared/Physics/CollisionGroup.cs
  Content.Shared/Standing/SharedStandingStateSystem.cs
  Content.Shared/_Sunrise/Jump/BunnyHopComponent.cs
  Content.Shared/_Sunrise/Jump/ClientOptionDisableJumpSoundEvent.cs
  Content.Shared/_Sunrise/Jump/JumpComponent.cs
  Content.Shared/_Sunrise/Jump/SharedJumpSystem.CCvar.cs
  Content.Shared/_Sunrise/Jump/SharedJumpSystem.cs
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, size/S, size/M

#2548 Вырезаем молдавский диалект
  Content.Server/_Sunrise/Speech/Components/MoldovanAccentComponent.cs
  Content.Server/_Sunrise/Speech/EntitySystems/MoldovanAccentSystem.cs
  Resources/Locale/en-US/_strings/_sunrise/accent/moldovan.ftl
  Resources/Locale/en-US/_strings/traits/traits.ftl
  Resources/Locale/ru-RU/_strings/accent/moldovan.ftl
  Resources/Locale/ru-RU/_strings/traits/traits.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Traits/speech.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/M

#2545 Красивая панель логов + актуализация кода тегов
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml.cs
  Content.Client/_Sunrise/Administration/UI/CustomControls/SunriseAdminLogLabel.cs
  Content.Client/_Sunrise/UserInterface/RichText/BaseTextureTag.cs
  Content.Client/_Sunrise/UserInterface/RichText/CenterTag.cs
  Content.Client/_Sunrise/UserInterface/RichText/EntityTextureTag.cs
  Content.Client/_Sunrise/UserInterface/RichText/RadioIconTag.cs
  Content.Client/_Sunrise/UserInterface/RichText/TextureTag.cs
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Несортированный, size/S, size/M

#2572 телеком юристов
  Resources/Prototypes/Entities/Structures/Machines/telecomms.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Structures/Machines/telecomms.rsi/meta.json
  Resources/Textures/Structures/Machines/telecomms.rsi/variant-law.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, size/S, Приритет: Высокий

#2428 Улучшение системы заточки
  Content.Server/_Sunrise/SharpeningSystem/SharpenerComponent.cs
  Content.Server/_Sunrise/SharpeningSystem/SharpeningSystem.cs
  Resources/Prototypes/_Sunrise/BloodCult/Object/wetstone.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#2427 Снижение цен на стелс вещи в аплинке, апгрейд рапиры синдиката?
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Locale/en-US/_strings/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_strings/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Melee/sword.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Несортированный, Изменения: Локализация, size/S

#2432 Добавление батарейки синдиката в аплинк синдиката
  Resources/Locale/ru-RU/_strings/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Изменения: Локализация, size/S

#2437 Фиксы мехов
  Content.Client/Mech/MechSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/_Sunrise/Mech/SunriseMechSystem.cs
  Content.Server/_Sunrise/Paint/MechPaintSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Mech/SharedMech.cs
  Content.Shared/_Sunrise/Mech/MechOnEMPPulseComponent.cs
  Content.Shared/_Sunrise/Mech/MechPaintComponent.cs
  Content.Shared/_Sunrise/Mech/MechVulnerableToEMPComponent.cs
  Content.Shared/_Sunrise/Paint/SharedMechPaintSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Sunrise/Entities/Effects/sparks.yml
  Resources/Textures/_Sunrise/Effects/sparks.rsi/meta.json
  Resources/Textures/_Sunrise/Effects/sparks.rsi/sparks.png
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Несортированный, size/S, size/M

#2439 Забалансил ЭМИ
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/S, size/XS

#2449 Изменения в биогенераторе
  Resources/Prototypes/Recipes/Lathes/Packs/biogen.yml
  Resources/Prototypes/Recipes/Lathes/biogen.yml
  Resources/Prototypes/_Sunrise/Reagents/botany.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/Packs/biogen.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный

#2473 Большие изменения Боргов
  Content.Shared/Movement/Components/BorgJetpackComponent.cs
  Content.Shared/Movement/Systems/SharedBorgJetpackSystem.cs
  Resources/Locale/en-US/_prototypes/_sunrise/entities/mobs/cyborgs/borg_chassis.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/specific/robotics/borg_tools.ftl
  Resources/Locale/en-US/_strings/_sunrise/research/technologies.ftl
  Resources/Locale/en-US/_strings/_sunrise/station-laws/laws.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/mobs/cyborgs/borg_chassis.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/robotics/borg_modules.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/robotics/borg_tools.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/research/technologies.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Consumable/Food/candy.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Robotics/borg_tools.yml
  Resources/Prototypes/_Sunrise/Research/medical.yml
  Resources/Prototypes/_Sunrise/borg_types.yml
  Resources/Prototypes/borg_types.yml
  Resources/Prototypes/silicon-laws.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Карты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, Изменения: Аудио, size/M

#2484 Fix Имен Оперативников
  Resources/Locale/ru-RU/random-metadata/random-metadata-formats.ftl
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S

#2486 Кровоостанавливающая пудра
  Resources/Locale/en-US/_strings/reagents/meta/medicine.ftl
  Resources/Locale/ru-RU/_strings/reagents/meta/medicine.ftl
  Resources/Prototypes/_Sunrise/Chemistry/Recipes/biological.yml
  Resources/Prototypes/_Sunrise/Chemistry/Recipes/botany.yml
  Resources/Prototypes/_Sunrise/Chemistry/Recipes/chemicals.yml
  Resources/Prototypes/_Sunrise/Chemistry/Recipes/elements.yml
  Resources/Prototypes/_Sunrise/Chemistry/Recipes/fun.yml
  Resources/Prototypes/_Sunrise/Chemistry/Recipes/gases.yml
  Resources/Prototypes/_Sunrise/Chemistry/Recipes/medicine.yml
  Resources/Prototypes/_Sunrise/Chemistry/Recipes/narcotics.yml
  Resources/Prototypes/_Sunrise/Chemistry/Recipes/pyrotechnic.yml
  Resources/Prototypes/_Sunrise/Chemistry/Recipes/toxins.yml
  Resources/Prototypes/_Sunrise/Chemistry/biological.yml
  Resources/Prototypes/_Sunrise/Chemistry/botany.yml
  Resources/Prototypes/_Sunrise/Chemistry/chemicals.yml
  Resources/Prototypes/_Sunrise/Chemistry/elements.yml
  Resources/Prototypes/_Sunrise/Chemistry/fun.yml
  Resources/Prototypes/_Sunrise/Chemistry/gases.yml
  Resources/Prototypes/_Sunrise/Chemistry/medicine.yml
  Resources/Prototypes/_Sunrise/Chemistry/narcotics.yml
  Resources/Prototypes/_Sunrise/Chemistry/pyrotechnic.yml
  Resources/Prototypes/_Sunrise/Chemistry/toxins.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S

#2507 Исправление/Баланс гипоспреев боргов
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Robotics/borg_tools.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Интерфейс, Изменения: Локализация, size/S

#2515 100ч лодаут Детективу - D1984
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_m1984_1.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_m1984_2.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_m1984_3.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_m1984_4.ogg
  Resources/Audio/_RMC14/Weapons/Guns/Gunshots/gun_m1984_5.ogg
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/SoundCollections/gunshots.yml
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m1984.rsi/base.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m1984.rsi/bolt-open.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m1984.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m1984.rsi/icon.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m1984.rsi/inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m1984.rsi/inhand-right.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m1984.rsi/mag-0.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m1984.rsi/meta.json
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m1984.rsi/wielded-inhand-left.png
  Resources/Textures/_RMC14/Objects/Weapons/Guns/Pistols/m1984.rsi/wielded-inhand-right.png
  Tools/_sunrise/Schemas/ignore_list.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, Изменения: Аудио, size/M, Одобрено

#2523 Кадеты
  Resources/Prototypes/Loadouts/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S, size/XS, Одобрено

#2529 Малое усиление инженерных боргов
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/borg_types.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Интерфейс, Изменения: Локализация, size/XS

#2531 Причёска Малер и футболка для мужчин
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/accessories/human-hair.ftl
  Resources/Prototypes/_Sunrise/Damage/modifier_sets.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/tajaran.yml
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Coats/bez_bab.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Coats/bez_bab.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Coats/bez_bab.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Coats/bez_bab.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Coats/bez_bab.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Customization/sunrise_human_hair.rsi/malet.png
  Resources/Textures/_Sunrise/Mobs/Customization/sunrise_human_hair.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/S

#2538 Лобби арт (Отсылка на Rainbow 6)
  Resources/Locale/ru-RU/_strings/_sunrise/lobby/lobby.ftl
  Resources/Prototypes/_Sunrise/Lobby/arts.yml
  Resources/Textures/_Sunrise/Lobby/Arts/attributions.yml
  Resources/Textures/_Sunrise/Lobby/Arts/starbow14.webp
  Resources/Textures/_Sunrise/Lobby/Arts/starbow14.webp.yml
Labels: Нет C#, Изменения: Локализация, size/S

#2547 Фиксы ношения на руках
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Server/_Sunrise/Carrying/CarryingSystem.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/_Sunrise/Carrying/BeingCarriedComponent.cs
  Content.Shared/_Sunrise/Carrying/CarriableComponent.cs
  Content.Shared/_Sunrise/Carrying/CarryingComponent.cs
  Content.Shared/_Sunrise/Carrying/SharedCarryingSystem.cs
  Resources/Locale/en-US/_strings/_sunrise/carrying/carry.ftl
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/M

#2556 актуализировал маркинги на ногах вульп и унатхов под новые бодитайпы + перенёс с луста маркинги
  Resources/Prototypes/_Sunrise/Entities/Mobs/Customization/Markings/vulpkanin.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/l_leg_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/r_leg_tiger.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/body_markings.rsi/points_crest-legs.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/body_markings.rsi/points_fade-legs.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/body_markings.rsi/points_feet.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/body_markings.rsi/points_sharp-legs.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/ear_markings.rsi/inner_moon.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/ear_markings.rsi/main_moon.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/ear_markings.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/head_markings.rsi/face_spots.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/head_markings.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/moon_markings.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/moon_markings.rsi/points_moon-arms.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/moon_markings.rsi/points_moon-chest.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/moon_markings.rsi/points_moon-hands.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/moon_markings.rsi/points_moon-head.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/moon_markings.rsi/points_moon-legs.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/moon_markings.rsi/points_moon-paws.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/moon_tail.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/moon_tail.rsi/tail_doubletone_prime.png
  Resources/Textures/_Sunrise/Mobs/Customization/Vulpkanin/moon_tail.rsi/tail_doubletone_second.png
Labels: Нет C#, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/M

#2562 Набор законов ЭС для боргов во время Эпсилона
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/StationEvents/Events/EpsilonDeathSquadLawsetRule.cs
  Resources/Locale/en-US/_strings/_sunrise/station-laws/laws.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/station-laws/laws.ftl
  Resources/Prototypes/GameRules/events.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S

#2563 Новые хвосты аркан!
  Resources/Locale/ru-RU/_strings/_sunrise/markings/demon.ftl
  Resources/Prototypes/_Sunrise/Entities/Mobs/Customization/Markings/demon.yml
  Resources/Textures/_Sunrise/Mobs/Species/Demon/markings.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Species/Demon/markings.rsi/tail_arrow.png
  Resources/Textures/_Sunrise/Mobs/Species/Demon/markings.rsi/tail_fin.png
  Resources/Textures/_Sunrise/Mobs/Species/Demon/markings.rsi/tail_fishnet.png
  Resources/Textures/_Sunrise/Mobs/Species/Demon/markings.rsi/tail_mermaid.png
  Resources/Textures/_Sunrise/Mobs/Species/Demon/markings.rsi/tail_trident.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/S, size/M

#2567 Фиксы и маркинги телосложений
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Textures/_Sunrise/Mobs/Species/Human/Fat/displacement.rsi/marking.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Fat/displacement.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Species/Human/Giga/displacement.rsi/hand.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Giga/displacement.rsi/hand_l.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Giga/displacement.rsi/hand_r.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Giga/displacement.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Species/Human/Slim/displacement.rsi/hardsuit.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Slim/displacement.rsi/outer.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Slim/displacement.rsi/panties.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Slim/displacement.rsi/socks.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Карты, Несортированный, size/S

#2579 Улучшение LoveVision
  Content.Client/_Sunrise/Overlays/LoveVisionOverlay.cs
  Resources/Textures/Shaders/gradient_circle_mask.swsl
  Resources/Textures/_Sunrise/Interface/LoveVision/hearts.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Шейдеры, size/M

#2577 Силовик на LAW-12
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/shotguns/shotguns.ftl
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/S

#2582 Твик Плюшевой игрушки Калия Фон Деза
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/kalium-equipped-NECK.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/kalium-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/kalium-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-kalium.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/S

#2583 Фикс линтера
  Resources/Locale/ru-RU/_strings/reagents/meta/toxins.ftl
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/demon.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/USSP/ert.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S

#2578 ОБНОВЛЕНИЕ ДИСПЛЕЙСМЕНТОВ
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Shared/Hands/Components/HandsComponent.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Textures/_Sunrise/Mobs/Species/Human/Distrofik/displacement.rsi/hand.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Distrofik/displacement.rsi/hand_l.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Distrofik/displacement.rsi/hand_r.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Distrofik/displacement.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Species/Human/Fat/displacement.rsi/hand.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Fat/displacement.rsi/hand_l.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Fat/displacement.rsi/hand_r.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Fat/displacement.rsi/jumpsuit-female.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Fat/displacement.rsi/jumpsuit.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Fat/displacement.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Species/Human/Fat/parts.rsi/l_arm.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Fat/parts.rsi/r_arm.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Giga/displacement.rsi/hand_l.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Giga/displacement.rsi/hand_r.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Giga/displacement.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Species/Human/Slim/displacement.rsi/hand.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Slim/displacement.rsi/hand_l.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Slim/displacement.rsi/hand_r.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Slim/displacement.rsi/marking.png
  Resources/Textures/_Sunrise/Mobs/Species/Human/Slim/displacement.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Карты, Несортированный, size/S, size/M

#2586 Фиксы и рефактор чатсана
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/StationEvents/Events/EpsilonDeathSquadLawsetRule.cs
  Content.Server/_Sunrise/Chat/AntiSpamSystem.cs
  Content.Server/_Sunrise/Chat/Sanitization/ChatSanitizationEvents.cs
  Content.Server/_Sunrise/Chat/Sanitization/ChatSanitizationSystem.AntiSpam.cs
  Content.Server/_Sunrise/Chat/Sanitization/ChatSanitizationSystem.cs
  Content.Server/_Sunrise/ChatSan/ChatSanRequestEvent.cs
  Content.Server/_Sunrise/ChatSan/ChatSanSystem.cs
  Resources/Locale/en-US/_strings/_sunrise/station-laws/laws.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/effects/abductor_glands.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/chat/spam-mute.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/chatsan/chatsan-admin-alert.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/interaction/categories.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/interaction/icons.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/interaction/interactions.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/interaction/sounds.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/station-laws/laws.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_Sunrise/Interactions/categories.yml
  Resources/Prototypes/_Sunrise/Interactions/face.yml
  Resources/Prototypes/_Sunrise/Interactions/friendly.yml
  Resources/Prototypes/_Sunrise/Interactions/horn.yml
  Resources/Prototypes/_Sunrise/Interactions/icons.yml
  Resources/Prototypes/_Sunrise/Interactions/neck.yml
  Resources/Prototypes/_Sunrise/Interactions/sounds.yml
  Resources/Prototypes/_Sunrise/Interactions/tail.yml
  Resources/migration.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/L, size/M

#2587 Поддержка локализации для панели взаимодействий
  Content.Client/_Sunrise/InteractionsPanel/CustomInteractionEditor.xaml.cs
  Content.Client/_Sunrise/InteractionsPanel/InteractionsUIWindow.xaml.cs
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/S

#2592 Fix
  Resources/Textures/_Sunrise/Mobs/Species/Human/Distrofik/displacement.rsi/hair.png
Labels: Нет C#, Изменения: Спрайты, Несортированный

#2593 UpdateMapPrison
  Resources/Maps/_Sunrise/planet_prison.yml
Labels: Нет C#, Изменения: Карты, Несортированный, size/XL

#2611 Поменял цвет в админ логах
  Content.Client/_Sunrise/Administration/UI/CustomControls/SunriseAdminLogLabel.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/XS

#2630 Лимиты в пуле режимов. Если доступный вариант всего один - голосования не будет.
  Content.Server/GameTicking/Commands/SetGamePresetCommand.cs
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Content.Server/_Sunrise/Presets/GamePresetPoolPrototype.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Prototypes/_Sunrise/game_preset_pools.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/M

#2629 отключение ттс рации у гостов
  Content.Client/Options/UI/Tabs/ExtraTab.xaml
  Content.Client/Options/UI/Tabs/ExtraTab.xaml.cs
  Content.Client/_Sunrise/TTS/TTSSystem.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Locale/ru-RU/_strings/escape-menu/ui/options-menu.ftl
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/S

#2623 Дуафтер залезания в сумку для фелинидов
  Content.Server/_Sunrise/Felinid/FelinidSystem.cs
  Content.Shared/_Sunrise/Carrying/SharedCarryingSystem.cs
  Content.Shared/_Sunrise/Felinid/FelinidPickupDoAfterEvent.cs
  Content.Shared/_Sunrise/Felinid/SharedFelinidSystem.cs
  Resources/Locale/ru-RU/_strings/_sunrise/felinid/felinid.ftl
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/felinid.yml
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/M, size/XS

#2618 Укрепленная Секретная стена
  Resources/Locale/en-US/_prototypes/_sunrise/entities/structures/doors/secretdoor/secret_door.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/structures/doors/secretdoor/secret_door.ftl
  Resources/Prototypes/_Sunrise/Entities/Structures/Doors/SecretDoor/secret_door.yml
  Resources/Prototypes/_Sunrise/Recipes/Construction/Graphs/structures/secretreinforceddoor.yml
  Resources/Textures/_Sunrise/Structures/Doors/secret_door_reinforced.rsi/assembly.png
  Resources/Textures/_Sunrise/Structures/Doors/secret_door_reinforced.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/secret_door_reinforced.rsi/closing.png
  Resources/Textures/_Sunrise/Structures/Doors/secret_door_reinforced.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Doors/secret_door_reinforced.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/secret_door_reinforced.rsi/opening.png
Labels: Нет C#, Изменения: Спрайты, Несортированный, Изменения: Локализация

#2616 Изменение текстур вентиляций и скруббера
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Textures/_Sunrise/Structures/Piping/Atmospherics/scrubber.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Piping/Atmospherics/scrubber.rsi/scrub_off.png
  Resources/Textures/_Sunrise/Structures/Piping/Atmospherics/scrubber.rsi/scrub_on.png
  Resources/Textures/_Sunrise/Structures/Piping/Atmospherics/scrubber.rsi/scrub_purge.png
  Resources/Textures/_Sunrise/Structures/Piping/Atmospherics/scrubber.rsi/scrub_welded.png
  Resources/Textures/_Sunrise/Structures/Piping/Atmospherics/scrubber.rsi/scrub_wide.png
  Resources/Textures/_Sunrise/Structures/Piping/Atmospherics/vent.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Piping/Atmospherics/vent.rsi/vent_in.png
  Resources/Textures/_Sunrise/Structures/Piping/Atmospherics/vent.rsi/vent_lockout.png
  Resources/Textures/_Sunrise/Structures/Piping/Atmospherics/vent.rsi/vent_off.png
  Resources/Textures/_Sunrise/Structures/Piping/Atmospherics/vent.rsi/vent_out.png
  Resources/Textures/_Sunrise/Structures/Piping/Atmospherics/vent.rsi/vent_passive.png
  Resources/Textures/_Sunrise/Structures/Piping/Atmospherics/vent.rsi/vent_welded.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, size/S, size/M

#2600 ERT Uplink Tweaks
  Resources/Audio/_Sunrise/Weapons/powerpunch.ogg
  Resources/Audio/_Sunrise/Weapons/powerpunch2.ogg
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/specific/NTUplink.ftl
  Resources/Locale/en-US/_strings/_sunrise/store/ntuplink-catalog.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/NTUplink.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/ntuplink-catalog.ftl
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/_Sunrise/Catalog/ert_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ghost_roles.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/NTUplink.yml
  Resources/Prototypes/_Sunrise/SoundCollections/melee.yml
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/meta.json
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/mg_100.png
  Resources/migration.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, Изменения: Аудио, size/M

#2599 Печать штаба спецопераций
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/en-US/_strings/_sunrise/paper/stamp-component.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/paper/stamp-component.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Textures/_Sunrise/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Misc/stamps.rsi/stamp-specops.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/S, ✅ Одобрено

#2653 Фикс скафандра хамелеона
  Content.Server/Clothing/Systems/ChameleonClothingSystem.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/specific.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Несортированный, size/S, size/XS

#2668 Ребаланс руки-клинка генокрада
  Resources/Prototypes/Entities/Objects/Weapons/Melee/changeling_armblade.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#2683 Мелкий фикс одного из хвостов аркан
  Resources/Textures/_Sunrise/Mobs/Species/Demon/markings.rsi/tail_fin.png
Labels: Нет C#, Изменения: Спрайты, size/XS

#2680 Bugfixes
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Resources/Locale/ru-RU/_strings/_sunrise/animals/dogs/dogs.ftl
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/paradoxClone.yml
  Resources/Prototypes/_Sunrise/AssaultOps/roundstart.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/S, size/XS

#2674 Обновил доги + косметика
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/head/helmets.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/masks/masks.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/misc/umbrella.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/masks/masks.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/misc/umbrella.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/umbrella.yml
  Resources/Textures/_Sunrise/Clothing/Head/Helmets/dogi_helmet.rsi/equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Helmets/dogi_helmet.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/Helmets/dogi_helmet.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Mask/dogi_mask.rsi/equipped-MASK.png
  Resources/Textures/_Sunrise/Clothing/Mask/dogi_mask.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Mask/dogi_mask.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Misc/umbrella.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Misc/umbrella.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Misc/umbrella.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Misc/umbrella.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/S, size/M

#2672 Добыча осколков суперматтерии только энергетическим оружием
  Content.Server/Supermatter/EntitySystems/SupermatterSystem.cs
  Content.Shared/Weapons/Melee/EnergySword/SMCuttableComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/S, size/XS

#2664 fix pda.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/devices/pda.ftl
Labels: Нет C#, Несортированный, Изменения: Локализация, size/XS

#2659 Качество жизни для научного отдела
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml.cs
  Resources/Locale/en-US/_prototypes/_sunrise/research/artifact/effects.ftl
  Resources/Locale/en-US/_prototypes/xenoarch/effects.ftl
  Resources/Locale/en-US/_strings/_sunrise/research/artifacts.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/research/artifact/effects.ftl
  Resources/Locale/ru-RU/_prototypes/xenoarch/effects.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/research/artifacts.ftl
  Resources/Prototypes/XenoArch/effects.yml
  Resources/Prototypes/XenoArch/triggers.yml
  Resources/Prototypes/_Sunrise/Research/Artifact/effects.yml
  Resources/Prototypes/_Sunrise/Research/Artifact/tables.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/M

#2658 Добавлено требование по времени за посетителей
  Resources/Prototypes/Roles/Jobs/Civilian/visitor.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный

#2649 Кастомизация ксеноморфов
  Resources/Prototypes/_Sunrise/Entities/Mobs/Customization/Markings/humanoid_xeno.yml
  Resources/Prototypes/_Sunrise/Species/humanoid_xeno.yml
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/body.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/body.rsi/predalien_chest.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/body.rsi/pretor_chest.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/body.rsi/queen_chest.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/body.rsi/runner_chest.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/body.rsi/spitter_chest.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/head.rsi/drone_teeth.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/head.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/head.rsi/predalien_head.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/head.rsi/predalien_mandibles.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/head.rsi/predalien_teeth.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/head.rsi/pretor_head.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/head.rsi/pretor_teeth.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/head.rsi/queen_head.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/head.rsi/queen_teeth.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/head.rsi/runner_head.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/head.rsi/runner_teeth.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/head.rsi/spitter_head.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/head.rsi/spitter_teeth.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/tails.rsi/long_primary.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/tails.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/tails.rsi/predalien.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/tails.rsi/pretor.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/tails.rsi/queen1.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/tails.rsi/queen2.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/tails.rsi/runner.png
  Resources/Textures/_Sunrise/Mobs/Customization/HumanoidXeno/tails.rsi/spitter.png
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/parts.rsi/full.png
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/parts.rsi/head_f.png
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/parts.rsi/head_m.png
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/parts.rsi/l_arm.png
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/parts.rsi/l_foot.png
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/parts.rsi/l_hand.png
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/parts.rsi/l_leg.png
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/parts.rsi/megafull.png
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/parts.rsi/r_arm.png
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/parts.rsi/r_foot.png
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/parts.rsi/r_hand.png
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/parts.rsi/r_leg.png
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/parts.rsi/torso_f.png
  Resources/Textures/_Sunrise/Mobs/Species/HumanoidXeno/parts.rsi/torso_m.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/M

#2648 Обновление DEV-карты
  Resources/ConfigPresets/Build/development.toml
  Resources/Maps/Test/dev_map.yml
Labels: Нет C#, Изменения: Карты, Несортированный

#2624 Новый трейт: мурлыкание
  Content.Server/_Sunrise/ReplacementVocal/ReplacementVocalComponent.cs
  Content.Server/_Sunrise/ReplacementVocal/ReplacementVocalSystem.cs
  Resources/Locale/ru-RU/_strings/_sunrise/traits/traits.ftl
  Resources/Prototypes/_Sunrise/Traits/categories.yml
  Resources/Prototypes/_Sunrise/Traits/quirks.yml
Labels: Статус: Требует Рассмотрения, Изменения: Локализация, size/M

#2596 Фиксы апстрима
  Content.Client/_Sunrise/Medical/Surgery/SurgeryBui.cs
  Content.Server/_Sunrise/Medical/Surgery/SurgerySystem.Steps.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/_Sunrise/Carrying/SharedCarryingSystem.cs
  Content.Shared/_Sunrise/Medical/Surgery/SharedSurgerySystem.BaseSteps.cs
  Content.Shared/_Sunrise/Medical/Surgery/StepInvalidReason.cs
  Resources/Locale/en-US/_strings/_sunrise/carrying/carry.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/surgery/window.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Sunrise/Body/Prototypes/vulpkanin.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/night_vision_device.yml
  Resources/Prototypes/_Sunrise/Traits/quirks.yml
  Resources/Textures/_Sunrise/Objects/Devices/handheld_wires_console.rsi/scanner.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/S

#2598 Flesh cult
  Content.Server/_Sunrise/FleshCult/FleshCultSystem.Cultist.cs
  Content.Shared/_Sunrise/FleshCult/SharedFleshCultist.cs
  Resources/Locale/ru-RU/_strings/_sunrise/flesh-cult/fleshcultist.ftl
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/night_vision_device.yml
  Resources/Prototypes/_Sunrise/Entities/Effects/overlays.yml
  Resources/Prototypes/_Sunrise/FleshCult/Store/catalog.yml
  Resources/Prototypes/_Sunrise/FleshCult/hands_mods.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/S

#2645 Хвост ящерицы люду простому, да дворфам
  Resources/Locale/en-US/_strings/markings/human_tails.ftl
  Resources/Locale/ru-RU/_strings/markings/human_tails.ftl
  Resources/Prototypes/_Sunrise/Entities/Customization/Markings/human_tails.yml
  Resources/Textures/_Sunrise/Mobs/Customization/human_tails.rsi/lizard_tail_primary.png
  Resources/Textures/_Sunrise/Mobs/Customization/human_tails.rsi/lizard_tail_secondary.png
  Resources/Textures/_Sunrise/Mobs/Customization/human_tails.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, size/S, size/M

#2685 блядство с градиентами
  Content.IntegrationTests/Tests/Preferences/ServerDbSqliteTests.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, Изменения: Локализация, Изменения: Шейдеры, size/S
