Repository space-sunrise/sunrise-station, pull requests merged in 2025-03, with the labels that each got.

#1523 [FIX] Убираем ненужный пацифизм вору
  Resources/Prototypes/GameRules/subgamemodes.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/XS

#1544 Больше радиус сна НПС
  Content.Server/_Sunrise/NPCSleep/NPCSleepSystem.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1541 Обновление босса
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/_Sunrise/Boss/Systems/HellSpawnArenaSystem.cs
  Content.Server/_Sunrise/Boss/Systems/HellSpawnSpiralSystem.cs
  Content.Server/_Sunrise/Boss/Systems/HellSpawnTentacleSystem.cs
  Content.Shared/_Sunrise/Boss/Systems/SpiralMovementSystem.cs
  Content.Shared/_Sunrise/UnbuildableGrid/UnbuildableGridComponent.cs
  Resources/Maps/_Sunrise/arena.yml
  Resources/Prototypes/_Sunrise/Boss/actions.yml
  Resources/Prototypes/_Sunrise/Boss/ents.yml
Labels: Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, size/M

#1021 Космопорт: Дополнение и упрощение жизни администрации
  Resources/Maps/_Sunrise/Nonstations/transit_hub.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, Размер/Малый, size/L

#1360 Бронированный деловой костюм
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/S

#1430 Нимфы дионы могут залезть в вентиляцию
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1431 Поменял цену температурки ради баланса
  Resources/Prototypes/_Sunrise/Recipes/Lathes/security.yml
  Resources/Prototypes/_Sunrise/Research/arsenal.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1436 Черные списки для Ящика
  Content.Server/StoreDiscount/Systems/StoreDiscountSystem.cs
  Resources/Prototypes/Catalog/discount_categories.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
Labels: Статус: Требует Рассмотрения, Ребаланс, size/M

#1440 Добавление берета парамедика в лодаут парамедику и главному врачу.
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1445 Возвращение космического медипена и изменение размера аварийного набора
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sustenance.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Boxes/emergency.yml
  Resources/migration.yml
Labels: Нет C#, size/S

#1458 Блюспейс Коробку больше нельзя носить в кармашке
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/box.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1459 Увеличен урон от космоса в 2 раза
  Content.Shared/Atmos/Atmospherics.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1460 Unknown Shuttle tweaks
  Resources/Maps/Shuttles/ShuttleEvent/instigator.yml
  Resources/Maps/_Sunrise/Ruins/abandoned_syndi_lab.yml
  Resources/Maps/_Sunrise/Ruins/collector_lair.yml
  Resources/Maps/_Sunrise/Shuttles/pirate_medium.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, size/XL

#1461 Новые Обломки для Утилизаторов
  Resources/Maps/_Sunrise/Ruins/Ignota_Laboratorium.yml
  Resources/Maps/_Sunrise/Ruins/Ruins_of_Free_Cargonia.yml
  Resources/Maps/_Sunrise/Ruins/Suspicious_Asteroid.yml
  Resources/Maps/_Sunrise/Ruins/anomal_laboratiry.yml
  Resources/Maps/_Sunrise/Ruins/oblomok_33.yml
  Resources/Maps/_Sunrise/Ruins/oblomok_44.yml
  Resources/Maps/_Sunrise/Ruins/oblomok_library.yml
  Resources/Maps/_Sunrise/Ruins/oblomok_pectine_syndicate_shuttle.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Нет C#, Изменения: Карты, Статус: Несортированный, size/XL

#1464 Добавление раздатчика для перцового баллончика
  Resources/Prototypes/Entities/Structures/Wallmounts/tear_gas_walldispenser.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/pepper_spray.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1465 Обновления в сервисном отделе
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/hydrobe.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Recipes/Lathes/biogen.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/Packs/biogen.yml
Labels: Нет C#, Статус: Несортированный, size/S

#1468 Небольшие изменения Emag ассортимента
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1474 Тепловое зрение вампиру.
  Content.Server/Vampire/VampireSystem.Abilities.cs
  Content.Server/Vampire/VampireSystem.cs
  Content.Shared/Vampire/VampireEvents.cs
  Resources/Locale/en-US/_prototypes/actions/vampire.ftl
  Resources/Locale/en-US/_strings/Vampires/vampires.ftl
  Resources/Locale/ru-RU/_prototypes/actions/vampire.ftl
  Resources/Locale/ru-RU/_strings/Vampires/vampires.ftl
  Resources/Prototypes/Actions/vampire.yml
  Resources/Prototypes/Vampire/vampire-powers.yml
  Resources/Textures/Interface/Actions/actions_vampire.rsi/batform.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/bestia.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/bloodsteal.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/cloakofdarkness.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/deathsembrace.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/fangs_extended.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/fangs_retracted.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/gargantua.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/glare.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/hemomancer.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/hypnotise.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/meta.json
  Resources/Textures/Interface/Actions/actions_vampire.rsi/mouseform.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/screech.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/stellarweakness.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/summonheirloom.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/supernaturalstrength.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/thermalvision.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/umbrae.png
  Resources/Textures/Interface/Actions/actions_vampire.rsi/unholystrength.png
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/S

#1477 Добавил некоторым боргам ноуслип
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/silicon.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1478 Увеличение минимальных игроков для Delta Station
  Resources/Prototypes/_Sunrise/Maps/delta.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1480 Замена Емага у пИИ(синдикатского) на взламыватель доступа
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1481 Плазменный Резак
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/industrial.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Basic/plasma_cutter.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/devices.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Basic/plasma_cutter_industrial.rsi/animation-icon.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Basic/plasma_cutter_industrial.rsi/equipped-BELT.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Basic/plasma_cutter_industrial.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Basic/plasma_cutter_industrial.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Basic/plasma_cutter_industrial.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Basic/plasma_cutter_industrial.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Basic/plasma_cutter_industrial.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Basic/plasma_cutter_industrial.rsi/wielded-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Basic/plasma_cutter_industrial.rsi/wielded-inhand-right.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, size/M

#1484 Новое меню мутаций вампира
  Content.Client/Vampire/VampireMutationBoundUserInterface.cs
  Content.Client/Vampire/VampireMutationMenu.xaml
  Content.Client/Vampire/VampireMutationMenu.xaml.cs
  Resources/Locale/en-US/_strings/Vampires/vampires.ftl
  Resources/Locale/ru-RU/_strings/Vampires/vampires.ftl
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Изменения: Локализация, size/M

#1488 Никаких термалов БЩ
  Resources/Prototypes/_Sunrise/Catalog/ert_uplink_catalog.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1498 Добавил синди-интелликард в аплинк ЯО(попытка 2)
  Resources/Locale/en-US/_strings/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_strings/store/uplink-catalog.ftl
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/silicon.yml
  Resources/Textures/_Sunrise/Objects/Devices/ai_card.rsi/base.png
  Resources/Textures/_Sunrise/Objects/Devices/ai_card.rsi/empty.png
  Resources/Textures/_Sunrise/Objects/Devices/ai_card.rsi/full.png
  Resources/Textures/_Sunrise/Objects/Devices/ai_card.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Devices/ai_card.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Devices/ai_card.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#1499 Химия, небольшая редактура.
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_Sunrise/Reagents/narcotics.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/S

#1502 Изменение скорости СБ скафа и защита от сварки синди-визорас
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/hud.yml
Labels: Нет C#, size/S

#1506 Дерево сакуры
  Resources/Prototypes/_Sunrise/Entities/Objects/Decoration/flora.yml
  Resources/Textures/_Sunrise/Objects/Decoration/flora/flora_treessakura.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Decoration/flora/flora_treessakura.rsi/sakura.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/S

#1508 Фикс способности вампиров
  Resources/Locale/en-US/_prototypes/actions/vampire.ftl
  Resources/Locale/en-US/_strings/Vampires/vampires.ftl
  Resources/Locale/ru-RU/_prototypes/actions/vampire.ftl
  Resources/Locale/ru-RU/_strings/Vampires/vampires.ftl
  Resources/Prototypes/Polymorphs/polymorph.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация

#1509 Добавлена возможность носить Крушитель и Глефу на спине
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, size/S

#1514 Апдейт Разумной болезни
  Content.Client/_Sunrise/Disease/SickSystem.cs
  Content.Server/_Sunrise/Disease/DiseaseImmuneClothingSystem.cs
  Content.Server/_Sunrise/Disease/DiseaseRoleSystem.cs
  Content.Server/_Sunrise/Disease/DiseaseRuleSystem.cs
  Content.Server/_Sunrise/Disease/SickSystem.cs
  Content.Shared/StatusIcon/StatusIconPrototype.cs
  Resources/Locale/en-US/_strings/_sunrise/disease/disease.ftl
  Resources/Locale/en-US/_strings/armor/armor-examine.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/disease/disease.ftl
  Resources/Locale/ru-RU/_strings/armor/armor-examine.ftl
  Resources/Prototypes/_Sunrise/Roles/Antags/disease.yml
  Resources/Textures/_Sunrise/Actions/disease.rsi/action.png
  Resources/Textures/_Sunrise/Actions/disease.rsi/baseChance.png
  Resources/Textures/_Sunrise/Actions/disease.rsi/bleed.png
  Resources/Textures/_Sunrise/Actions/disease.rsi/blindness.png
  Resources/Textures/_Sunrise/Actions/disease.rsi/cough.png
  Resources/Textures/_Sunrise/Actions/disease.rsi/coughChance.png
  Resources/Textures/_Sunrise/Actions/disease.rsi/lethal.png
  Resources/Textures/_Sunrise/Actions/disease.rsi/meta.json
  Resources/Textures/_Sunrise/Actions/disease.rsi/muted.png
  Resources/Textures/_Sunrise/Actions/disease.rsi/narcolepsy.png
  Resources/Textures/_Sunrise/Actions/disease.rsi/shield.png
  Resources/Textures/_Sunrise/Actions/disease.rsi/shop.png
  Resources/Textures/_Sunrise/Actions/disease.rsi/slowness.png
  Resources/Textures/_Sunrise/Actions/disease.rsi/sneeze.png
  Resources/Textures/_Sunrise/Actions/disease.rsi/sob.png
  Resources/Textures/_Sunrise/Actions/disease.rsi/vomit.png
  Resources/Textures/_Sunrise/Actions/disease.rsi/zombie.png
  Resources/Textures/_Sunrise/Mobs/Aliens/Disease/disease.rsi/icon.png
  Resources/Textures/_Sunrise/Mobs/Aliens/Disease/interface.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Aliens/Disease/interface.rsi/normal.png
  Resources/Textures/_Sunrise/Mobs/Aliens/Disease/interface.rsi/sick.png
  Resources/Textures/_Sunrise/Mobs/Aliens/disease.rsi/idle.png
  Resources/Textures/_Sunrise/Mobs/Aliens/disease.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Aliens/disease.rsi/sick.png
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#1517 Малый Возврат/Повышение урона
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: Нет C#, Статус: Несортированный, size/S

#1518 Добавление изучения Магбутсов СБ в РНД
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/misc.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/S

#1519 Нерф Узи
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1524 Ультрафиолетовые лампы
  Resources/Prototypes/Recipes/Lathes/Packs/shared.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Power/lights.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/misc.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S, size/XS

#1528 Удаление антагонистов из пресета ЯО
  Resources/Prototypes/game_presets.yml
Labels: Нет C#, S: Merge Conflict, size/XS

#1530 Ивентовая карта для Рыбьей Станции
  Resources/Maps/_Sunrise/event/save_job.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, size/XL

#1531 Миграция для Апстрима и должность Почтальон
  Resources/Locale/en-US/_strings/_sunrise/job/job-desc.ftl
  Resources/Locale/en-US/_strings/_sunrise/job/job-names.ftl
  Resources/Locale/en-US/_strings/_sunrise/preferences/loadout-groups.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/job/job-desc.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/job/job-names.ftl
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Civillian/mailcarrier.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Sunrise/Maps/bagel.yml
  Resources/Prototypes/_Sunrise/Maps/box.yml
  Resources/Prototypes/_Sunrise/Maps/delta.yml
  Resources/Prototypes/_Sunrise/Maps/fland.yml
  Resources/Prototypes/_Sunrise/Maps/marathon.yml
  Resources/Prototypes/_Sunrise/Maps/meta.yml
  Resources/Prototypes/_Sunrise/Maps/plasma.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Cargo/mail_carrier.yml
  Resources/Prototypes/_Sunrise/Roles/play_time_trackers.yml
  Resources/Prototypes/_Sunrise/StatusEffects/job.yml
  Resources/Textures/_Sunrise/Interface/Misc/job_icons.rsi/MailCarrier.png
  Resources/Textures/_Sunrise/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idmail.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/meta.json
  Resources/migration.yml
Labels: Нет C#, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#1534 Добавление нового реагента и изменение рецепта Дарвиниума.
  Resources/Locale/ru-RU/_strings/_sunrise/reagents/meta/toxins.ftl
  Resources/Prototypes/_Sunrise/Reagents/toxins.yml
  Resources/Prototypes/_Sunrise/Recipes/Reactions/medicine.yml
Labels: Нет C#, Статус: Несортированный, Изменения: Локализация, size/S

#1538 Нитриум
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Server/Atmos/Reactions/NitriumSynthesisReaction.cs
  Content.Server/StationEvents/Components/GasLeakRuleComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Locale/en-US/_prototypes/_sunrise/entities/structures/storage/canisters/gas_canisters.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/structures/storage/canisters/gas_canisters.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/reagents/meta/gases.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/atmos/gases.ftl
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/_Sunrise/Atmospherics/gases.yml
  Resources/Prototypes/_Sunrise/Atmospherics/reactions.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/_Sunrise/Reagents/gases.yml
  Resources/Textures/_Sunrise/Effects/atmospherics.rsi/meta.json
  Resources/Textures/_Sunrise/Effects/atmospherics.rsi/nitriumGas.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/nitrium-1.png
  Resources/Textures/_Sunrise/Structures/Storage/canister.rsi/nitrium.png
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Изменения: Локализация

#1546 [FIX] Исправление анимации скинов гостов
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ghost_themes.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный

#1553 Музыканту в лодаут добавлен супер-синтезатор за 100 часов
  Resources/Prototypes/Loadouts/Jobs/Civilian/musician.yml
  Resources/Prototypes/Loadouts/Miscellaneous/instruments.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1560 Добавлены вспышка и телескопическая дубинка в стартовый набор магистрата
  Resources/Prototypes/_Sunrise/Roles/Jobs/Law/Magistrat.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1561 Scarh
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Ammunition/Magazines/scarh.rsi/base.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Ammunition/Magazines/scarh.rsi/mag-1.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Ammunition/Magazines/scarh.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Rifles/scarh/big.rsi/base.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Rifles/scarh/big.rsi/bolt-open.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Rifles/scarh/big.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Rifles/scarh/big.rsi/mag-0.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Rifles/scarh/big.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Rifles/scarh/tiny.rsi/equipped-BACKPACK.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Rifles/scarh/tiny.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Rifles/scarh/tiny.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Rifles/scarh/tiny.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Rifles/scarh/tiny.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Rifles/scarh/tiny.rsi/wielded-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Rifles/scarh/tiny.rsi/wielded-inhand-right.png
Labels: Нет C#, Изменения: Спрайты, size/M

#1577 Плюшевая Ууна Ми'Ира
  Resources/Audio/Items/Toys/squee1.ogg
  Resources/Audio/Items/Toys/squee2.ogg
  Resources/Audio/Items/Toys/squee3.ogg
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Sunrise/SoundCollections/squee.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/mintypresent.png
Labels: Нет C#, Изменения: Спрайты, Изменения: Локализация, Изменения: Аудио, size/S

#1578 станрезисты и тазер
  Content.Server/Stunnable/Components/StunOnCollideComponent.cs
  Content.Shared/Armor/ArmorComponent.cs
  Content.Shared/Armor/SharedArmorSystem.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Resources/Locale/en-US/_strings/_sunrise/armor/armor-examine.ftl
  Resources/Locale/en-US/_strings/armor/armor-examine.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/armor/armor-examine.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Sunrise/Loadouts/Miscellaneous/security.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/M

#1471 Фикс автоподнятия у NPC
  Content.Server/_Sunrise/NPC/HTN/StandUpOperator.cs
  Content.Server/_Sunrise/NPC/HTN/StandingStatePrecondition.cs
  Resources/Prototypes/NPCs/idle.yml
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/M

#1580 Провод доступа в консоли
  Resources/Prototypes/Wires/layouts.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1587 transit_hub.yml remap
  Resources/Maps/_Sunrise/Nonstations/transit_hub.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный

#1590 Игрушки в виде котиков
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/fun/toy_cats.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/toy_cats.ftl
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toy_cats.yml
  Resources/Textures/_Sunrise/Objects/Fun/toy_cats.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toy_cats.rsi/plushie_blackcat.png
  Resources/Textures/_Sunrise/Objects/Fun/toy_cats.rsi/plushie_greycat.png
  Resources/Textures/_Sunrise/Objects/Fun/toy_cats.rsi/plushie_orangecat.png
  Resources/Textures/_Sunrise/Objects/Fun/toy_cats.rsi/plushie_ricehatcat.png
  Resources/Textures/_Sunrise/Objects/Fun/toy_cats.rsi/plushie_siamesecat.png
  Resources/Textures/_Sunrise/Objects/Fun/toy_cats.rsi/plushie_tabbycat.png
  Resources/Textures/_Sunrise/Objects/Fun/toy_cats.rsi/plushie_tuxedocat.png
  Resources/Textures/_Sunrise/Objects/Fun/toy_cats.rsi/plushie_whitecat.png
Labels: Нет C#, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#1592 Убрать мешки с землей из каталога карго
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_hydroponics.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1595 Добавление станрезистов для культа крови и плоти
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Sunrise/FleshCult/body_mods.yml
Labels: Нет C#, Статус: Несортированный

#1602 [REMOVE] Удаление TTS Валтос в связи с его недоступностью
  Resources/Locale/en-US/_strings/_sunrise/tts/tts-voices.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/tts/tts-voices.ftl
  Resources/Prototypes/_Sunrise/tts-voices.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация
