Repository space-sunrise/sunrise-station, pull requests merged in 2025-01, with the labels that each got.

#991 Revert "Временные 100% на музыку NukeMass (ЯОждество )"
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Labels: Нет C#, Статус: Требует Рассмотрения

#1000 Fix Storage Implant
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Нет C#, Статус: Требует Рассмотрения

#999 FireLock improve
  Content.Server/Doors/Systems/FirelockSystem.cs
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#998 обновка багеля, аванпост утилям, расширение техов
  Resources/Maps/_Sunrise/Station/bagel.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, size/XL

#997 Апстрим локализации
  Resources/Locale/ru-RU/_strings/_sunrise/holopad/holopad.ftl
  Resources/Locale/ru-RU/_strings/administration/bwoink.ftl
  Resources/Locale/ru-RU/_strings/borg/borg.ftl
Labels: Нет C#, Статус: Несортированный, Изменения: Локализация, size/S

#995 Снижен шанс сальто при атаке двойным энергомечом до 50%
  Content.Server/_Sunrise/Flip/FlipSystem.cs
  Content.Shared/_Sunrise/Flip/FlipOnAttackComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1005 Рандомизация параллакса в меню подключения
  Content.Client/Parallax/ParallaxControl.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1003 Revert "FireLock improve"
  Content.Server/Doors/Systems/FirelockSystem.cs
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1001 Плюшевые игрушки.
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/anatoly_lisitsyn.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/evgeniya_krein.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#1014 фикс багеля
  Resources/Maps/_Sunrise/Station/bagel.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный

#1015 Назови меня своим BOX
  Resources/Maps/_Sunrise/Station/box.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, size/XL

#1027 Повышение количества кабелей в электротехническом тулбоксе
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
Labels: Нет C#, Статус: Несортированный, size/S

#1023 Очки ОСЩа показывают МЩ + Сварочные Очки не защищают от вспышек
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/glasses.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1022 окончательно фиксанул багель(точно на этот раз)
  Resources/Maps/_Sunrise/Station/bagel.yml
  Resources/Prototypes/_Sunrise/Maps/bagel.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, size/XL

#1019 Тех Фаб СБ: Упрощение
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/power/powercells.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/en-US/_strings/research/technologies.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/power/powercells.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/_strings/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/powercells.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/security.yml
  Resources/Prototypes/_Sunrise/Research/arsenal.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/USSP/ussp_roles.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/M

#993 Красивые циферки урона
  Content.Client/Options/UI/Tabs/ExtraTab.xaml
  Content.Client/Options/UI/Tabs/ExtraTab.xaml.cs
  Content.Client/Popups/PopupOverlay.cs
  Content.Client/Popups/PopupUIController.cs
  Content.Client/_Sunrise/DamageOverlay/DamageOverlaySystem.cs
  Content.Server/_Sunrise/DamageOverlay/DamageOverlayComponent.cs
  Content.Server/_Sunrise/DamageOverlay/DamageOverlaySystem.cs
  Content.Shared/Popups/SharedPopupSystem.cs
  Content.Shared/_Sunrise/DamageOverlay/DamageOverlayOptionEvent.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Locale/ru-RU/_strings/_sunrise/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Entities/Structures/base_structure.yml
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Статус: Несортированный, Изменения: Локализация, size/M

#1026 Фикс целей генокрадов
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/Objectives/changeling.yml
  Resources/Prototypes/_Sunrise/Objectives/objectiveGroups.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/S

#1038 revert eng-command
  Content.Server/_Sunrise/ChatFilter/ChatSystem.cs
  Resources/Changelog/ChangelogSunrise.yml
  Resources/Locale/ru-RU/_strings/job/job-names.ftl
Labels: Статус: Требует Рассмотрения, Изменения: Локализация, size/S

#1037 BOX
  Resources/Maps/_Sunrise/Station/box.yml
  Resources/Prototypes/_Sunrise/Parallaxes/box.yml
  Resources/Textures/_Sunrise/Parallaxes/BoxParallax.png
  Resources/Textures/_Sunrise/Parallaxes/BoxParallaxBlackHole.png
  Resources/Textures/_Sunrise/Parallaxes/attributions.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, size/XL

#1035 Шприцемёты!
  Resources/Locale/en-US/_prototypes/_sunrise/catalog/fills/boxes/nanotrasen.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/weapons/guns/syringe_guns.ftl
  Resources/Locale/en-US/_strings/_sunrise/research/technologies.ftl
  Resources/Locale/en-US/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/boxes/nanotrasen.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/syringe_guns.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/research/technologies.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Boxes/nanotrasen.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Medical/chemistry.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Launchers/syringe_guns.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Sunrise/Research/medical.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Launchers/syringe_pistol.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Launchers/syringe_pistol.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Launchers/syringe_pistol.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Launchers/syringe_pistol.rsi/syringe_gun.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Launchers/syringe_rapidgun.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Launchers/syringe_rapidgun.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Launchers/syringe_rapidgun.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Launchers/syringe_rapidgun.rsi/syringe_gun.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/M

#1018 New sponsor ghost sprites
  Resources/Locale/ru-RU/_strings/_sunrise/ghost/ghost-themes.ftl
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ghost_themes.yml
  Resources/Textures/_Sunrise/Mobs/Ghosts/pink_girl.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Ghosts/pink_girl.rsi/pink_animated.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/pink_girl.rsi/pink_icon.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/purple_girl.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Ghosts/purple_girl.rsi/purple_animated.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/purple_girl.rsi/purple_icon.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/red_girl.rsi/meta.json
  Resources/Textures/_Sunrise/Mobs/Ghosts/red_girl.rsi/red_animated.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/red_girl.rsi/red_icon.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#1004 Автоматические доступы, что выдаются в зависимости от кода станции
  Content.Server/Access/Systems/AccessSystem.cs
  Content.Shared/Access/Components/AccessReaderComponent.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Resources/Locale/ru-RU/_strings/alert-levels/alert-levels.ftl
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/_Sunrise/Access/AccessGroup/access_group.yml
Labels: Статус: Несортированный, Изменения: Локализация, size/M

#1041 Понижение шанса сальто при атаке игрушечной даблы
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/prunks.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный

#1040 Nerf Phazon
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/mech_parts.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный

#1045 Очередной фикс суперматерии
  Content.Server/Supermatter/EntitySystems/SupermatterSystem.cs
  Resources/Locale/ru-RU/_strings/supermatter/supermatter.ftl
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/S

#1048 Малый балансные правки в аплинк ОБР
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_Sunrise/Catalog/ert_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Textures/_Sunrise/Objects/Specific/Mech/mecha_mg.rsi/mecha_mg.png
  Resources/Textures/_Sunrise/Objects/Specific/Mech/mecha_mg.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, size/M

#1051 Бебеплинки отображаются в SpawnMenu
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/donation_plinks.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1053 Апстрим локализации 06.01.2025
  Resources/Locale/ru-RU/_strings/_sunrise/telephone/telephone.ftl
  Resources/Locale/ru-RU/_strings/accessories/human-hair.ftl
  Resources/Locale/ru-RU/_strings/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/_strings/lobby/lobby-gui.ftl
  Resources/Locale/ru-RU/_strings/pai/pai-system.ftl
  Resources/Locale/ru-RU/_strings/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/_strings/robotics/mmi.ftl
  Resources/Locale/ru-RU/_strings/sandbox/sandbox-manager.ftl
Labels: Нет C#, Статус: Несортированный, Изменения: Локализация

#1049 Магнитные Ботинки СБ
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/shoes/magboots.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/shoes/magboots.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Shoes/magboots.yml
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-sec.rsi/equipped-FEET-vox.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-sec.rsi/equipped-FEET.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-sec.rsi/icon-on.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-sec.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-sec.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-sec.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-sec.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-sec.rsi/on-equipped-FEET-vox.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-sec.rsi/on-equipped-FEET.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-sec.rsi/on-inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Shoes/magboots-sec.rsi/on-inhand-right.png
Labels: Нет C#, Изменения: Спрайты, Изменения: Локализация, size/S

#1052 Фикс автодоступов
  Content.Server/Access/Systems/AccessSystem.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1059 Апстрим локализации 08.01.2025
  Resources/Locale/ru-RU/_prototypes/entities/objects/consumable/drinks/drinks.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/holopad/holopad.ftl
  Resources/Locale/ru-RU/_strings/advertisements/other/firebot.ftl
  Resources/Locale/ru-RU/_strings/advertisements/vending/gibb.ftl
  Resources/Locale/ru-RU/_strings/chameleon-projector/chameleon-projector.ftl
  Resources/Locale/ru-RU/_strings/chat/managers/chat-manager.ftl
  Resources/Locale/ru-RU/_strings/damage/damage-examine.ftl
  Resources/Locale/ru-RU/_strings/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/_strings/navmap-beacons/station-beacons.ftl
  Resources/Locale/ru-RU/_strings/ui/general.ftl
  Resources/Locale/ru-RU/_strings/wires/wire-names.ftl
Labels: Нет C#, Статус: Несортированный, Изменения: Локализация, size/S

#1064 Транслитерированный акцент
  Content.Server/_Sunrise/Speech/Components/TransliterationAccentComponent.cs
  Content.Server/_Sunrise/Speech/EntitySystems/TransliterationAccentSystem.cs
  Resources/Locale/ru-RU/_strings/_sunrise/traits/traits.ftl
  Resources/Prototypes/_Sunrise/Traits/speech.yml
Labels: Статус: Требует Рассмотрения, Изменения: Локализация, size/M

#1071 Исправление локализации от 09.01.2025(fix1)
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/ammunition/magazines/light_rifle.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/fun/pokercards.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/fun/pokercardsclassic.ftl
Labels: Нет C#, Изменения: Локализация, size/M

#1072 Обычные госты больше не видят иконки фракций
  Content.Client/StatusIcon/StatusIconSystem.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1074 Шприцемёты: Крио/Блюспейс Мини-Шприцы
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/specific/chemistry.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/weapons/guns/syringe_guns.ftl
  Resources/Locale/en-US/_strings/_sunrise/research/technologies.ftl
  Resources/Locale/en-US/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/chemistry.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/syringe_guns.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/research/technologies.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Boxes/nanotrasen.yml
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Medical/chemistry.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Launchers/syringe_guns.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/medical.yml
  Resources/Prototypes/_Sunrise/Research/medical.yml
  Resources/Prototypes/_Sunrise/tags.yml
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/syringeblueproj.png
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/syringestasisproj.png
  Resources/Textures/_Sunrise/Entities/Objects/Specific/Medical/syringe.rsi/bluespace_base.png
  Resources/Textures/_Sunrise/Entities/Objects/Specific/Medical/syringe.rsi/cryo_base.png
  Resources/Textures/_Sunrise/Entities/Objects/Specific/Medical/syringe.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#1075 Аварийные баллоны увеличены в 2 раза
  Resources/Locale/ru-RU/_prototypes/catalog/fills/boxes/emergency.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/S

#1083 Дельта и эвак после выстрела икаруса
  Content.Server/_Sunrise/AssaultOps/Icarus/IcarusTerminalSystem.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1068 Революция теперь заканчивается сразу после убийства всех глав
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1080 announce and maintance accesses
  Content.Server/Access/Systems/AccessSystem.cs
  Content.Server/AlertLevel/Commands/SetAlertLevelCommand.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/StationEvents/Events/AlertLevelInterceptionRule.cs
  Content.Server/Supermatter/EntitySystems/SupermatterSystem.cs
  Content.Server/_Sunrise/AlertAccesses/Systems/AlertAccessesEvent.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/CCVar/CCVars.Game.cs
  Resources/Locale/ru-RU/_strings/_sunrise/access/systems/access-system.ftl
  Resources/Locale/ru-RU/_strings/alert-levels/alert-levels.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door_autolink.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fireaxe_cabinet.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/shelfs.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Sunrise/Access/AccessGroup/access_group.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_Sunrise/borg_types.yml
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/M

#1085 Апстрим локализации 10.01.2025
  Resources/Locale/ru-RU/_strings/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/ru-RU/_strings/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/ru-RU/_strings/reagents/meta/consumable/drink/soda.ftl
Labels: Нет C#, Статус: Несортированный, Изменения: Локализация, size/M

#1078 Микроволновой Сканер Имплантов
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/structures/interrogator/interrogator.ftl
  Resources/Locale/en-US/_strings/_sunrise/research/technologies.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_Sunrise/Research/medical.yml
  Resources/Prototypes/_Sunrise/Structures/interrogator.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Локализация, size/S

#1087 Nukie playtime
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Roles/AntagPrototype.cs
  Content.Shared/Roles/Jobs/SharedJobSystem.cs
  Content.Shared/Roles/SharedRoleSystem.cs
  Resources/Locale/en-US/_strings/prototypes/roles/antags.ftl
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Roles/Antags/changeling.yml
  Resources/Prototypes/Roles/Antags/dragon.yml
  Resources/Prototypes/Roles/Antags/ninja.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Antags/silicon.yml
  Resources/Prototypes/Roles/Antags/terminator.yml
  Resources/Prototypes/Roles/Antags/thief.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Antags/vampire.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Prototypes/_Sunrise/AssaultOps/antag.yml
  Resources/Prototypes/_Sunrise/FleshCult/antag.yml
  Resources/Prototypes/_Sunrise/Roles/Antags/eviltwin.yml
  Resources/Prototypes/_Sunrise/Roles/Antags/fugitive.yml
  Resources/Prototypes/_Sunrise/Roles/Antags/planet_prisoner.yml
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster53_legit.png
Labels: Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#1088 Фикс антаг банов и наказание случайной смерти [ПОРТ]
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Roles/RequirementsSelector.xaml.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.IntegrationTests/Tests/GameRules/AntagPreferenceTest.cs
  Content.Server/Administration/Commands/PardonCommand.cs
  Content.Server/Administration/Commands/RoleUnbanCommand.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Administration/Managers/IBanManager.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/CCVar/CCVars.Admin.cs
  Content.Shared/Players/MsgRoleBans.cs
  Resources/Locale/en-US/_strings/administration/smites.ftl
  Resources/Locale/en-US/_strings/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/en-US/_strings/info/ban.ftl
  Resources/Locale/en-US/_strings/job/role-requirements.ftl
Labels: Изменения: Интерфейс, Статус: Несортированный, Изменения: Локализация, size/M

#1089 test
  Resources/manifest.yml
Labels: Нет C#, Статус: Несортированный, size/XS

#1090 Test 2
  Resources/manifest.yml
Labels: Нет C#, Статус: Несортированный, size/XS

#1094 Звуки гильз
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/Shell/Empty/fall1.ogg
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/Shell/Empty/fall2.ogg
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/Shell/Empty/fall3.ogg
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/Shell/fall1.ogg
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/Shell/fall2.ogg
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/Shell/fall3.ogg
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/fall1.ogg
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/fall10.ogg
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/fall2.ogg
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/fall3.ogg
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/fall4.ogg
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/fall5.ogg
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/fall6.ogg
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/fall7.ogg
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/fall8.ogg
  Resources/Audio/_Sunrise/Weapons/Guns/Casings/fall9.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/base_cartridge.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/_Sunrise/Sound/sound_helpers.yml
  Resources/Prototypes/_Sunrise/SoundCollections/casings.yml
Labels: Нет C#, Статус: Несортированный, size/S, Изменения: Аудио

#1100 fix
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door_access.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1114 Звук сердцебиение в крите
  Content.Server/_Sunrise/CritHeartbeat/CritHeartbeatComponent.cs
  Content.Server/_Sunrise/CritHeartbeat/CritHeartbeatSystem.cs
  Resources/Audio/_Sunrise/Effects/heartbeat.ogg
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Статус: Требует Рассмотрения, size/S, Изменения: Аудио

#1124 GhostTheme: Ревенант
  Resources/Locale/ru-RU/_strings/_sunrise/ghost/ghost-themes.ftl
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ghost_themes.yml
  Resources/Textures/_Sunrise/Mobs/Ghosts/revenant_ghost.rsi/animated.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/revenant_ghost.rsi/icon.png
  Resources/Textures/_Sunrise/Mobs/Ghosts/revenant_ghost.rsi/meta.json
Labels: Нет C#, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация

#1132 Самовосстанавливающийся пирогомёт
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/service/toys-syndi-clown.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Service/toys-syndi-clown.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/S

#1129 СССП: Респрайт ID карт, КПК, Новые JobIcons
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/devices/pda.ftl
  Resources/Locale/en-US/_strings/_sunrise/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/_strings/_sunrise/job/job-desc.ftl
  Resources/Locale/en-US/_strings/_sunrise/job/job-names.ftl
  Resources/Locale/en-US/_strings/_sunrise/job/job-supervisors.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/devices/pda.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/job/job-desc.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/job/job-names.ftl
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ussp.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/USSP/ussp_roles.yml
  Resources/Prototypes/_Sunrise/Roles/play_time_trackers.yml
  Resources/Prototypes/_Sunrise/StatusEffects/job.yml
  Resources/Textures/_Sunrise/Interface/Misc/job_icons.rsi/CaptainUSSP.png
  Resources/Textures/_Sunrise/Interface/Misc/job_icons.rsi/CrewUSSP.png
  Resources/Textures/_Sunrise/Interface/Misc/job_icons.rsi/OfficerAltUSSP.png
  Resources/Textures/_Sunrise/Interface/Misc/job_icons.rsi/OfficerUSSP.png
  Resources/Textures/_Sunrise/Interface/Misc/job_icons.rsi/SoldierUSSP.png
  Resources/Textures/_Sunrise/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Devices/pda.rsi/pda-ussp.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idcard_captain.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idcard_crew.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idcard_officer.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idcard_officer_alt.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/idcard_soldier.png
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Misc/id_cards.rsi/ussp.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/M

#1140 Торжественная куртка капитана в его же шкафчик
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1154 Роботех: Tweak
  Resources/Prototypes/_Sunrise/Roles/Jobs/Science/roboticist.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный

#1153 Печать патологоанатома
  Resources/Locale/en-US/_prototypes/_sunrise/entities/mobs/player/ussp.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/devices/pda.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/misc/identification_cards.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/misc/rubber_stamp.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/job/job-desc.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/roadmap/roadmap-goals.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Medical/pathologist.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-path.png
  Resources/Textures/_Sunrise/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Misc/stamps.rsi/stamp-path.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/S

#1152 Винтовка N2425 под 45-й магнум
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/weapons/guns/snipers/snipers.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/snipers/snipers.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Snipers/n2524/repeater.rsi/base.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Snipers/n2524/repeater.rsi/bolt-open.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Snipers/n2524/repeater.rsi/equipped-BACKPACK.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Snipers/n2524/repeater.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Snipers/n2524/repeater.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Snipers/n2524/repeater_inhands_64x.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Snipers/n2524/repeater_inhands_64x.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Snipers/n2524/repeater_inhands_64x.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Snipers/n2524/repeater_inhands_64x.rsi/wielded-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Snipers/n2524/repeater_inhands_64x.rsi/wielded-inhand-right.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/S

#1149 Фикс аплинка ДО (Убраны лишние патроны, добавлены не достающие)
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный

#1138 Фикс Абуза Блюспейс Коробки
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/box.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/XS

#1169 Поменял местами иконку настроение и здоровья
  Resources/Prototypes/Alerts/alerts.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1168 Иконки в чате
  Content.Client/Options/UI/Tabs/ExtraTab.xaml
  Content.Client/Options/UI/Tabs/ExtraTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_Sunrise/ChatIcons/RadioIconsSystem.cs
  Content.Client/_Sunrise/UserInterface/RichText/RadioIconTag.cs
  Content.Client/_Sunrise/UserInterface/RichText/TextureTag.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/_Sunrise/SunriseCCVars/SunriseCCVars.cs
  Resources/Locale/ru-RU/_strings/_sunrise/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/tags/radio_icon.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/tags/texture.ftl
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Статус: Несортированный, Изменения: Локализация, size/M

#1167 Скафандр командира для СССП
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/ussp-elite.rsi/equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/ussp-elite.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/ussp-elite.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/ussp-elite.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/ussp-elite.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/ussp-elite.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/ussp-elite.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/ussp-elite.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#1162 EMP x2
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/S

#1143 Повышение цен на вооружение в карго
  Resources/Locale/en-US/_prototypes/_sunrise/catalog/fills/crates/security.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/crates/security.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/armor.yml
Labels: Нет C#, Статус: Несортированный, Изменения: Локализация, size/S

#1175 Meta: Добавлен СБ Под для пилота СБ
  Resources/Maps/_Sunrise/Station/meta.yml
Labels: Нет C#, Изменения: Карты, Статус: Несортированный, size/XL

#1171 Три новых Обломка для Утилей
  Resources/Maps/_Sunrise/Ruins/abandoned_Station.yml
  Resources/Maps/_Sunrise/Ruins/collector_lair.yml
  Resources/Maps/_Sunrise/Ruins/destroyed_trade_shuttle.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, size/XL

#1161 Sunrise Plasma Station
  Resources/Locale/en-US/_prototypes/_sunrise/catalog/fills/lockers/blueshield.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/lockers/blueshield.ftl
  Resources/Maps/_Sunrise/Shuttles/emergency_plasma.yml
  Resources/Maps/_Sunrise/Station/plasma.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Lockers/blueshield.yml
  Resources/Prototypes/_Sunrise/Maps/Pools/default.yml
  Resources/Prototypes/_Sunrise/Maps/plasma.yml
  Resources/Textures/Structures/Walls/mining.rsi/meta.json
  Resources/Textures/Structures/Walls/mining.rsi/miningB0.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB1.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB2.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB3.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB4.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB5.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB6.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB7.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Карты, Статус: Несортированный, Изменения: Локализация, size/XL

#1180 Фикс чат-иконок
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_Sunrise/UserInterface/Controls/SunriseOutputPanel.cs
  Content.Client/_Sunrise/UserInterface/Controls/SunriseRichTextEntry.cs
  Content.Client/_Sunrise/UserInterface/Controls/SunriseRingBufferList.cs
  Content.Client/_Sunrise/UserInterface/Controls/SunriseWorldWrap.cs
Labels: Изменения: Интерфейс, Статус: Несортированный, size/L

#1178 Meta Update by freychik
  Resources/Maps/_Sunrise/Station/meta.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, size/XL

#1177 ХотФикс Спавнеров на Plasma Station
  Resources/Maps/_Sunrise/Station/plasma.yml
  Resources/Prototypes/_Sunrise/Maps/plasma.yml
Labels: Нет C#, Изменения: Карты, size/XL

#1166 добавил новый ассортимент емагу
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/structures/doors/airlocks/Glass/access.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/S

#1181 Новые звуки в случайные места
  Content.Server/_Sunrise/Paws/PawsSystem.cs
  Resources/Audio/_Sunrise/Effects/Footsteps/Boots/step1.ogg
  Resources/Audio/_Sunrise/Effects/Footsteps/Boots/step2.ogg
  Resources/Audio/_Sunrise/Effects/Footsteps/Boots/step3.ogg
  Resources/Audio/_Sunrise/Items/Medical/scanner_use.ogg
  Resources/Audio/_Sunrise/Voice/Human/SevereCough/Female/sound1.ogg
  Resources/Audio/_Sunrise/Voice/Human/SevereCough/Female/sound2.ogg
  Resources/Audio/_Sunrise/Voice/Human/SevereCough/Female/sound3.ogg
  Resources/Audio/_Sunrise/Voice/Human/SevereCough/Male/sound1.ogg
  Resources/Audio/_Sunrise/Voice/Human/SevereCough/Male/sound2.ogg
  Resources/Audio/_Sunrise/Voice/Human/SevereCough/Male/sound3.ogg
  Resources/Locale/ru-RU/_strings/_sunrise/chat/emotes.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/Entities/Structures/Furniture/carpets.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Sunrise/SoundCollections/footsteps.yml
  Resources/Prototypes/_Sunrise/SoundCollections/severe_cough.yml
  Resources/Prototypes/_Sunrise/Voice/desease_emotes.yml
Labels: Статус: Требует Рассмотрения, Изменения: Локализация, size/S, Изменения: Аудио

#1137 ОБР: Амбер, Гамма
  Resources/Locale/en-US/_prototypes/_sunrise/catalog/fills/boxes/nanotrasen.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/eyes/night_vision_device.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/specific/NTUplink.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/boxes/nanotrasen.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/eyes/night_vision_device.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/NTUplink.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Boxes/nanotrasen.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/_Sunrise/Catalog/ert_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/night_vision_device.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ghost_roles.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/remote_controller.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/NTUplink.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/USSP/ert.yml
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/combat_minihypo.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/meta.json
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/hypospray_cmo.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/hypospray_combat.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/hypospray_ert.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Launchers/syringe_rapidgun.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Launchers/syringe_rapidgun.rsi/inhand-right.png
Labels: Нет C#, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/L

#1187 фикс бригмедика сб by freychik
  Resources/Maps/_Sunrise/Station/meta.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, size/XL

#1183 Переработка зажигалок на Переработчике мусора
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/zippos.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1191 Апстрим локализации 25.01.2025
  Resources/Locale/en-US/_prototypes/_sunrise/catalog/fills/crates/security.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/catalog/fills/lockers/blueshield.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/head/hardsuit-helmets.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/weapons/guns/snipers/snipers.ftl
  Resources/Locale/en-US/_prototypes/entities/clothing/masks/masks.ftl
  Resources/Locale/en-US/_prototypes/entities/clothing/masks/specific.ftl
  Resources/Locale/en-US/_prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/en-US/_prototypes/entities/clothing/outerclothing/coats.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/base_contraband.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/specific/chemistry-vials.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/tools/blueprint.ftl
  Resources/Locale/en-US/_prototypes/entities/structures/doors/airlocks/access.ftl
  Resources/Locale/en-US/_prototypes/entities/structures/wallmounts/switch.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/outerclothing/hardsuits.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/snipers/snipers.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/structures/doors/airlocks/Glass/access.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/chat/emotes.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/roadmap/roadmap-goals.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/tags/radio_icon.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/tags/texture.ftl
  Resources/Locale/ru-RU/_strings/administration/admin-alerts.ftl
  Resources/Locale/ru-RU/_strings/administration/antag.ftl
  Resources/Locale/ru-RU/_strings/administration/multi-server-kick.ftl
  Resources/Locale/ru-RU/_strings/administration/ui/permissions-eui.ftl
  Resources/Locale/ru-RU/_strings/administration/ui/tabs/player-tab.ftl
  Resources/Locale/ru-RU/_strings/advertisements/vending/smite.ftl
  Resources/Locale/ru-RU/_strings/connection-messages.ftl
  Resources/Locale/ru-RU/_strings/discord/watchlist-connections.ftl
  Resources/Locale/ru-RU/_strings/escape-menu/ui/options-menu.ftl
  Resources/Locale/ru-RU/_strings/ghost/components/ghost-component.ftl
  Resources/Locale/ru-RU/_strings/ghost/spooky-speaker.ftl
  Resources/Locale/ru-RU/_strings/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/_strings/mind/verbs/role-types.ftl
  Resources/Locale/ru-RU/_strings/nutrition/components/food-component.ftl
  Resources/Locale/ru-RU/_strings/powersink/powersink.ftl
  Resources/Locale/ru-RU/_strings/tips.ftl
Labels: Нет C#, Статус: Несортированный, Изменения: Локализация, size/M

#1216 [BALANCE] Балансировка нескольких нередко используемых предметов.
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Medical/chemistry.yml
Labels: Нет C#, size/S

#1215 Изменение количества слотов под мини-шприцы в авто-шприцемёте
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/launchers/syringe_guns.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Launchers/syringe_guns.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/XS

#1214 Локализация 29.01.2025 [FIX]
  Resources/Locale/ru-RU/_prototypes/entities/mobs/cyborgs/borg_chassis.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/devices/circuitboards/machine/production.ftl
  Resources/Locale/ru-RU/_prototypes/entities/structures/power/smes.ftl
  Resources/Locale/ru-RU/_strings/flavors/flavor-profiles.ftl
  Resources/Locale/ru-RU/_strings/ghost/roles/ghost-role-component.ftl
Labels: Нет C#, Статус: Несортированный, Изменения: Локализация
