Repository space-sunrise/sunrise-station, pull requests merged in 2025-02, with the labels that each got.

#1261 Удаление Ромерола с Обломков
  Resources/Maps/_Sunrise/Ruins/abandoned_lab.yml
  Resources/Maps/_Sunrise/Ruins/abandoned_syndi_lab.yml
  Resources/Maps/_Sunrise/Ruins/collector_lair.yml
  Resources/Maps/_Sunrise/Ruins/destroyed_trade_shuttle.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный

#1257 Нерф Наглых Агентов
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
Labels: Нет C#, Статус: Несортированный, size/S

#1255 [BALANCE] Изменения урона Зажигательных и Stamina урона резиновых
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: Нет C#, Статус: Несортированный

#1245 [BALANCE] Ребаланс галош
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Labels: Нет C#, Статус: Несортированный

#1244 Lathe MechPaint
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/mech_parts.yml
Labels: Нет C#, Статус: Несортированный

#1243 [Fix] Большие Двигатели (Коллизия и HP)
  Resources/Prototypes/_Sunrise/Entities/Structures/Shuttles/thrusters.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1239 Чёрная водолазка
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/uniforms/jumpsuits.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/blackturtleneck.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/blackturtleneck.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Uniforms/Jumpsuit/blackturtleneck.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/S

#1231 [BALANCE] Балансировка импланта "Побег"
  Resources/Prototypes/Actions/types.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1230 Кластерная минибомба и кластерная флешка под видом связки минибомб синдиката
  Resources/Locale/en-US/_strings/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/throwable/grenades.ftl
  Resources/Locale/ru-RU/_strings/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Catalog/VendingMachines/Inventories/hohohonkers.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Throwable/grenades.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Throwable/scattering_grenades.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Grenades/clustersyndygrenade.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Weapons/Grenades/clustersyndygrenade.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Grenades/clustersyndygrenade.rsi/primed.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/M

#1228 [BALANCE] Обновление локализации, ботинок ОСЩа и доступов ОСЩа.
  Resources/Locale/ru-RU/_strings/damage/stamina.ftl
  Resources/Prototypes/_Sunrise/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Blueshield/blueshield.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/XS

#1227 Фикс отображения тройного шлюза
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_atmospherics.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_basic.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_cargo.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_centcomm.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_chemistry.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_command.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_engineering.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_medical.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_science.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_security.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/Airlocks/Glass/triple_virology.rsi/open.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, size/XS

#1210 Дарвиний
  Content.Server/EntityEffects/Effects/MakeSentient.cs
  Content.Shared/_Sunrise/Reagents/CognizinFixComponent.cs
  Resources/Locale/ru-RU/_prototypes/_sunrise/body/organs/animal.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/crates/medical.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/misc/cube.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/rehydrateable.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/reagents/medicine.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/metabolism/metabolizer-types.ftl
  Resources/Prototypes/Body/Prototypes/Animal/slimes.yml
  Resources/Prototypes/Body/Prototypes/Specific/mothroach.yml
  Resources/Prototypes/Body/Prototypes/primate.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_Sunrise/Body/Organs/animal.yml
  Resources/Prototypes/_Sunrise/Body/Prototypes/animal.yml
  Resources/Prototypes/_Sunrise/Body/Prototypes/felinid.yml
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/_Sunrise/Chemistry/metabolizer_types.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/cube.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/_Sunrise/Polymorphs/polymorph.yml
  Resources/Prototypes/_Sunrise/Reagents/medicine.yml
  Resources/Prototypes/_Sunrise/Recipes/Reactions/medicine.yml
  Resources/Textures/_Sunrise/Objects/Misc/cube.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Misc/cube.rsi/wrapper_chiken.png
  Resources/Textures/_Sunrise/Objects/Misc/cube.rsi/wrapper_mothroach.png
  Resources/Textures/_Sunrise/Objects/Misc/cube.rsi/wrapper_pig.png
  Resources/Textures/_Sunrise/Objects/Misc/cube.rsi/wrapper_slime.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#1238 Случайное Событие Малый Шаттл Пиратов
  Resources/Maps/_Sunrise/Shuttles/pirate_small.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, size/L

#1196 Blyazdec
  Resources/sunrise_map_attributions.txt
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1237 [HOTFIX] PlasmaStation + Fix Cog Evac
  Resources/Maps/_Sunrise/Shuttles/emergency_cog.yml
  Resources/Maps/_Sunrise/Shuttles/emergency_plasma.yml
  Resources/Maps/_Sunrise/Station/plasma.yml
Labels: Нет C#, Изменения: Карты, Статус: Несортированный, size/L, S: Merge Conflict

#1270 [HotFix] Plasma V2
  Resources/Maps/_Sunrise/Station/plasma.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный

#1266 Баланс ЕМАГа
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
Labels: Нет C#, Статус: Несортированный, size/XS

#1265 Убрал Ксено Гост рольки с шахты победа
  Resources/Maps/_Sunrise/Ruins/victory_mine.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, size/XS

#1279 Хитскан Пули имеют ниже урон
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1280 Большой Ребаланс Огнестрела
  Resources/Locale/en-US/_strings/_sunrise/store/ntuplink-catalog.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/ntuplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Sunrise/Catalog/ert_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Локализация, size/M

#1293 Update issue_report.md
  .github/ISSUE_TEMPLATE/issue_report.md
Labels: Нет C#, Статус: Несортированный, size/S

#1233 Передвижение в вентиляции
  Content.Client/SubFloor/SubFloorHideSystem.cs
  Content.Client/_Sunrise/VentCraw/VentCrawVisionSystem.cs
  Content.Shared/Movement/Events/MoveInputEvent.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/_Sunrise/VentCraw/Components/BeingVentCrawComponent.cs
  Content.Shared/_Sunrise/VentCraw/Components/VentCrawBendComponent.cs
  Content.Shared/_Sunrise/VentCraw/Components/VentCrawClothingComponent.cs
  Content.Shared/_Sunrise/VentCraw/Components/VentCrawEntryComponent.cs
  Content.Shared/_Sunrise/VentCraw/Components/VentCrawHolderComponent.cs
  Content.Shared/_Sunrise/VentCraw/Components/VentCrawJunctionComponent.cs
  Content.Shared/_Sunrise/VentCraw/Components/VentCrawTransitComponent.cs
  Content.Shared/_Sunrise/VentCraw/Components/VentCrawTubeComponent.cs
  Content.Shared/_Sunrise/VentCraw/SharedVentCrawableSystem.cs
  Content.Shared/_Sunrise/VentCraw/SharedVentTubeSystem.cs
  Content.Shared/_Sunrise/VentCraw/VentCrawlerComponent.cs
  Resources/Audio/_Sunrise/VentCrawling/crawling1.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling10.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling11.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling12.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling13.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling15.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling16.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling17.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling18.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling19.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling2.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling20.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling21.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling22.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling23.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling24.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling4.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling5.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling6.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling7.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling8.ogg
  Resources/Audio/_Sunrise/VentCrawling/crawling9.ogg
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/_Sunrise/SoundCollections/vent_clawling.yml
Labels: Статус: Требует Рассмотрения, Размер/Средний, Изменения: Аудио

#1291 Изменение характеристик глефы-крушителя и крушителя
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
Labels: Нет C#, Размер/Малый

#1294 Баланс космического ниндзя
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Ребаланс, size/S

#1296 Осанрайзил Карго заказы Вооружения
  Resources/Locale/en-US/_prototypes/_sunrise/catalog/fills/crates/armory.ftl
  Resources/Locale/en-US/_prototypes/_sunrise/catalog/fills/crates/security.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/crates/armory.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/catalog/fills/crates/security.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Sunrise/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/migration.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация

#1297 Обновление дарвиниума, НЕ ФИКС(разве что чут чут). Плюс подкрепы и ребаланс некоторых вещей синдиката.
  Content.Shared/_Sunrise/Implants/Текстовый документ.txt
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/mobs/npcs/animals.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/mobs/player/felinid.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/misc/cube.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/rehydrateable.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/ghost/ghost-role-component.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/metabolism/metabolizer-types.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/_Sunrise/Body/Organs/animal.yml
  Resources/Prototypes/_Sunrise/Body/Prototypes/animal.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Chemistry/metabolizer_types.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/cube.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/_Sunrise/Reagents/medicine.yml
  Resources/Prototypes/_Sunrise/Roles/Antags/traitors.yml
  Resources/Prototypes/_Sunrise/Roles/Ghostroles/syndicate.yml
  Resources/Prototypes/_Sunrise/name_identifier_groups.yml
  Resources/Textures/_Sunrise/Mobs/Animals/inferior_vulpkanin.rsi/inferior_vulpkanin.png
  Resources/Textures/_Sunrise/Mobs/Animals/inferior_vulpkanin.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация

#1298 Балансировка Мехов и их вооружения в Аплинке
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_Sunrise/Catalog/ert_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
Labels: Нет C#, Ребаланс, size/S

#1301 Спрайты для коробки с glock и игрушки Вех
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/glockbox.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/goldenw-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/goldenw-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/goldenweh-equipped-HELMET.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Storage/glockbox.rsi/glockb-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Storage/glockbox.rsi/glockb-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Storage/glockbox.rsi/inhand.png
  Resources/Textures/_Sunrise/Objects/Storage/glockbox.rsi/meta.json
Labels: Нет C#, Изменения: Спрайты, Статус: Несортированный

#1302 Шахте Победа Tweaks
  Resources/Maps/_Sunrise/Ruins/victory_mine.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный

#1313 Добавление мешка с землей в биогенератор
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/biogen.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/S

#1292 Снижение цены на имплант "Побег"
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: Нет C#, Размер/Малый

#1314 фрейчик крутит мету как может
  Resources/Maps/_Sunrise/Station/meta.yml
Labels: Нет C#, Изменения: Карты, Статус: Несортированный, size/XL

#1299 Фикс голосования о выборе карт
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1329 Злые НПС
  Content.Server/_Sunrise/Pibble/AttackOnInteractionFailComponent.cs
  Content.Server/_Sunrise/Pibble/AttackOnInteractionFailSystem.cs
  Resources/Locale/en-US/_strings/interaction/interaction-popup-component.ftl
  Resources/Locale/ru-RU/_strings/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/NPCs/dogs.yml
  Resources/Prototypes/_Sunrise/GameRules/events.yml
Labels: Изменения: Локализация, size/M

#1331 Фикс фелинидов
  Content.Server/_Sunrise/Felinid/FelinidSystem.cs
  Content.Shared/_Sunrise/Felinid/FelinidComponent.cs
  Content.Shared/_Sunrise/Felinid/SharedFelinidSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/felinid.yml
Labels: Статус: Несортированный, size/S

#1326 Термальные Очки в Аплинк ОБР и Синдиката
  Resources/Locale/en-US/_prototypes/_sunrise/entities/clothing/eyes/glasses.ftl
  Resources/Locale/en-US/_strings/_sunrise/research/technologies.ftl
  Resources/Locale/en-US/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/research/technologies.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Prototypes/_Sunrise/Catalog/ert_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/devices.yml
  Resources/Prototypes/_Sunrise/Research/industrial.yml
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/synd_thermal.rsi/equipped-EYES.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/synd_thermal.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/synd_thermal.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/synd_thermal.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Eyes/Glasses/synd_thermal.rsi/meta.json
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/meta.json
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/thermals.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, size/M

#1306 Баланс Рейд Брони
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1323 Консоли продажи отделов
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_Sunrise/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_Sunrise/Structures/Machines/computers.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/M

#1327 Фикс и бафф дезоантизина.
  Resources/Prototypes/_Sunrise/Reagents/narcotics.yml
  Resources/Prototypes/_Sunrise/Recipes/Reactions/medicine.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/XS

#1330 Фикс невидимой дроби
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
Labels: Нет C#, Статус: Несортированный, size/XS

#1342 Небольшие правки в ИСН
  Resources/Locale/en-US/_strings/_sunrise/job/job-names.ftl
  Resources/Prototypes/_Sunrise/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/CentralCommand/ntr_guard.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Локализация, size/S

#1347 Баланс рейдерского костюма и изменение цены на УЗИ
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1349 Имплант Дымовой завесы
  Resources/Locale/en-US/_prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/en-US/_prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/en-US/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/misc/implanters.ftl
  Resources/Locale/ru-RU/_prototypes/entities/objects/misc/subdermal_implants.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/uplink-catalog.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/implanters.yml
Labels: Нет C#, Изменения: Локализация

#1350 Tts update 70
  Resources/Prototypes/_Sunrise/tts-voices.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/M

#1351 Новое растение и фиксы в ботанику
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/geranium_crown.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_Sunrise/Hydroponics/seeds.yml
  Resources/Prototypes/_Sunrise/Recipes/Crafting/improvised.yml
  Resources/Prototypes/_Sunrise/tags.yml
  Resources/Textures/_Sunrise/Clothing/Head/Misc/geranium_crown.rsi/equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Misc/geranium_crown.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/Misc/geranium_crown.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/coffee_arabica.rsi/seed.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/coffee_robust.rsi/seed.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/baked-peel-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/baked-peel-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/baked-peel.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/baked-peel2.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/baked-peel3.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/harvest.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/peel-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/peel-inhand-right.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/peel.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/peel2.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/peel3.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/primed.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/produce.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/seed.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/stage-1.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/stage-2.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/stage-3.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/stage-4.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/stage-5.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/explosive_banana.rsi/stage-6.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/geranium.rsi/dead.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/geranium.rsi/equipped-HELMET.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/geranium.rsi/harvest.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/geranium.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/geranium.rsi/produce.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/geranium.rsi/seed.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/geranium.rsi/stage-1.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/geranium.rsi/stage-2.png
  Resources/Textures/_Sunrise/Objects/Specific/Hydroponics/geranium.rsi/stage-3.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#1357 Облегчение консоли продаж
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/XS

#1361 Добавлена возможность носить пожарные топоры на спине
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, size/S

#1364 Обновление биогенератора
  Content.Server/Materials/ProduceMaterialExtractorSystem.cs
  Resources/Prototypes/Recipes/Lathes/biogen.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/Packs/biogen.yml
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/M

#1362 Усилил фонарик для мехов и боргов
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1356 Откат обновлений рейд.костюма
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Clothing/Biocode/hardsuits.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1367 Плюшевые Мира Ковальская и Михаил Осипов
  Resources/Audio/_Sunrise/meow2.ogg
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/fun/toys.ftl
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Fun/toys.yml
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-MihailOsipov.png
  Resources/Textures/_Sunrise/Objects/Fun/toys.rsi/plushie-mira.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, Изменения: Аудио, size/S

#1373 UPD.Plasma-Station
  Resources/Maps/_Sunrise/Station/plasma.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный, size/XL

#1380 {UPDATE MAP} Багель and Мета
  Resources/Maps/_Sunrise/Station/bagel.yml
  Resources/Maps/_Sunrise/Station/meta.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Статус: Несортированный

#1377 [FEATURE] Портирование системы антиспама для AHelp
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Resources/Locale/en-US/_strings/_sunrise/ahelp-antispam.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/ahelp-antispam.ftl
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, Изменения: Локализация, size/S

#1385 Исправление неправильный емаг у боргов синдиката
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: Нет C#, size/XS

#1395 Эмоции из Stardew valley
  Content.Client/_Sunrise/CloudEmotes/CloudEmoteSystem.cs
  Content.Server/_Sunrise/CloudEmotes/CloudEmoteSystem.cs
  Content.Server/_Sunrise/CloudEmotes/Commands/CloudEmoteCommand.cs
  Content.Shared/_Sunrise/CloudEmote/CloudEmoteActiveComponent.cs
  Content.Shared/_Sunrise/CloudEmote/CloudEmotePhaseComponent.cs
  Content.Shared/_Sunrise/CloudEmote/SharedCloudEmoteSystem.cs
  Resources/Audio/_Sunrise/Effects/CloudEmotes/attributions.yml
  Resources/Audio/_Sunrise/Effects/CloudEmotes/pop.ogg
  Resources/Locale/en-US/_prototypes/_sunrise/cloud-emotes/cloud-emotes.ftl
  Resources/Prototypes/_Sunrise/Entities/Effects/cloud_emotes.yml
  Resources/Textures/_Sunrise/Effects/cloud_emotes.rsi/emote_end.png
  Resources/Textures/_Sunrise/Effects/cloud_emotes.rsi/emote_lenny.png
  Resources/Textures/_Sunrise/Effects/cloud_emotes.rsi/emote_mark.png
  Resources/Textures/_Sunrise/Effects/cloud_emotes.rsi/emote_nervous.png
  Resources/Textures/_Sunrise/Effects/cloud_emotes.rsi/emote_start.png
  Resources/Textures/_Sunrise/Effects/cloud_emotes.rsi/meta.json
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Локализация, Изменения: Аудио, size/M

#1405 changed lights energy
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1401 Изменения Брони
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Shoes/magboots.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/S

#1396 Нерф Бипски
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1408 Обновления Снаряжения Пиратов и новый случайный шаттл
  Resources/Maps/_Sunrise/Shuttles/pirate_medium.yml
  Resources/Maps/_Sunrise/Shuttles/pirate_small.yml
  Resources/Prototypes/Catalog/Fills/Crates/antag.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/piratebasichelm.rsi/equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/piratebasichelm.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/piratebasichelm.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/meta.json
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/piratecaptain.rsi/equipped-OUTERCLOTHING-reptilian.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/piratecaptain.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/piratecaptain.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/piratecaptain.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/piratecaptain.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/piratecaptain.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/OuterClothing/Hardsuits/piratecaptain.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Ammunition/Explosives/explosives.rsi/empball.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Ammunition/Explosives/explosives.rsi/fuzeball.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Ammunition/Explosives/explosives.rsi/meta.json
  Resources/migration.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Карты, Статус: Несортированный, size/XL

#1411 Респрайт берета вардена
  Resources/Textures/Clothing/Head/Hats/beret_warden.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_warden.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beret_warden.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_warden.rsi/inhand-right.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, size/XS

#1414 Добавление берета парамедика.
  Resources/Prototypes/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/Head/berets.yml
  Resources/Textures/_Sunrise/Clothing/Head/Hats/beret_paramedic.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/beret_paramedic.rsi/equipped-HELMET.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/beret_paramedic.rsi/icon.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/beret_paramedic.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/beret_paramedic.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Clothing/Head/Hats/beret_paramedic.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/S

#1416 игрушечная сингулярность
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный

#1423 [FIX] Исправление лицензионных моментов
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: Статус: Требует Рассмотрения, Статус: Несортированный, size/XS

#1410 Новые эффекты взрывов
  Content.Client/Entry/EntryPoint.cs
  Content.Client/_RMC14/Explosion/RMCExplosionShockWaveOverlay.cs
  Content.Client/_RMC14/Xenonids/Screech/RMCXenoScreechShockWaveOverlay.cs
  Content.Client/_RMC14/_Sunrise/Explosion/ClientExplosionShockWaveSystem.cs
  Content.Client/_RMC14/_Sunrise/Explosion/RMCExplosionSystem.cs
  Content.Server/Changeling/ChangelingSystem.Abilities.cs
  Content.Server/Changeling/ChangelingSystem.cs
  Content.Server/EntityEffects/Effects/ExplosionReactionEffect.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Visuals.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/_Sunrise/Explosions/RMCExplosionSystem.cs
  Content.Shared/Explosion/ExplosionPrototype.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_RMC14/Explosion/CMExplosionEffectComponent.cs
  Content.Shared/_RMC14/Explosion/RMCExplosionShockWaveComponent.cs
  Content.Shared/_RMC14/Explosion/SharedRMCExplosionSystem.cs
  Content.Shared/_RMC14/Xenonids/Screech/RMCXenoScreechShockWaveComponent.cs
  Content.Shared/_RMC14/Xenonids/Screech/XenoScreechComponent.cs
  Content.Shared/_Sunrise/Explosion/SharedSunriseExplosionSystem.cs
  Content.Shared/_Sunrise/Helpers/CoordinatesHelpers.cs
  Resources/Audio/_RMC14/Xeno/alien_queen_screech.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pipebomb.yml
  Resources/Prototypes/Entities/Structures/Machines/nuke.yml
  Resources/Prototypes/_RMC14/Effects/explosive.yml
  Resources/Prototypes/_RMC14/Effects/screech.yml
  Resources/Prototypes/_RMC14/Shaders/shaders.yml
  Resources/Prototypes/_Sunrise/Entities/Effects/explosion.yml
  Resources/Prototypes/_Sunrise/explosion.yml
  Resources/Textures/_RMC14/Effects/grenade_explosion.rsi/grenade.png
  Resources/Textures/_RMC14/Effects/grenade_explosion.rsi/meta.json
  Resources/Textures/_RMC14/Effects/xeno_screech.rsi/meta.json
  Resources/Textures/_RMC14/Effects/xeno_screech.rsi/screech.png
  Resources/Textures/_RMC14/Shaders/screech_shock_wave.swsl
  Resources/Textures/_RMC14/Shaders/shock_wave.swsl
  Resources/Textures/_Sunrise/Effects/explosion_smoke.rsi/dust.png
  Resources/Textures/_Sunrise/Effects/explosion_smoke.rsi/fire.png
  Resources/Textures/_Sunrise/Effects/explosion_smoke.rsi/gas.png
  Resources/Textures/_Sunrise/Effects/explosion_smoke.rsi/meta.json
  Resources/Textures/_Sunrise/Effects/explosion_smoke.rsi/smoke.png
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Шейдеры, Изменения: Аудио, size/M

#1418 Малые балансные правки Мехов
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/combat.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/Weapons/Gun/industrial.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/mech_parts.yml
  Resources/Prototypes/_Sunrise/Research/arsenal.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Статус: Несортированный, size/M

#1422 Выпил пресетов нестанционных ролей из консоли ХоПа
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/CentralCommand/centcom_official.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/CentralCommand/centcom_operator.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/head_of_prison.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/planet_prisoner.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prison_chef.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prison_doctor.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prison_engineer.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prison_guard.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prison_pilot.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/PlanetPrison/prison_worker.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/clown_borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/engineer_borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/janitor_borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/medical_borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/mining_borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/peace_borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/security_borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Silicons/service_borg.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/USSP/ussp_roles.yml
Labels: Нет C#, Статус: Несортированный, size/S

#1424 Добавлено замедление тяжелому оружию + Фикс Скафов СБ
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Sunrise/Loadouts/Miscellaneous/security.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/ion_rifle.rsi/equipped-BACKPACK.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/ion_rifle.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/ion_rifle.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/ion_rifle.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/ion_rifle.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/ion_rifle.rsi/wielded-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/ion_rifle.rsi/wielded-inhand-right.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, size/M

#1420 Температурная пушка
  Resources/Locale/en-US/_strings/research/technologies.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/security.yml
  Resources/Prototypes/_Sunrise/Research/arsenal.yml
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/temperaturegun.rsi/base.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/temperaturegun.rsi/equipped-BACKPACK.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/temperaturegun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/temperaturegun.rsi/icon.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/temperaturegun.rsi/inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/temperaturegun.rsi/inhand-right.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/temperaturegun.rsi/mag-unshaded-1.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/temperaturegun.rsi/mag-unshaded-2.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/temperaturegun.rsi/mag-unshaded-3.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/temperaturegun.rsi/mag-unshaded-4.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/temperaturegun.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/temperaturegun.rsi/wielded-inhand-left.png
  Resources/Textures/_Sunrise/Objects/Weapons/Guns/Battery/temperaturegun.rsi/wielded-inhand-right.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Статус: Несортированный, Изменения: Локализация, size/M

#1428 Вещи спонсоров ГСБ и Капитана теперь в Лодауте в лобби
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Catalog/sponsor_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/donation_plinks.yml
Labels: Нет C#, Статус: Несортированный, size/M
