Repository space-sunrise/sunrise-station, pull requests merged in 2025-09, with the labels that each got.

#3131 Update mechs.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#3130 PORT #37529 [Респрайт стандартных щитов]
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Textures/Objects/Weapons/Melee/e_shield.rsi/eshield-on.png
  Resources/Textures/Objects/Weapons/Melee/e_shield.rsi/inhand-left-shield.png
  Resources/Textures/Objects/Weapons/Melee/e_shield.rsi/inhand-right-shield.png
  Resources/Textures/Objects/Weapons/Melee/e_shield.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/makeshift-icon.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/makeshift-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/makeshift-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/metal-icon.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/metal-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/metal-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot-icon.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot_bullet-icon.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot_bullet-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot_bullet-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot_laser-icon.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, size/M

#3109 Патчи в Наномеды
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/_Starlight/Entities/Objects/Specific/Medical/bandaid.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, size/S, size/M

#3108 Послабления крысюков Короля после тестов
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: Нет C#, Статус: Требует Рассмотрения, size/S

#3142 Добавление перевода новых пушек в аплинк
  Resources/Locale/ru-RU/_strings/_sunrise/store/uplink-catalog.ftl
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/XS

#3137 Заменен имплант побега в наборе вора на телепортер синдиката
  Resources/Locale/ru-RU/_strings/thief/backpack.ftl
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/Syndicate_Gadgets/biocode.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/XS

#3082 Починка щита и его здоровье
  Resources/Locale/en-US/_strings/_sunrise/health-examinable/health-examinable-shield.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/health-examinable/health-examinable-shield.ftl
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/_Starlight/Entities/Objects/Shields/shields.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/M

#3070 Механика вещания через консоль связи
  Content.Client/Communications/UI/CommunicationsConsoleBoundUserInterface.cs
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Shared/Communications/SharedCommunicationsConsoleComponent.cs
  Resources/Locale/ru-RU/_strings/_sunrise/communications/communications-console-component.ftl
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/M

#3223 Небольшое изменение РСУ CE.
  Resources/Prototypes/_Sunrise/Entities/Objects/Tools/tools.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Ребаланс, size/XS

#3186 Упростил рецепт щита
  Resources/Prototypes/_Sunrise/Recipes/Construction/Graphs/weapons/strobeshield.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#3184 энергощищ
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/XS

#3192 Loadout item duplication fix
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Science/roboticist.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/M, size/XS

#3207 Добавил короткоствольный револьвер для СБ
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/misc/glockbox.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/misc/glockbox.ftl
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Misc/glockbox.yml
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Security/security.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S

#3243 Вырезал багованный посох
  Resources/Prototypes/Catalog/spellbook_catalog.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/S

#2980 Голографическая девочка в выбор кастомизации ИИ.
  Resources/Locale/ru-RU/_strings/_sunrise/silicons/station-ai.ftl
  Resources/Prototypes/AppearanceCustomization/station_ai.yml
  Resources/Prototypes/_Sunrise/AppearanceCustomization/station_ai.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация

#3062 Расширение автозамены текста фиксы
  Resources/Locale/ru-RU/_strings/_sunrise/speech/speech-chatsan.ftl
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/XS

#3079 Добавить возможность выключать пищание мониторинга
  Content.Server/Atmos/Consoles/AtmosAlertsComputerSystem.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleComponent.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Shared/Atmos/Consoles/Components/AtmosAlertsComputerComponent.cs
  Resources/Locale/en-US/_strings/_sunrise/toggle-alert/toggle-alert.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/toggle-alert/toggle-alert.ftl
  Resources/Prototypes/Entities/Objects/Devices/base_handheld.yml
Labels: Статус: Требует Рассмотрения, Изменения: Интерфейс, Изменения: Локализация, Изменения: Аудио, size/M

#3087 Возвращение разумной болезни (БЕТА)
  Content.Client/_Sunrise/Disease/DiseaseRoleSystem.cs
  Content.Server/_Sunrise/Disease/DiseaseRoleSystem.cs
  Content.Server/_Sunrise/Disease/SickSystem.cs
  Content.Shared/_Sunrise/Disease/DiseaseRoleComponent.cs
  Content.Shared/_Sunrise/Disease/InfectEvent.cs
  Resources/Locale/en-US/_prototypes/_sunrise/actions/disease.ftl
  Resources/Locale/en-US/_strings/_sunrise/disease/disease.ftl
  Resources/Locale/en-US/_strings/_sunrise/disease/shop.ftl
  Resources/Locale/en-US/_strings/_sunrise/store/catalog.ftl
  Resources/Locale/en-US/_strings/_sunrise/store/categories.ftl
  Resources/Locale/nl-NL/_strings/_sunrise/store/categories.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/actions/disease.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/actions/disease.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/disease/disease.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/disease/shop.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/catalog.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/store/categories.ftl
  Resources/Prototypes/_Sunrise/Actions/disease.yml
  Resources/Prototypes/_Sunrise/Catalog/disease_catalog.yml
  Resources/Prototypes/_Sunrise/Roles/Antags/disease.yml
  Resources/Prototypes/_Sunrise/Store/categories.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, Изменения: Аудио, size/M

#3099 CyberSun Ind. locale fix
  Resources/Locale/ru-RU/_prototypes/entities/objects/specific/mech/mechs.ftl
  Resources/Locale/ru-RU/_strings/paper/paper-misc.ftl
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/XS

#3103 ComMaid loadout fix and suit add
  Resources/Locale/ru-RU/_strings/_sunrise/preferences/loadout-groups.ftl
  Resources/Prototypes/_Sunrise/Loadouts/Jobs/Command/commaid.yml
  Resources/Prototypes/_Sunrise/Loadouts/loadout_groups.yml
  Resources/Prototypes/_Sunrise/Loadouts/role_loadouts.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/Command/commaid.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/S

#3107 Admin log
  Content.Server/Administration/Systems/AdminCommandLoggerSystem.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/S

#3212 Empty Implanter
  Content.Server/Implants/SubdermalImplantSystem.cs
  Resources/Audio/_Starlight/Voice/gorilla.ogg
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Starlight/Polymorphs/polymorphs.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Damage/modifier_sets.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, S: Merge Conflict, Изменения: Аудио, ✅ Одобрено, size/M

#3213 Фикс вызова ОБР через рул + подтипы
  Resources/Maps/_Sunrise/Shuttles/DSO/ERT/ERT_Assault_Amber.yml
  Resources/Maps/_Sunrise/Shuttles/DSO/ERT/ERT_Assault_Gamma.yml
  Resources/Maps/_Sunrise/Shuttles/DSO/ERT/ERT_Assault_Red.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Несортированный, size/XL

#3114 vendor lot amount fix
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/M

#3144 Miso soup recipe add
  Resources/Prototypes/_Sunrise/Recipes/Cooking/meal_recipes.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/S, Отказано

#3155 Ребаланс даблы.
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/melee/e_sword.ftl
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Melee/biocode.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, Ребаланс, size/S, size/M

#3157 изменение скафов ИО
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Ребаланс, size/M

#3158 Ребаланс гипоспреев.
  Content.Shared/Chemistry/Components/HyposprayComponent.cs
  Content.Shared/Chemistry/EntitySystems/HypospraySystem.cs
  Resources/Locale/ru-RU/_strings/_sunrise/chemistry/components/hypospray-component.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Medical/hypospray.yml
Labels: Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, Ребаланс, size/S

#3166 carrying system fix
  Content.Shared/_Sunrise/Carrying/SharedCarryingSystem.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/M, size/XS

#3195 Попытка сделать адекватный градиент
  Content.Client/DisplacementMap/DisplacementMapSystem.cs
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Client/Humanoid/SingleMarkingPicker.xaml
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/_Sunrise/MarkingEffectsClient/ColorMarkingEffectUiBuilder.cs
  Content.Client/_Sunrise/MarkingEffectsClient/GradientMarkingEffectUiBuilder.cs
  Content.Client/_Sunrise/MarkingEffectsClient/IMarkingEffectUiBuilder.cs
  Content.Client/_Sunrise/MarkingEffectsClient/MarkingEffectShaders.cs
  Content.Client/_Sunrise/MarkingEffectsClient/RoughGradientMarkingEffectUiBuilder.cs
  Content.Client/_Sunrise/UserInterface/Controls/CustomColorSelectorSliders.cs
  Content.Client/_Sunrise/UserInterface/Controls/MarkingEffectSelectorSliders.cs
  Content.IntegrationTests/Tests/Preferences/ServerDbSqliteTests.cs
  Content.Server.Database/Migrations/Postgres/20250724212329_Gradient.Designer.cs
  Content.Server.Database/Migrations/Postgres/20250724212329_Gradient.cs
  Content.Server.Database/Migrations/Postgres/20250910000000_GradientFields.cs
  Content.Server.Database/Migrations/Postgres/PostgresServerDbContextModelSnapshot.cs
  Content.Server.Database/Migrations/Sqlite/20250724212307_Gradient.cs
  Content.Server.Database/Migrations/Sqlite/20250910035429_GradientFields.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20250910035429_GradientFields.cs
  Content.Server.Database/Migrations/Sqlite/SqliteServerDbContextModelSnapshot.cs
  Content.Server.Database/Model.cs
  Content.Server.Database/ModelSqlite.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/Markings/Marking.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/_Sunrise/MarkingEffects/ColorMarkingEffect.cs
  Content.Shared/_Sunrise/MarkingEffects/GradientMarkingEffect.cs
  Content.Shared/_Sunrise/MarkingEffects/MarkingEffect.cs
  Content.Shared/_Sunrise/MarkingEffects/MarkingEffectTypes.cs
  Content.Shared/_Sunrise/MarkingEffects/RoughGradientMarkingEffect.cs
  Resources/Locale/en-US/_Sunrise/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/_Sunrise/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/accessories/human-hair.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/markingeffects/markingeffects.ftl
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/_Sunrise/Shaders/shaders.yml
  Resources/Prototypes/_Sunrise/Shaders/sharders.yml
  Resources/Textures/_Sunrise/Shaders/gradient.swsl
  Resources/Textures/_Sunrise/Shaders/gradient_rough.swsl
  Resources/Textures/_Sunrise/Shaders/hair_linear_gradient.swsl
  runall.bat
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Интерфейс, Несортированный, Изменения: Локализация, Изменения: Шейдеры, size/XL, size/L

#3216 Alcohol encoding mechanics
  Content.Shared/_Sunrise/Medical/PsychologistSystem/PsychologistAbilities.cs
  Content.Shared/_Sunrise/Medical/PsychologistSystem/PsychologistComponents.cs
  Content.Shared/_Sunrise/Medical/PsychologistSystem/PsychologistEvents.cs
  Resources/Locale/en-US/_strings/_sunrise/abilities/psychologist.ftl
  Resources/Prototypes/Actions/psychologist.yml
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/M

#3220 Бакшот рулетка мапа
  Resources/Maps/_Sunrise/event/BuckshotRoulette.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, size/XL, size/L

#3228 Ребаланс дракона
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/_Sunrise/Damage/modifier_sets.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Ребаланс, size/S

#3237 Бафф пожарного топора синди
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/S

#3238 По этапное улучшение Брони СБ в раунде
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/security/modifications.ftl
  Resources/Locale/ru-RU/_prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/_strings/research/technologies.ftl
  Resources/Locale/ru-RU/recipes/tags.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_Sunrise/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Security/modifications.yml
  Resources/Prototypes/_Sunrise/Recipes/Construction/Graphs/weapons/gundupgrades.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/security.yml
  Resources/Prototypes/_Sunrise/Research/arsenal.yml
  Resources/Prototypes/_Sunrise/tags.yml
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/bulletproof.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/bulletproof.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/bulletproof.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/bulletproof.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/bulletproof.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Armor/bulletproof.rsi/meta.json
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, Ребаланс, size/M

#3246 Разделение аплинков ОБР по тегам и их асортимента
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/NTUplink.ftl
  Resources/Locale/ru-RU/_prototypes/entities/clothing/head/eva-helmets.ftl
  Resources/Locale/ru-RU/_prototypes/entities/clothing/outerclothing/softsuits.ftl
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/_Starlight/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Sunrise/Catalog/ert_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ghost_roles.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/NTUplink.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/USSP/ert.yml
  Resources/Prototypes/_Sunrise/tags.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_Starlight/Clothing/Head/cburn.rsi/equipped-head-unshaded-vox.png
  Resources/Textures/_Starlight/Clothing/Head/cburn.rsi/equipped-head-unshaded.png
  Resources/Textures/_Starlight/Clothing/Head/cburn.rsi/equipped-head-vox.png
  Resources/Textures/_Starlight/Clothing/Head/cburn.rsi/equipped-head.png
  Resources/Textures/_Starlight/Clothing/Head/cburn.rsi/icon-flash.png
  Resources/Textures/_Starlight/Clothing/Head/cburn.rsi/icon-unshaded.png
  Resources/Textures/_Starlight/Clothing/Head/cburn.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/cburn.rsi/light-overlay.png
  Resources/Textures/_Starlight/Clothing/Head/cburn.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/Head/mercenary.rsi/equipped-HELMET-vox.png
  Resources/Textures/_Starlight/Clothing/Head/mercenary.rsi/equipped-HELMET.png
  Resources/Textures/_Starlight/Clothing/Head/mercenary.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/Head/mercenary.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/cburn.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/cburn.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/cburn.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/cburn.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/cburn.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/cburn.rsi/meta.json
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/mercenary.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/mercenary.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/mercenary.rsi/icon.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/mercenary.rsi/inhand-left.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/mercenary.rsi/inhand-right.png
  Resources/Textures/_Starlight/Clothing/OuterClothing/Hardsuits/mercenary.rsi/meta.json
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/lr30.png
  Resources/Textures/_Sunrise/Interface/Misc/nt_icons.rsi/meta.json
  Tools/_sunrise/Schemas/ignore_list.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, Ребаланс, size/M

#3245 fix stun time
  Resources/Prototypes/Reagents/narcotics.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/S

#3240 Adjust Rat King and Guard stats and abilities
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/S

#3248 Починка телепортера синдиката
  Content.Server/_Sunrise/SyndicateTeleporter/SyndicateTeleporterComponent.cs
  Content.Server/_Sunrise/SyndicateTeleporter/SyndicateTeleporterSystem.cs
  Content.Shared/_Sunrise/SyndicateTeleporter/SyndicateTeleporterComponent.cs
  Resources/Prototypes/_Sunrise/Entities/Objects/Devices/Syndicate_Gadgets/syndicate_teleporter.yml
Labels: Статус: Требует Рассмотрения, Несортированный, size/M

#3250 Items biocode
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/eyes/glasses.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/weapons/guns/pistols/pistols.ftl
  Resources/Locale/ru-RU/_prototypes/entities/clothing/hands/gloves.ftl
  Resources/Locale/ru-RU/_prototypes/entities/clothing/outerclothing/armor.ftl
  Resources/Locale/ru-RU/_prototypes/entities/clothing/shoes/magboots.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Clothing/Biocode/hardsuits.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Weapons/Melee/biocode.yml
Labels: Нет C#, Несортированный, Изменения: Локализация, size/M

#3256 Новые рецепты в принтер униформ
  Resources/Prototypes/_Sunrise/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_Sunrise/Recipes/Lathes/clothing.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, size/M

#3257 Фикс костюм бригмедика, фикс имени заказа
  Resources/Locale/ru-RU/_strings/cargo/bounties.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Несортированный, Изменения: Локализация, size/XS

#3262 Фелиниды
  Content.Shared/_Sunrise/Abilities/Felinid/FelinidLickingComponent.cs
  Content.Shared/_Sunrise/Abilities/Felinid/FelinidLickingSystem.cs
  Resources/Audio/_Sunrise/Felinid/lick.ogg
  Resources/Locale/ru-RU/_strings/_sunrise/felinid/felinid.ftl
  Resources/Prototypes/_Sunrise/Actions/felinid.yml
  Resources/Prototypes/_Sunrise/Damage/modifier_sets.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/tajaran.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_Sunrise/Species/felinid.yml
  Resources/Textures/_Sunrise/Actions/felionoid.rsi/licking.png
  Resources/Textures/_Sunrise/Actions/felionoid.rsi/meta.json
Labels: Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, S: Merge Conflict, Изменения: Аудио, size/M

#3264 Новый спрайт деревянной двери
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Textures/_Sunrise/Structures/Doors/MineralDoors/wood_door.rsi/closed.png
  Resources/Textures/_Sunrise/Structures/Doors/MineralDoors/wood_door.rsi/closing.png
  Resources/Textures/_Sunrise/Structures/Doors/MineralDoors/wood_door.rsi/meta.json
  Resources/Textures/_Sunrise/Structures/Doors/MineralDoors/wood_door.rsi/open.png
  Resources/Textures/_Sunrise/Structures/Doors/MineralDoors/wood_door.rsi/opening.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, size/S, size/M

#3267 QOL для вечного пикания консоли мониторинга
  .run/Content Server+Client.run.xml
  Content.Client/Medical/CrewMonitoring/CrewMonitoringBoundUserInterface.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Shared/Medical/CrewMonitoring/CrewMonitoringShared.cs
  Resources/Locale/en-US/_strings/medical/components/crew-monitoring-component.ftl
  Resources/Locale/ru-RU/_strings/medical/components/crew-monitoring-component.ftl
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, Изменения: Локализация, S: Merge Conflict, Изменения: Аудио, size/S

#3265 NO TTS for cryo and latejoin announcements
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
Labels: Статус: Требует Рассмотрения, Несортированный, size/M, size/XS

#3269 Новые вызовы угроз для ниндзи
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/clothing/belt/belts.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/mobs/player/ussp.ftl
  Resources/Locale/ru-RU/_strings/communications/terror.ftl
  Resources/Locale/ru-RU/_strings/station-events/events/unknown-shuttle.ftl
  Resources/Maps/_Sunrise/Shuttles/infiltrator_raid.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Player/ussp.yml
  Resources/Prototypes/_Sunrise/Roles/Jobs/USSP/ussp_roles.yml
  Resources/Prototypes/threats.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Изменения: Карты, Несортированный, Изменения: Локализация, size/M

#2844 Фиксы боргов
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Server/StationEvents/Events/CargoGiftsRule.cs
  Content.Server/_Sunrise/Silicons/Laws/Components/BlockLawChangeComponent.cs
  Content.Server/_Sunrise/StationEvents/Components/EpsilonDeathSquadLawsetComponent.cs
  Content.Server/_Sunrise/StationEvents/Events/EpsilonDeathSquadLawsetRule.cs
  Resources/Locale/en-US/_prototypes/gamerules/events.ftl
  Resources/Locale/en-US/_strings/_sunrise/station-laws/laws.ftl
  Resources/Locale/en-US/_strings/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/_prototypes/gamerules/events.ftl
  Resources/Locale/ru-RU/_strings/_sunrise/station-laws/laws.ftl
  Resources/Locale/ru-RU/_strings/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Body/Organs/base.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_Sunrise/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Robotics/borg_brains.yml
  Resources/Prototypes/_Sunrise/GameRules/events.yml
  Resources/Prototypes/_Sunrise/borg_types.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Интерфейс, Несортированный, Изменения: Локализация, size/M

#3160 Угольный автоинъектор
  Resources/Locale/en-US/_prototypes/_sunrise/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/en-US/_strings/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/_prototypes/_sunrise/entities/objects/specific/medical/hypospray.ftl
  Resources/Locale/ru-RU/_strings/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/_Sunrise/Catalog/Fills/Items/medical.yml
  Resources/Prototypes/_Sunrise/Catalog/ert_uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Sunrise/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Textures/_Sunrise/Objects/Specific/Medical/medipen.rsi/coalpen.png
  Resources/Textures/_Sunrise/Objects/Specific/Medical/medipen.rsi/coalpen_empty.png
  Resources/Textures/_Sunrise/Objects/Specific/Medical/medipen.rsi/meta.json
  Resources/Textures/_Sunrise/Objects/Specific/Medical/medipen.rsi/stimpen_empty.png
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Спрайты, Несортированный, Изменения: Локализация, ✅ Одобрено, size/M

#3271 Fix shuttle v2
  Resources/Locale/ru-RU/_strings/communications/terror.ftl
  Resources/Maps/_Sunrise/Shuttles/Antag/infiltrator_raid.yml
  Resources/Maps/_Sunrise/Shuttles/DSO/ERT/ertall_amber.yml
  Resources/Maps/_Sunrise/Shuttles/DSO/ERT/ertall_gamma.yml
  Resources/Maps/_Sunrise/Shuttles/DSO/ERT/ertall_red.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/threats.yml
Labels: Нет C#, Статус: Требует Рассмотрения, Изменения: Карты, Несортированный, Изменения: Локализация, size/XL
